/*
|--------------------------------------------------------------------------
| burger
|--------------------------------------------------------------------------
*/

.burger {
    -webkit-transition: all 0.2s ease-out;
    cursor: pointer;
    @include rem('width', 22px);
    @include rem('height', 22px);
    background: transparent;
    padding: 0;
    border: none;
    position: relative;
    outline: none !important;
    margin-left: auto;

    @include media-breakpoint-up(md) {
        display: none;
    }

    &.is-open {

        .burger__item {
            height: 0;

            &:before {
                transform: translate(-50%, -50%) rotate(45deg);
                top: 50%;
                left: 50%;
            }

            &:after {
                transform: translate(-50%, -50%) rotate(-45deg);
                top: 50%;
                left: 50%;
            }
        }
    }

    &__item {
        @include center(both);
        @include rem('width', 22px);
        @include rem('height', 2px);
        background: #777;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            @include rem('width', 22px);
            @include rem('height', 2px);
            background: #777;
            -webkit-transition: all 0.2s ease-out;
        }

        &:before {
            @include rem('top', -7px)
        }

        &:after {
            @include rem('top', 7px)
        }
    }
}
