/*
|--------------------------------------------------------------------------
| bootstrap reset
|--------------------------------------------------------------------------
*/

.tooltip {


}

/*.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #fff !important;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: red !important;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #fff !important;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #fff !important;
}

.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 38, 74, 0.11);
    max-width: 220px;

    &:after {
        background-color: #fff;
    }
}*/

.tooltip-inner {
    @include rem('font-size', 12px);
    font-weight: 300;
    line-height: 1.2;
    @include rem('padding', 12px 6px);
    background-color: #333;
}

.modal {

    &.animated .modal-dialog {
        transform: translate(0, 0);
    }

    &.effect-scale {
        .modal-dialog {
            transform: scale(0.7);
            opacity: 0;
            transition: all 0.3s;
        }

        &.show .modal-dialog {
            transform: scale(1);
            opacity: 1;
        }
    }

    &.effect-slide-in-right {
        .modal-dialog {
            transform: translateX(20%);
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
        }

        &.show .modal-dialog {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &.effect-slide-in-bottom {
        .modal-dialog {
            transform: translateY(20%);
            opacity: 0;
            transition: all 0.3s;
        }

        &.show .modal-dialog {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &.effect-newspaper {
        .modal-dialog {
            transform: scale(0) rotate(720deg);
            opacity: 0;
        }

        &.show ~ .modal-backdrop, .modal-dialog {
            transition: all 0.5s;
        }

        &.show .modal-dialog {
            transform: scale(1) rotate(0deg);
            opacity: 1;
        }
    }

    &.effect-fall {
        -webkit-perspective: 1300px;
        -moz-perspective: 1300px;
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: translateZ(600px) rotateX(20deg);
            opacity: 0;
        }

        &.show .modal-dialog {
            transition: all 0.3s ease-in;
            transform: translateZ(0px) rotateX(0deg);
            opacity: 1;
        }
    }

    &.effect-flip-horizontal {
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: rotateY(-70deg);
            transition: all 0.3s;
            opacity: 0;
        }

        &.show .modal-dialog {
            transform: rotateY(0deg);
            opacity: 1;
        }
    }

    &.effect-flip-vertical {
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: rotateX(-70deg);
            transition: all 0.3s;
            opacity: 0;
        }

        &.show .modal-dialog {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    &.effect-super-scaled {
        .modal-dialog {
            transform: scale(2);
            opacity: 0;
            transition: all 0.3s;
        }

        &.show .modal-dialog {
            transform: scale(1);
            opacity: 1;
        }
    }

    &.effect-sign {
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: rotateX(-60deg);
            transform-origin: 50% 0;
            opacity: 0;
            transition: all 0.3s;
        }

        &.show .modal-dialog {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    &.effect-rotate-bottom {
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: translateY(100%) rotateX(90deg);
            transform-origin: 0 100%;
            opacity: 0;
            transition: all 0.3s ease-out;
        }

        &.show .modal-dialog {
            transform: translateY(0%) rotateX(0deg);
            opacity: 1;
        }
    }

    &.effect-rotate-left {
        perspective: 1300px;

        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: translateZ(100px) translateX(-30%) rotateY(90deg);
            transform-origin: 0 100%;
            opacity: 0;
            transition: all 0.3s;
        }

        &.show .modal-dialog {
            transform: translateZ(0px) translateX(0%) rotateY(0deg);
            opacity: 1;
        }
    }

    &.effect-just-me {
        .modal-dialog {
            transform: scale(0.8);
            opacity: 0;
            transition: all 0.3s;
        }

        .modal-content {
            background-color: $black;
        }
    }
}

.modal {

    .modal-dialog {

        @include media-breakpoint-up(sm) {
            min-width: 530px;
        }
    }

    .modal-content {
        padding: 0;
        border: none;
        @include rem('padding', 45px 25px);
        border-radius: 0;

        @include media-breakpoint-up(sm) {
            @include rem('padding', 65px);
        }
    }

    .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &__title {
        @include rem('font-size', 24px);
        color: #000;
        font-weight: 700;
        text-align: center;
        @include rem('margin-bottom', 25px);

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 36px);
        }
    }

    &__button {
        @include rem('width', 200px !important);
        margin: 0 auto !important;
        display: flex !important;
        @include rem('margin-top', 25px);
        outline: none !important;

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 17px);
        }
    }

    &__contacts {
        background-color: #F1F7FA;
        @include rem('padding', 15px 25px);
        @include rem('margin', 40px -25px -45px);

        @include media-breakpoint-up(sm) {
            @include rem('margin', 40px -65px -65px);
        }
    }

    &__contacts-info {
        @include rem('font-size', 14px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        @include media-breakpoint-up(sm) {
            margin-bottom: 0;
        }

        a {
            color: $black;
        }
    }

    &__contacts-info-icon {
        @include rem('margin-right', 5px);

        svg {
            @include rem('width', 15px);
        }
    }
}

.modal-success {

    .modal-dialog {

        @include media-breakpoint-up(sm) {
            min-width: auto;
            width: 370px;
        }
    }

    .modal-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        background: #F5F5F5;
        border: 0;
        @include rem('border-radius', 8px);
        @include rem('padding', 40px 24px 24px)
    }

    &__title {
        @include rem('font-size', 20px);
        font-weight: 700;
        color: #333;
        line-height: 1.2;
        text-align: center;
        @include rem('margin', 15px auto 10px);

        @include media-breakpoint-up(sm) {
            @include rem('font-size', 24px);
        }
    }

    &__desc {
        @include rem('font-size', 14px);
        @include rem('margin-bottom', 15px);
    }

    &__button {
        display: flex;
        width: 100% !important;
    }
}

.bm-modal {

    .modal-dialog {

        @include media-breakpoint-up(sm) {
            min-width: 700px;
        }
    }

    .modal-content {
        box-shadow: none;
        background-color: transparent;
        border: 0;
    }

    .close {
        font-size: 30px;
        line-height: 30px;
        padding: 7px 4px 7px 13px;
        text-shadow: none;
        opacity: .7;
        color:#fff;
    }

    &__embed {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        overflow: hidden;

        &::before {
            display: block;
            content: "";
            padding-top: percentage(9 / 16);
        }
    }

    &__embed-item,
    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
