/*
|--------------------------------------------------------------------------
| datepicker reset
|--------------------------------------------------------------------------
*/

.datetimepicker {
    box-shadow: none;
    border-radius: 0;
    border-width: 1px;
    border-color: $gray-300;
    min-width: 270px;
    padding: 0 10px 10px;

    &::before {
        display: none;
    }

    table {
        width: 100%;

        th {
            &.prev, &.next, &.switch {
                background-color: $white;
            }

            &.prev, &.next {
                position: relative;
            }

            &.prev span, &.next span {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            &.prev span::before, &.next span::before {
                font-family: 'Ionicons';
                position: absolute;
                top: 50%;
                font-size: 16px;
                color: $gray-900;
                line-height: 0;
            }

            &.prev {
                &:hover, &:focus {
                    background-color: $white;
                }
            }

            &.next {
                &:hover, &:focus {
                    background-color: $white;
                }
            }

            &.prev {
                &:hover span::before, &:focus span::before {
                    color: $primary;
                }
            }

            &.next {
                &:hover span::before, &:focus span::before {
                    color: $primary;
                }
            }

            &.prev span::before {
                content: '\f3cf';
                left: 0;
            }

            &.next span::before {
                content: '\f3d1';
                right: 0;
            }

            &.switch {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                letter-spacing: 1px;
                color: $gray-900;

                &:hover, &:focus {
                    background-color: $white;
                    color: $primary;
                }
            }
        }

        td {
            font-size: 0.875rem;
            text-align: center;

            &.old, &.new {
                color: $gray-500;
            }

            &.active {
                background-color: $primary;
                color: $white;

                &:hover, &:focus {
                    background-color: $primary;
                    color: $white;
                }
            }
        }

        span.active {
            background-color: $primary;
            color: $white;

            &:hover, &:focus {
                background-color: $primary;
                color: $white;
            }
        }
    }

    .datetimepicker-days table thead tr {
        &:first-child th {
            height: 38px;
        }

        &:last-child th {
            height: 25px;
            text-transform: uppercase;
            color: $gray-700;
            font-weight: 700;
            font-size: 11px;
        }
    }
}

