/*
|--------------------------------------------------------------------------
| docs
|--------------------------------------------------------------------------
*/

.docs {

    &__desc {
        @include rem('padding', 35px 25px);
        box-shadow: 0 0 25px rgba(120, 120, 120, 0.15);
        background-color: #fff;

        p {
            @include rem('margin-bottom', 10px);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__note {
        position: relative;
        cursor: pointer;

        &:hover,
        &:focus {

            &:before {
                opacity: 1;
            }

            .docs__overlay {
                opacity: 1;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .6);
            @include transition(.3s);
            opacity: 0;
        }
    }

    img {
        width: 100%;
        display: block;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        @include transition(.3s);
    }

    &__link {
        @include rem('margin-top', 10px);
    }
}
