<!-------------------------------- CONTENT ENDS HERE -------------------------------->

<!-- Back-to-top -->
<a href="#" class="back-to-top js-back-to-top">
    <i class="fas fa-angle-double-up back-to-top__icon"></i>
</a>

<!-- Currency Switcher Begin -->
<div class="currency-switcher">
    <button class="currency-switcher__toggle" data-currency="rub">
        <img class="currency-switcher__icon" src="%=static=%img/general/ruble.svg" alt="">
        <span class="currency-switcher__text">1 RUB <span class="currency-switcher__value">/ 5.46 Тенге</span></span>
    </button>
    <ul class="currency-switcher__list">
        <li>
            <a class="currency-switcher__btn" data-currency="rub">
                <img class="currency-switcher__icon" src="%=static=%img/general/ruble.svg" alt="">
                <div class="currency-switcher__text">1 RUB <span class="currency-switcher__value">/ 5.46 Тенге</span></div>
            </a>
        </li>
        <li>
            <a class="currency-switcher__btn" data-currency="usd">
                <img class="currency-switcher__icon" src="%=static=%img/general/dollar.svg" alt="">
                <div class="currency-switcher__text">1 USD  <span class="currency-switcher__value">/ 5.46 Тенге</span></div>
            </a>
        </li>
        <li>
            <a class="currency-switcher__btn" data-currency="eur">
                <img class="currency-switcher__icon" src="%=static=%img/general/euro.svg" alt="">
                <div class="currency-switcher__text">1 EUR <span class="currency-switcher__value">/ 5.46 Тенге</span></div>
            </a>
        </li>
        <li>
            <a class="currency-switcher__btn" data-currency="tng">
                <img class="currency-switcher__icon" src="%=static=%img/general/tenge.svg" alt="">
                <div class="currency-switcher__text">Тенге</div>
            </a>
        </li>
    </ul>
</div><!--/. Currency Switcher End -->

<!-- Modals Begin -->
<noindex>

    <!-- Modal Order Begin -->
    <div id="modal-order" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&#10005;</span>
                </button>
                <form>
                    <h2 class="modal__title"><span class="tx-blue">Оформить</span> заказ</h2>
                    <div class="control">
                        <div class="control__label">Ваше имя *</div>
                        <input type="text" class="control__input" placeholder="Введите имя *">
                    </div>
                    <div class="control">
                        <div class="control__label">Ваш телефон *</div>
                        <input type="text" class="control__input" placeholder="Введите телефон *">
                    </div>
                    <div class="control">
                        <div class="control__label">Ваш Email *</div>
                        <input type="text" class="control__input" placeholder="Введите Email *">
                    </div>
                    <div class="control">
                        <div class="control__label">Сообщение</div>
                        <textarea class="control__textarea" placeholder="Введите сообщение"></textarea>
                    </div>
                    <button type="submit" class="button --primary modal__button">Отправить</button>
                </form>
                <div class="row modal__contacts no-gutters">
                    <div class="col-md-3 modal__contacts-info">
                        <div class="modal__contacts-info-icon">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.6554 4.14317C9.80007 4.32176 8.88374 4.42747 7.93949 4.45261V7.06054H11.0304C11.002 6.03333 10.8738 5.04577 10.6554 4.14317Z" fill="#2074C2"/>
                                <path d="M3.09015 7.06084C3.11913 5.96449 3.25631 4.90643 3.49142 3.93527C2.7215 3.71915 2.01706 3.43974 1.40615 3.10393C0.569421 4.25854 0.0824802 5.62141 0 7.06084H3.09015Z" fill="#2074C2"/>
                                <path d="M3.09015 7.93947H0C0.0824802 9.37891 0.569421 10.7418 1.40612 11.8964C2.01703 11.5606 2.7215 11.2812 3.49142 11.065C3.25631 10.0939 3.1191 9.03583 3.09015 7.93947Z" fill="#2074C2"/>
                                <path d="M8.76394 0.507875C8.4952 0.280534 8.21925 0.127382 7.93955 0.0488281V3.57341C8.80259 3.54939 9.6375 3.45475 10.4158 3.29653C10.273 2.85995 10.107 2.4499 9.91861 2.07318C9.58019 1.39641 9.1917 0.869733 8.76394 0.507875Z" fill="#2074C2"/>
                                <path d="M3.72764 11.9102C3.08423 12.0909 2.49295 12.3187 1.97355 12.5894C2.04328 12.6649 2.11431 12.7396 2.18744 12.8128C3.03237 13.6577 4.04311 14.2765 5.1463 14.639C4.83727 14.2737 4.55147 13.8326 4.29521 13.3201C4.07836 12.8864 3.8887 12.4136 3.72764 11.9102Z" fill="#2074C2"/>
                                <path d="M5.08146 2.07318C4.89311 2.4499 4.72707 2.85995 4.58423 3.29653C5.36256 3.45475 6.19748 3.54939 7.06052 3.57341V0.0488281C6.78079 0.127411 6.50487 0.280534 6.23612 0.507875C5.80834 0.869733 5.41988 1.39641 5.08146 2.07318Z" fill="#2074C2"/>
                                <path d="M11.9098 7.93947C11.8808 9.03583 11.7437 10.0939 11.5086 11.065C12.2785 11.2812 12.983 11.5606 13.5939 11.8964C14.4306 10.7418 14.9175 9.37894 15 7.93947H11.9098Z" fill="#2074C2"/>
                                <path d="M11.2724 3.09008C11.9158 2.90938 12.507 2.68154 13.0264 2.4109C12.9567 2.33533 12.8857 2.26064 12.8125 2.18751C11.9676 1.34261 10.9569 0.723817 9.85367 0.361315C10.1627 0.726572 10.4485 1.16769 10.7048 1.68018C10.9216 2.11388 11.1113 2.58667 11.2724 3.09008Z" fill="#2074C2"/>
                                <path d="M9.91855 12.9271C10.1069 12.5503 10.2729 12.1403 10.4158 11.7037C9.63744 11.5455 8.80253 11.4508 7.93949 11.4268V14.9514C8.21922 14.8728 8.49514 14.7197 8.76388 14.4923C9.19167 14.1305 9.58016 13.6039 9.91855 12.9271Z" fill="#2074C2"/>
                                <path d="M11.5086 3.93535C11.7437 4.90651 11.8808 5.96457 11.9098 7.06093H15C14.9175 5.62149 14.4306 4.25862 13.5939 3.10404C12.983 3.43982 12.2785 3.71923 11.5086 3.93535Z" fill="#2074C2"/>
                                <path d="M7.93949 7.93947V10.5474C8.88374 10.5725 9.80005 10.6783 10.6554 10.8568C10.8738 9.95422 11.002 8.96668 11.0304 7.93947H7.93949Z" fill="#2074C2"/>
                                <path d="M7.06048 7.06054V4.45261C6.11622 4.42747 5.19992 4.32176 4.34458 4.14317C4.12615 5.0458 3.99799 6.03333 3.96951 7.06054H7.06048Z" fill="#2074C2"/>
                                <path d="M3.72764 3.09008C3.88867 2.58664 4.07836 2.11388 4.29521 1.68018C4.55147 1.16769 4.83727 0.726542 5.1463 0.361315C4.04314 0.723817 3.03237 1.34261 2.18744 2.18754C2.11431 2.26067 2.04328 2.33536 1.97355 2.41093C2.49295 2.68154 3.08423 2.90938 3.72764 3.09008Z" fill="#2074C2"/>
                                <path d="M11.2724 11.9102C11.1114 12.4136 10.9217 12.8864 10.7048 13.3201C10.4486 13.8326 10.1628 14.2737 9.85373 14.639C10.9569 14.2765 11.9677 13.6577 12.8126 12.8128C12.8857 12.7396 12.9567 12.665 13.0265 12.5894C12.5071 12.3187 11.9158 12.0909 11.2724 11.9102Z" fill="#2074C2"/>
                                <path d="M7.06048 7.93947H3.96951C3.99799 8.96671 4.12615 9.95425 4.34458 10.8568C5.19989 10.6783 6.11622 10.5725 7.06048 10.5474V7.93947Z" fill="#2074C2"/>
                                <path d="M6.23612 14.4923C6.50487 14.7197 6.78082 14.8728 7.06052 14.9514V11.4268C6.19748 11.4508 5.36256 11.5455 4.58423 11.7037C4.72707 12.1403 4.89308 12.5504 5.08146 12.9271C5.41988 13.6039 5.80834 14.1305 6.23612 14.4923Z" fill="#2074C2"/>
                            </svg>
                        </div>
                        OLP.kz
                    </div>
                    <div class="col-md-5 modal__contacts-info">
                        <div class="modal__contacts-info-icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.3952 13.1277C17.1707 13.1277 15.9684 12.9362 14.8291 12.5597C14.2708 12.3693 13.5845 12.544 13.2438 12.8939L10.995 14.5915C8.38703 13.1994 6.78057 11.5934 5.40745 9.00505L7.0551 6.81484C7.48318 6.38734 7.63672 5.76286 7.45276 5.17693C7.07464 4.03161 6.88255 2.8299 6.88255 1.6049C6.8826 0.719948 6.16266 0 5.27776 0H1.60484C0.719948 0 0 0.719948 0 1.60484C0 11.7481 8.25198 20 18.3952 20C19.2801 20 20.0001 19.2801 20.0001 18.3952V14.7325C20 13.8477 19.2801 13.1277 18.3952 13.1277Z" fill="#2074C2"/>
                            </svg>
                        </div>
                        <a href="#">+7 (495) 458-45-45</a>
                    </div>
                    <div class="col-md-4 modal__contacts-info">
                        <div class="modal__contacts-info-icon">
                            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.2422 0.382812H1.75785C1.48727 0.382812 1.23395 0.449336 1.00477 0.558984L9.96097 9.5152L11.9684 7.58602L18.9956 0.559141C18.7664 0.449414 18.5129 0.382812 18.2422 0.382812Z" fill="#2074C2"/>
                                <path d="M19.8241 1.38778L13.2115 8.00005L19.8239 14.6124C19.9335 14.3833 20 14.1299 20 13.8593V2.1406C20 1.87017 19.9337 1.61688 19.8241 1.38778Z" fill="#2074C2"/>
                                <path d="M0.176172 1.38758C0.0665234 1.61676 0 1.87008 0 2.14066V13.8594C0 14.1298 0.0664453 14.3832 0.176016 14.6123L6.78863 8.00003L0.176172 1.38758Z" fill="#2074C2"/>
                                <path d="M12.3829 8.82861L10.3753 10.758C10.2608 10.8725 10.1109 10.9297 9.96101 10.9297C9.81113 10.9297 9.66117 10.8725 9.54675 10.758L7.61722 8.82853L1.00448 15.4408C1.23369 15.5506 1.48717 15.6172 1.75784 15.6172H18.2422C18.5128 15.6172 18.7661 15.5506 18.9953 15.441L12.3829 8.82861Z" fill="#2074C2"/>
                            </svg>
                        </div>
                        <a href="#">info@olp.kz</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/. Modal Order End -->

    <!-- Modal Cta Begin -->
    <div id="modal-cta" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&#10005;</span>
                </button>
                <form>
                    <h2 class="modal__title"><span class="tx-blue">Заказать</span> звонок</h2>
                    <div class="control">
                        <div class="control__label">Ваше имя *</div>
                        <input type="text" class="control__input" placeholder="Введите имя *">
                    </div>
                    <div class="control">
                        <div class="control__label">Ваш телефон *</div>
                        <input type="text" class="control__input" placeholder="Введите телефон *">
                    </div>
                    <button type="submit" class="button --primary modal__button">Отправить</button>
                </form>
            </div>
        </div>
    </div><!--/. Modal Cta End -->

    <!-- Modal Success Begin -->
    <div id="modal-success" class="modal modal-success fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <svg width="83" height="83" viewBox="0 0 83 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="41.5" cy="41.5" r="38.5" stroke="#4DBF3B" stroke-width="6"/>
                    <path d="M40.4378 53.3783C39.1034 54.7126 36.9382 54.7126 35.6045 53.3783L28.116 45.8898C26.7816 44.556 26.7816 42.3909 28.116 41.0572C29.4498 39.7228 31.6149 39.7228 32.9493 41.0572L37.4109 45.5182C37.7478 45.8544 38.2945 45.8544 38.632 45.5182L50.7129 33.4373C52.0466 32.1029 54.2117 32.1029 55.5461 33.4373C56.1869 34.0781 56.5469 34.9475 56.5469 35.8536C56.5469 36.7597 56.1869 37.6291 55.5461 38.2699L40.4378 53.3783Z" fill="#4DBF3B"/>
                </svg>
                <div class="modal-success__title">Спасибо!</div>
                <div class="modal-success__desc">Ваша заявка успешно принята. <br>Наш менеджер скоро свяжется с вами</div>
                <a href="#" class="button --primary modal-success__button" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div><!--/. Modal Success End -->

    <!-- Video Modal Begin -->
    <div class="video-modal">
        <div class="video-modal__content">
            <iframe class="video-modal__iframe" width="100%" height="100%" frameborder="0" allowfullscreen src=></iframe>
            <a href="#" class="video-modal__close">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24">
                    <path fill="currentColor" d="M30.3448276,31.4576271 C29.9059965,31.4572473 29.4852797,31.2855701 29.1751724,30.980339 L0.485517241,2.77694915 C-0.122171278,2.13584324 -0.104240278,1.13679247 0.52607603,0.517159487 C1.15639234,-0.102473494 2.17266813,-0.120100579 2.82482759,0.477288136 L31.5144828,28.680678 C31.9872448,29.1460053 32.1285698,29.8453523 31.8726333,30.4529866 C31.6166968,31.0606209 31.0138299,31.4570487 30.3448276,31.4576271 Z"></path>
                    <path fill="currentColor" d="M1.65517241,31.4576271 C0.986170142,31.4570487 0.383303157,31.0606209 0.127366673,30.4529866 C-0.12856981,29.8453523 0.0127551942,29.1460053 0.485517241,28.680678 L29.1751724,0.477288136 C29.8273319,-0.120100579 30.8436077,-0.102473494 31.473924,0.517159487 C32.1042403,1.13679247 32.1221713,2.13584324 31.5144828,2.77694915 L2.82482759,30.980339 C2.51472031,31.2855701 2.09400353,31.4572473 1.65517241,31.4576271 Z"></path>
                </svg>
            </a>
        </div>
        <div class="video-modal__overlay"></div>
    </div><!--/. Video Modal End -->

</noindex><!--/. Modals End -->

<!-- Main scripts. You can replace it, but I recommend you to leave it here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
<script src="%=static=%js/separate-js/scripts.js"></script>
