<!doctype html>
<html class="no-js" lang="ru">
<head>
    {{> head/head}}
</head>
<body>

    {{> m-menu/m-menu}}

	<!-- App Begin -->
	<div class="app">

		<!-- App Wrapper Begin -->
		<div class="app__wrapper">

            {{> header/header}}

            <!-- App Main Begin -->
            <main role="main" class="app__main">

                <!-- About Us Begin -->
                <section class="pt-3 pb-7 pb-lg-10">
                    <div class="container">
                        <ul class="breadcrumbs">
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Главная</a>
                            </li>
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Серверы</a>
                            </li>
                        </ul>
                        <div class="section-header">
                            <h1 class="section-header__title tx-blue">О нас</h1>
                        </div>
                        <div class="about">
                            <div class="row" vertical-gutter="30">
                                <div class="col-lg-5 order-lg-last">
                                    <div class="about__img">
                                        <img src="%=static=%img/content/p2.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <p>OLP.kz компания основанная в 2020 году. Молодая компания сумевшая за короткие сроки реализовать….</p>

                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
                                </div>
                            </div>
                            <div class="row mt-3" vertical-gutter="30">
                                <div class="col-lg-5">
                                    <div class="about__img">
                                        <img src="%=static=%img/content/p3.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <p>OLP.kz компания основанная в 2020 году. Молодая компания сумевшая за короткие сроки реализовать….</p>

                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>

                                    <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><!--/. About Us End -->

                <!-- Docs Begin -->
                <section class="bg-aqua py-7">
                    <div class="container">
                        <div class="section-header">
                            <div class="section-header__title">Реквизиты</div>
                        </div>
                        <div class="docs">
                            <div class="docs__desc">
                                <h3>Реквизиты</h3>
                                <div class="row" vertical-gutter="20">
                                    <div class="col-lg-6">
                                        <p>Название компании: Газпром</p>
                                        <p>БИН: <span class="tx-medium">0934758939</span></p>
                                        <p>БИК: <span class="tx-medium">0448568696</span></p>
                                        <p>Название банка: <span class="tx-medium">Trust Bank</span></p>
                                        <p>Юридический адрес: <span class="tx-medium">142100, Московская область, город Подольск, ул. Б. Серпуховская, дом 43, офис 2</span></p>
                                        <p>Фактический адрес: <span class="tx-medium">142100, Московская область, город Подольск, ул. Б. Серпуховская, дом 43, офис 2</span></p>
                                    </div>
                                    <div class="col-lg-6">
                                        <p>E-mail: <span class="tx-medium">email1234@gmail.com</span></p>
                                        <p>Телефон: <span class="tx-medium">0 (400) 00 000 00</span></p>
                                        <p>Ф.И.О. <span class="tx-medium">Ветер Екатерине Сергеевне</span></p>
                                        <p>Должность: <span class="tx-medium">Директор</span></p>
                                        <p>На основании чего действует свидетельство о регистрации ТОО:</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4" vertical-gutter="30">
                                <div class="col-md-4">
                                    <div class="docs__note">
                                        <img src="%=static=%img/content/docs.jpg" alt="">
                                        <div class="docs__overlay">
                                            <img src="%=static=%img/general/ic-pdf.svg" alt="">
                                            <a href="#" class="button --primary docs__link">Скачать PDF</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="docs__note">
                                        <img src="%=static=%img/content/docs.jpg" alt="">
                                        <div class="docs__overlay">
                                            <img src="%=static=%img/general/ic-pdf.svg" alt="">
                                            <a href="#" class="button --primary docs__link">Скачать PDF</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="docs__note">
                                        <img src="%=static=%img/content/docs.jpg" alt="">
                                        <div class="docs__overlay">
                                            <img src="%=static=%img/general/ic-pdf.svg" alt="">
                                            <a href="#" class="button --primary docs__link">Скачать PDF</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><!--/. Docs End -->

                <!-- Docs Begin -->
                <section class="py-7 pb-lg-12">
                    <div class="container">
                        <div class="section-header">
                            <div class="section-header__title">Еще документы</div>
                        </div>
                        <div class="docs">
                            <div class="row" vertical-gutter="30">
                                <div class="col-md-4">
                                    <div class="docs__note">
                                        <img src="%=static=%img/content/docs.jpg" alt="">
                                        <div class="docs__overlay">
                                            <img src="%=static=%img/general/ic-pdf.svg" alt="">
                                            <a href="#" class="button --primary docs__link">Скачать PDF</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="docs__note">
                                        <img src="%=static=%img/content/docs.jpg" alt="">
                                        <div class="docs__overlay">
                                            <img src="%=static=%img/general/ic-pdf.svg" alt="">
                                            <a href="#" class="button --primary docs__link">Скачать PDF</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="docs__note">
                                        <img src="%=static=%img/content/docs.jpg" alt="">
                                        <div class="docs__overlay">
                                            <img src="%=static=%img/general/ic-pdf.svg" alt="">
                                            <a href="#" class="button --primary docs__link">Скачать PDF</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><!--/. Docs End -->

            </main><!--/. App Main End -->

            {{> footer/footer}}

		</div><!--/. App Wrapper End -->

	</div><!--/. App End -->

    {{> bottom/bottom}}

</body>
</html>
