<!doctype html>
<html class="no-js" lang="ru">
<head>
    {{> head/head}}
</head>
<body>

    {{> m-menu/m-menu}}

	<!-- App Begin -->
	<div class="app">

		<!-- App Wrapper Begin -->
		<div class="app__wrapper">

            {{> header/header}}

            <!-- App Main Begin -->
            <main role="main" class="app__main">

                <!-- Contacts Begin -->
                <section class="contacts pt-3">
                    <div class="container">
                        <ul class="breadcrumbs">
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Главная</a>
                            </li>
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Контакты</a>
                            </li>
                        </ul>
                        <div class="mt-4">
                            <div class="row" vertical-gutter="30">
                                <div class="col-md-6">
                                    <div class="section-header text-left">
                                        <h1 class="section-header__title">Контакты</h1>
                                    </div>
                                    <div class="contacts__info">
                                        <div class="contacts__icon">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.3952 13.1277C17.1707 13.1277 15.9684 12.9362 14.8291 12.5597C14.2708 12.3693 13.5845 12.544 13.2438 12.8939L10.995 14.5915C8.38703 13.1994 6.78057 11.5934 5.40745 9.00505L7.0551 6.81484C7.48318 6.38734 7.63672 5.76286 7.45276 5.17693C7.07464 4.03161 6.88255 2.8299 6.88255 1.6049C6.8826 0.719948 6.16266 0 5.27776 0H1.60484C0.719948 0 0 0.719948 0 1.60484C0 11.7481 8.25198 20 18.3952 20C19.2801 20 20.0001 19.2801 20.0001 18.3952V14.7325C20 13.8477 19.2801 13.1277 18.3952 13.1277Z" fill="#2074C2"/>
                                            </svg>
                                        </div>
                                        <a href="#">+7 (495) 458-45-45</a>
                                    </div>
                                    <div class="contacts__info">
                                        <div class="contacts__icon">
                                            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.2422 0.382812H1.75785C1.48727 0.382812 1.23395 0.449336 1.00477 0.558984L9.96097 9.5152L11.9684 7.58602L18.9956 0.559141C18.7664 0.449414 18.5129 0.382812 18.2422 0.382812Z" fill="#2074C2"/>
                                                <path d="M19.8241 1.38778L13.2115 8.00005L19.8239 14.6124C19.9335 14.3833 20 14.1299 20 13.8593V2.1406C20 1.87017 19.9337 1.61688 19.8241 1.38778Z" fill="#2074C2"/>
                                                <path d="M0.176172 1.38758C0.0665234 1.61676 0 1.87008 0 2.14066V13.8594C0 14.1298 0.0664453 14.3832 0.176016 14.6123L6.78863 8.00003L0.176172 1.38758Z" fill="#2074C2"/>
                                                <path d="M12.3829 8.82861L10.3753 10.758C10.2608 10.8725 10.1109 10.9297 9.96101 10.9297C9.81113 10.9297 9.66117 10.8725 9.54675 10.758L7.61722 8.82853L1.00448 15.4408C1.23369 15.5506 1.48717 15.6172 1.75784 15.6172H18.2422C18.5128 15.6172 18.7661 15.5506 18.9953 15.441L12.3829 8.82861Z" fill="#2074C2"/>
                                            </svg>
                                        </div>
                                        <a href="#">info@olp.kz</a>
                                    </div>
                                    <div class="contacts__info">
                                        <div class="contacts__icon">
                                            <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.00066 0C3.32473 0 0.333984 2.99074 0.333984 6.66668C0.333984 7.7702 0.609883 8.86434 1.13437 9.8348L6.63609 19.7852C6.70934 19.9178 6.84891 20 7.00066 20C7.15242 20 7.29199 19.9178 7.36523 19.7852L12.869 9.83152C13.3914 8.86434 13.6673 7.77016 13.6673 6.66664C13.6673 2.99074 10.6766 0 7.00066 0ZM7.00066 10C5.16269 10 3.66734 8.50465 3.66734 6.66668C3.66734 4.82871 5.16269 3.33336 7.00066 3.33336C8.83863 3.33336 10.334 4.82871 10.334 6.66668C10.334 8.50465 8.83863 10 7.00066 10Z" fill="#2074C2"/>
                                            </svg>
                                        </div>
                                        Москва, Дмитровское ш., д. 125, стр. 1, оф. 5
                                    </div>
                                    <ul class="social contacts__social">
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M8.75169 0H3.24828C1.45715 0 0 1.45715 0 3.24828V8.75178C0 10.5428 1.45715 12 3.24828 12H8.75178C10.5428 12 12 10.5428 12 8.75178V3.24828C12 1.45715 10.5428 0 8.75169 0ZM11.2965 8.75178C11.2965 10.1549 10.1549 11.2965 8.75169 11.2965H3.24828C1.84506 11.2965 0.70349 10.1549 0.70349 8.75178V3.24828C0.70349 1.84506 1.84506 0.70349 3.24828 0.70349H8.75178C10.1549 0.70349 11.2965 1.84506 11.2965 3.24828V8.75178Z" fill="white"/>
                                                    <path d="M5.9999 2.71875C4.19064 2.71875 2.71875 4.19064 2.71875 5.9999C2.71875 7.80916 4.19064 9.28106 5.9999 9.28106C7.80916 9.28106 9.28105 7.80916 9.28105 5.9999C9.28105 4.19064 7.80916 2.71875 5.9999 2.71875ZM5.9999 8.57757C4.57864 8.57757 3.42224 7.42126 3.42224 5.9999C3.42224 4.57864 4.57864 3.42224 5.9999 3.42224C7.42126 3.42224 8.57756 4.57864 8.57756 5.9999C8.57756 7.42126 7.42126 8.57757 5.9999 8.57757Z" fill="white"/>
                                                    <path d="M9.36017 1.55273C8.8255 1.55273 8.39062 1.9877 8.39062 2.52228C8.39062 3.05694 8.8255 3.49191 9.36017 3.49191C9.89483 3.49191 10.3298 3.05694 10.3298 2.52228C10.3298 1.98761 9.89483 1.55273 9.36017 1.55273ZM9.36017 2.78833C9.2135 2.78833 9.09411 2.66894 9.09411 2.52228C9.09411 2.37552 9.2135 2.25622 9.36017 2.25622C9.50692 2.25622 9.62631 2.37552 9.62631 2.52228C9.62631 2.66894 9.50692 2.78833 9.36017 2.78833Z" fill="white"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.99875 1.9925H9.09425V0.0845C8.90525 0.0585 8.25525 0 7.49825 0C5.91875 0 4.83675 0.9935 4.83675 2.8195V4.5H3.09375V6.633H4.83675V12H6.97375V6.6335H8.64625L8.91175 4.5005H6.97325V3.031C6.97375 2.4145 7.13975 1.9925 7.99875 1.9925Z" fill="white"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M6.09134 0.0917969H6.08834C2.78009 0.0917969 0.0898438 2.7828 0.0898438 6.0918C0.0898438 7.4043 0.512844 8.6208 1.23209 9.60855L0.484344 11.8375L2.79059 11.1003C3.73934 11.7288 4.87109 12.0918 6.09134 12.0918C9.39959 12.0918 12.0898 9.40005 12.0898 6.0918C12.0898 2.78355 9.39959 0.0917969 6.09134 0.0917969ZM9.58259 8.56455C9.43784 8.9733 8.86334 9.3123 8.40509 9.4113C8.09159 9.47805 7.68209 9.5313 6.30359 8.9598C4.54034 8.2293 3.40484 6.43755 3.31634 6.3213C3.23159 6.20505 2.60384 5.37255 2.60384 4.51155C2.60384 3.65055 3.04109 3.2313 3.21734 3.0513C3.36209 2.90355 3.60134 2.83605 3.83084 2.83605C3.90509 2.83605 3.97184 2.8398 4.03184 2.8428C4.20809 2.8503 4.29659 2.8608 4.41284 3.13905C4.55759 3.4878 4.91009 4.3488 4.95209 4.4373C4.99484 4.5258 5.03759 4.6458 4.97759 4.76205C4.92134 4.88205 4.87184 4.9353 4.78334 5.0373C4.69484 5.1393 4.61084 5.2173 4.52234 5.3268C4.44134 5.42205 4.34984 5.52405 4.45184 5.7003C4.55384 5.8728 4.90634 6.44805 5.42534 6.91005C6.09509 7.5063 6.63809 7.6968 6.83234 7.7778C6.97709 7.8378 7.14959 7.82355 7.25534 7.71105C7.38959 7.5663 7.55534 7.3263 7.72409 7.09005C7.84409 6.92055 7.99559 6.89955 8.15459 6.95955C8.31659 7.0158 9.17384 7.43955 9.35009 7.5273C9.52634 7.6158 9.64259 7.6578 9.68534 7.73205C9.72734 7.8063 9.72734 8.15505 9.58259 8.56455Z" fill="white"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.211955 5.78517L2.977 6.81717L4.04724 10.2591C4.11572 10.4795 4.38528 10.561 4.5642 10.4147L6.10548 9.15821C6.26704 9.02657 6.49716 9.02001 6.666 9.14257L9.44592 11.1609C9.63732 11.3 9.90848 11.1951 9.95648 10.9638L11.9929 1.16817C12.0453 0.915529 11.7971 0.704769 11.5565 0.797809L0.208715 5.17545C-0.0713245 5.28345 -0.0688845 5.67993 0.211955 5.78517ZM3.87476 6.26781L9.27868 2.93953C9.3758 2.87989 9.47572 3.01121 9.39232 3.08857L4.93252 7.23417C4.77576 7.38009 4.67464 7.57537 4.646 7.78733L4.49408 8.91317C4.47396 9.06349 4.2628 9.07841 4.22132 8.93293L3.63704 6.87993C3.57012 6.64577 3.66764 6.39565 3.87476 6.26781Z" fill="white"/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="social__item">
                                            <a href="#" class="social__link">
                                                <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M11.6545 8.27271C12.5235 4.36771 9.1025 0.82021 5.085 1.50121C2.904 0.14771 0 1.67721 0 4.27221C0 4.87571 0.1665 5.44071 0.456 5.92771C-0.3515 9.84171 3.0975 13.3382 7.1115 12.6107C9.949 14.1112 13.0845 11.1187 11.6545 8.27271ZM7.8355 10.6277C6.7815 11.0612 5.047 11.0637 3.9975 10.5142C2.501 9.71621 2.235 7.91971 3.526 7.91971C4.499 7.91971 4.191 9.05421 5.1735 9.51671C5.6245 9.72521 6.594 9.74671 7.1575 9.36671C7.714 8.99421 7.663 8.40821 7.3605 8.12821C6.559 7.38821 4.2655 7.68221 3.217 6.38671C2.7615 5.82471 2.6755 4.83321 3.2355 4.11421C4.2115 2.85821 7.0755 2.78171 8.307 3.73021C9.444 4.61021 9.137 5.77821 8.2195 5.77821C7.116 5.77821 7.696 4.33421 5.9145 4.33421C4.623 4.33421 4.115 5.25271 5.0245 5.69971C6.2575 6.31221 9.3995 6.10771 9.3995 8.50121C9.397 9.49721 8.7865 10.2397 7.8355 10.6277Z" fill="white"/>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <div class="contacts__form">
                                        <div class="contacts__form-title">У вас есть <span class="tx-blue">вопросы?</span></div>
                                        <div class="contacts__form-subtitle">Заполните форму и наш менеджер свяжется с Вами, в ближайшее время!</div>
                                        <div class="control">
                                            <div class="control__label">Ваше имя *</div>
                                            <input type="text" class="control__input" placeholder="Введите имя *">
                                        </div>
                                        <div class="control">
                                            <div class="control__label">Ваш телефон *</div>
                                            <input type="text" class="control__input" placeholder="Введите телефон *">
                                        </div>
                                        <button type="submit" class="button --primary contacts__form-button">Отправить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                    <script>
                        ymaps.ready(function () {
                            var myMap = new ymaps.Map('map', {
                                    center: [55.751574, 37.573856],
                                    zoom: 9
                                }),

                                // Creating a content layout.
                                MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                                    '<div style="color: #000; font-weight: bold;">$[properties.iconContent]</div>'
                                ),

                                myPlacemarkWithContent = new ymaps.Placemark([55.661574, 37.573856], {
                                    hintContent: 'A custom placemark icon with contents',
                                    balloonContent: '<div style="color: #01152C; font-weight: 600">OLP.kz</div><div>Москва, Дмитровское ш., д. 125, стр. 1, оф. 5</div>',
                                }, {
                                    /**
                                     * Options.
                                     * You must specify this type of layout.
                                     */
                                    iconLayout: 'default#imageWithContent',
                                    // Custom image for the placemark icon.
                                    iconImageHref: 'static/img/general/map-marker.svg',
                                    // The size of the placemark.
                                    iconImageSize: [102, 102],
                                    /**
                                     * The offset of the upper left corner of the icon relative
                                     * to its "tail" (the anchor point).
                                     */
                                    iconImageOffset: [-51, -51],
                                    // Offset of the layer with content relative to the layer with the image.
                                    iconContentOffset: [24, 16],
                                    // Content layout.
                                    iconContentLayout: MyIconContentLayout
                                });

                            myMap.geoObjects
                                .add(myPlacemarkWithContent);
                        });

                    </script>
                    <div id="map" class="contacts__map"></div>
                </section><!--/. Contacts End -->

            </main><!--/. App Main End -->

            {{> footer/footer}}

		</div><!--/. App Wrapper End -->

	</div><!--/. App End -->

    {{> bottom/bottom}}

</body>
</html>
