<!doctype html>
<html class="no-js" lang="ru">
<head>
    {{> head/head}}
</head>
<body>

    {{> m-menu/m-menu}}

	<!-- App Begin -->
	<div class="app">

		<!-- App Wrapper Begin -->
		<div class="app__wrapper">

            {{> header/header}}

            <!-- App Main Begin -->
            <main role="main" class="app__main">

                <!-- Products Begin -->
                <section class="pt-4 pb-10">
                    <div class="container">
                        <ul class="breadcrumbs mb-5">
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Главная</a>
                            </li>
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Microsoft</a>
                            </li>
                        </ul>
                        <div class="product-tabs">
                            <div class="row" vertical-gutter="10">
                                <div class="col-sm-6 col-lg-3">
                                    <a href="#" class="button --lg w-100 --active product-tabs__item">
                                        Microsoft 365<br>
                                        <small>(До 300 пользователей)</small>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <a href="#" class="button --lg w-100 product-tabs__item">
                                        Microsoft 365<br>
                                        <small>(Без ограничений)</small>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <a href="#" class="button --lg w-100 product-tabs__item">
                                        Office 365<br>
                                        <small>(Без ограничений)</small>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <a href="#" class="button --lg w-100 product-tabs__item">
                                        Exchange Online<br>
                                        <small>(Почтовые ящики)</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pt-4 pb-2 py-lg-4 px-lg-17">
                            <p class="mb-0">Microsoft 365 — это облачная среда для продуктивной работы, которая включает первоклассные приложения Office, функциональные облачные службы, управление устройствами и расширенные средства безопасности.
                                <span class="tx-medium">(До 300 пользователей)</span>
                            </p>
                        </div>
                        <div class="plans">
                            <div class="plans__slider">
                                <div class="plans__controls">
                                    <button type="button" class="plans__control --prev js-plans-slider-prev" aria-label="Пред. Слайд"></button>
                                    <div class="plans__controls-header">
                                        <div class="plans__controls-title">Для просмотра других планов проводите пальцем по экрану</div>
                                        <div class="swiper-pagination plans__pagination js-plans-slider-pagination"></div>
                                    </div>
                                    <button type="button" class="plans__control --next js-plans-slider-next" aria-label="След. Слайд"></button>
                                </div>
                                <div class="swiper-container js-plans-slider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="plans__item">
                                                <div class="plans__header">
                                                    <div class="plans__id">ID:4896</div>
                                                    <div class="plans__header-title">Microsoft 365 F3</div>
                                                    <div class="plans__header-desc">(ранее — Microsoft 365 F1 )</div>
                                                </div>
                                                <div class="plans__body">
                                                    <div class="plans__desc">
                                                        <p>Специализированные инструменты и ресурсы для сотрудников без компьютеров, которые помогут им трудиться с максимальной отдачей.</p>
                                                    </div>
                                                    <div class="plans__divider"></div>
                                                    <p class="tx-medium">Премиум-версии приложений Microsoft входят в состав подписки</p>
                                                    <p>Только мобильные и веб-версии приложений Word, Excel и PowerPoint.</p>
                                                    <div class="plans__divider"></div>
                                                    <p class="tx-medium">Безопасные облачные службы в составе подписки</p>
                                                    <div class="plans__products">
                                                        <div class="row justify-content-center" data-gutter="10" vertical-gutter="15">
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/sharepoint.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">SharePoint</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="plans__footer">
                                                        <div class="plans__divider"></div>
                                                        <div class="plans__price">USD $10.00</div>
                                                        <p>на пользователя в месяц (подписка на год) Цена не включает налоги</p>
                                                        <a href="#modal-order" class="button --primary plans__button" data-toggle="modal">Заказать</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="plans__item">
                                                <div class="plans__header justify-content-end">
                                                    <div class="plans__id">ID:4896</div>
                                                    <div class="plans__header-title">Приложения Microsoft 365 для предприятий</div>
                                                    <div class="plans__header-desc">(ранее — Office 365 профессиональный плюс)</div>
                                                </div>
                                                <div class="plans__body">
                                                    <div class="plans__desc">
                                                        <p>Выпуск для предприятий, в состав которого входят приложения Office и облачное хранилище с контролем доступа к файлам. В план не входит корпоративная почта.</p>
                                                    </div>
                                                    <div class="plans__divider"></div>
                                                    <p class="tx-medium">Премиум-версии приложений Microsoft входят в состав подписки</p>
                                                    <div class="plans__products">
                                                        <div class="row" data-gutter="10" vertical-gutter="15">
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/outlook.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Outlook</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/word.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Word</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/excel.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Excel</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/access.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Access</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/powerpoint.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">PowerPoint</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/publisher.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Publisher</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="plans__divider"></div>
                                                    <p class="tx-medium">Безопасные облачные службы в составе подписки</p>
                                                    <div class="plans__products">
                                                        <div class="row justify-content-center" data-gutter="10" vertical-gutter="15">
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/exchange.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Exchange</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/onedrive.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">OneDrive</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/sharepoint.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">sharepoint</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="plans__footer">
                                                        <div class="plans__divider"></div>
                                                        <div class="plans__price">USD $12.00</div>
                                                        <p>на пользователя в месяц (подписка на год) Цена не включает налоги</p>
                                                        <a href="#modal-order" class="button --primary plans__button" data-toggle="modal">Заказать</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="plans__item">
                                                <div class="plans__header">
                                                    <div class="plans__id">ID:4896</div>
                                                    <div class="plans__header-title">Microsoft 365 E3</div>
                                                </div>
                                                <div class="plans__body">
                                                    <div class="plans__desc">
                                                        <p>Доступ к основным продуктам и функциям Microsoft 365 для повышения продуктивности, обеспечения безопасности и эффективного внедрения инноваций.</p>
                                                    </div>
                                                    <div class="plans__divider"></div>
                                                    <p class="tx-medium">Премиум-версии приложений Microsoft входят в состав подписки</p>
                                                    <div class="plans__products">
                                                        <div class="row" data-gutter="10" vertical-gutter="15">
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/outlook.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Outlook</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/word.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Word</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/excel.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Excel</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/access.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Access</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/powerpoint.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">PowerPoint</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/publisher.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Publisher</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="plans__divider"></div>
                                                    <p class="tx-medium">Безопасные облачные службы в составе подписки</p>
                                                    <div class="plans__products">
                                                        <div class="row justify-content-center" data-gutter="10" vertical-gutter="15">
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/powerbi.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Power BI</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/myanalytics.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">MyAnalytics</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/yammer.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Yammer</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/stream.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Stream</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/sharepoint.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">SharePoint</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/powerapps.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">PowerApps</div>
                                                            </div>

                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/planner.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Planner</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/forms.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Forms</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/flow.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Flow</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/todo.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">To-Do</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="plans__footer">
                                                        <div class="plans__divider"></div>
                                                        <div class="plans__price">USD $32.00</div>
                                                        <p>на пользователя в месяц (подписка на год) Цена не включает налоги</p>
                                                        <a href="#modal-order" class="button --primary plans__button" data-toggle="modal">Заказать</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="plans__item">
                                                <div class="plans__header">
                                                    <div class="plans__id">ID:4896</div>
                                                    <div class="plans__header-title">Microsoft 365 E5 – без поддержки аудиоконференции</div>
                                                </div>
                                                <div class="plans__body">
                                                    <div class="plans__desc">
                                                        <p>Доступ к новейшим продуктам и функциям Microsoft 365, в том числе к средствам расширенной защиты от угроз, обеспечения безопасности и совместной работы.1</p>
                                                    </div>
                                                    <div class="plans__divider"></div>
                                                    <p class="tx-medium">Премиум-версии приложений Microsoft входят в состав подписки</p>
                                                    <div class="plans__products">
                                                        <div class="row" data-gutter="10" vertical-gutter="15">
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/outlook.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Outlook</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/word.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Word</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/excel.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Excel</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/access.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Access</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/powerpoint.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">PowerPoint</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/publisher.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Publisher</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="plans__divider"></div>
                                                    <p class="tx-medium">Безопасные облачные службы в составе подписки</p>
                                                    <div class="plans__products">
                                                        <div class="row justify-content-center" data-gutter="10" vertical-gutter="15">
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/powerbi.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Power BI</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/myanalytics.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">MyAnalytics</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/yammer.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Yammer</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/stream.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Stream</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/sharepoint.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">SharePoint</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/powerapps.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">PowerApps</div>
                                                            </div>

                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/planner.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Planner</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/forms.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Forms</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/flow.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">Flow</div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="plans__product-img">
                                                                    <img src="%=static=%img/content/todo.png" alt="">
                                                                </div>
                                                                <div class="plans__product-title">To-Do</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="plans__footer">
                                                        <div class="plans__divider"></div>
                                                        <div class="plans__price">USD $57.00</div>
                                                        <p>на пользователя в месяц (подписка на год) Цена не включает налоги</p>
                                                        <a href="#modal-order" class="button --primary plans__button" data-toggle="modal">Заказать</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-features">

                        <div class="product-features__header js-sticky-menu">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 product-features__th">
                                        <div class="switch">
                                            <input id="productFeaturesCheckbox" type="checkbox" class="switch__checkbox" checked />
                                            <label for="productFeaturesCheckbox" class="switch__label">
                                                <span class="switch__circle"></span>
                                                <span class="switch__left"></span>
                                                <span class="switch__right"></span>
                                            </label>
                                            <label for="productFeaturesCheckbox" class="switch__title">
                                                <span>Развернуть всё</span>
                                                <span>Свернуть всё</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 product-features__th">Microsoft 365 F</div>
                                    <div class="col-lg-2 product-features__th">Приложения Microsoft 365 для предприятий</div>
                                    <div class="col-lg-2 product-features__th">Microsoft 365 E3</div>
                                    <div class="col-lg-2 product-features__th">Microsoft 365 E5 – без поддержки аудиоконференции</div>
                                </div>
                            </div>
                        </div>

                        <div class="product-features__list" id="product-features">
                            <div class="product-features__item">
                                <a href="#productFeatures1" class="product-features__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="productFeatures1">
                                    <div class="product-features__title"><span>1.</span> Покрытие лицензии </div>
                                </a>
                                <div id="productFeatures1" class="collapse" data-parent="#product-features">
                                    <div class="container">
                                        <div class="product-features__body">
                                            <div class="row">
                                                <div class="col-lg-4 product-features__td">
                                                    <div class="product-features__desc">
                                                        <span>1.1</span>
                                                        Возможность установить на ПК и Mac. Вы можете пользоваться полноценным интерфейсом Office на компютерах, Mac, планшетах Windows, Android и iPad, а также на большинстве мобильных устроиств. Каждый пользователь может установить Office на 5 компютерах или устройствах Mac, 5 планшетах (Windows, iPad и Android) и 5 телефонах.
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 product-features__td">
                                                    <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                </div>
                                                <div class="col-lg-2 product-features__td">5 на пользователя</div>
                                                <div class="col-lg-2 product-features__td">5 на пользователя</div>
                                                <div class="col-lg-2 product-features__td">5 на пользователя</div>
                                            </div>
                                            <div class="product-features__divider"></div>
                                            <div class="row">
                                                <div class="col-lg-4 product-features__td">
                                                    <div class="product-features__desc">
                                                        <span>1.2</span>
                                                        Телефонов и планшетов на пользователя.
                                                        *Всегда актуальные версии Word, Excel, PowerPoint и OneNote для устройств с iOS и Android — можно установить на пять мобильных устройств и пять планшетов.
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 product-features__td">
                                                    5<br>
                                                    *Мобильные приложения Office доступны только для устройств с интегрированными экранами диагональю не более 10,1 дюйма.
                                                </div>
                                                <div class="col-lg-2 product-features__td">5</div>
                                                <div class="col-lg-2 product-features__td">5 <br>А также Outlook</div>
                                                <div class="col-lg-2 product-features__td">5 <br>А также Outlook</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-features__item">
                                <a href="#productFeatures2" class="product-features__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="productFeatures2">
                                    <div class="product-features__title"><span>2.</span> Приложения Office </div>
                                </a>
                                <div id="productFeatures2" class="collapse" data-parent="#product-features">
                                    <div class="container">
                                        <div class="product-features__body">
                                            <div class="row">
                                                <div class="col-lg-4 product-features__td">
                                                    <div class="product-features__desc">
                                                        <span>2.1</span>
                                                        <div class="product-features__icon" style="background-image: url('%=static=%img/content/outlook.png')">
                                                            <a href="#productSubFeatures1" class="product-features__sub-toggle" data-toggle="collapse" aria-expanded="false" aria-controls="productSubFeatures1"></a>
                                                        </div>
                                                        <p><strong>Outlook</strong><br>(упорядочьте электронную почту, скоординируйте расписание и оставайтесь на связи с контактами)</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 product-features__td">
                                                    <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                </div>
                                                <div class="col-lg-2 product-features__td">
                                                    <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                </div>
                                                <div class="col-lg-2 product-features__td">
                                                    <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                </div>
                                                <div class="col-lg-2 product-features__td">
                                                    <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                </div>
                                            </div>
                                            <div id="productSubFeatures1" class="collapse">
                                                <div class="product-features__divider"></div>
                                                <div class="row">
                                                    <div class="col-lg-4 product-features__td">
                                                        <div class="product-features__desc">
                                                            <span>2.2</span>
                                                            <p><strong>Outlook</strong><br>(упорядочьте электронную почту, скоординируйте расписание и оставайтесь на связи с контактами)</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 product-features__td">
                                                        <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                    </div>
                                                    <div class="col-lg-2 product-features__td">
                                                        <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                    </div>
                                                    <div class="col-lg-2 product-features__td">
                                                        <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                    </div>
                                                    <div class="col-lg-2 product-features__td">
                                                        <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                    </div>
                                                </div>
                                                <div class="product-features__divider"></div>
                                                <div class="row">
                                                    <div class="col-lg-4 product-features__td">
                                                        <div class="product-features__desc">
                                                            <span>2.3</span>
                                                            <p><strong>Outlook</strong><br>(упорядочьте электронную почту, скоординируйте расписание и оставайтесь на связи с контактами)</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 product-features__td">
                                                        <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                    </div>
                                                    <div class="col-lg-2 product-features__td">
                                                        <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                    </div>
                                                    <div class="col-lg-2 product-features__td">
                                                        <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                    </div>
                                                    <div class="col-lg-2 product-features__td">
                                                        <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-features__divider"></div>
                                            <div class="row">
                                                <div class="col-lg-4 product-features__td">
                                                    <div class="product-features__desc">
                                                        <span>2.2</span>
                                                        <div class="product-features__icon" style="background-image: url('%=static=%img/content/word.png')"></div>
                                                        <p><strong>Word</strong><br>(упорядочьте электронную почту, скоординируйте расписание и оставайтесь на связи с контактами)</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 product-features__td">
                                                    <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                </div>
                                                <div class="col-lg-2 product-features__td">
                                                    <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                </div>
                                                <div class="col-lg-2 product-features__td">
                                                    <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                </div>
                                                <div class="col-lg-2 product-features__td">
                                                    <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-success.svg')"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Слайдер Для мобильной версии -->
                        <div class="product-features__xs-list" id="product-features-mobile">
                            <div class="swiper-container js-features-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product-features__item">
                                            <a href="#productFeaturesMobile1" class="product-features__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="productFeaturesMobile1">
                                                <div class="product-features__title"><span>1.</span> Покрытие лицензии </div>
                                            </a>
                                            <div id="productFeaturesMobile1" class="collapse" data-parent="#product-features-mobile">
                                                <div class="container">
                                                    <div class="product-features__body">
                                                        <div class="row">
                                                            <div class="col-7 product-features__td">
                                                                <div class="product-features__desc">
                                                                    <span>1.1</span>
                                                                    Возможность установить на ПК и Mac. Вы можете пользоваться полноценным интерфейсом Office на компютерах, Mac, планшетах Windows, Android и iPad, а также на большинстве мобильных устроиств. Каждый пользователь может установить Office на 5 компютерах или устройствах Mac, 5 планшетах (Windows, iPad и Android) и 5 телефонах.
                                                                </div>
                                                            </div>
                                                            <div class="col-5 product-features__td">
                                                                <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                            </div>
                                                        </div>
                                                        <div class="product-features__divider"></div>
                                                        <div class="row">
                                                            <div class="col-7 product-features__td">
                                                                <div class="product-features__desc">
                                                                    <span>2.2</span>
                                                                    <div class="product-features__icon" style="background-image: url('%=static=%img/content/word.png')">
                                                                        <a href="#productSubFeatures2" class="product-features__sub-toggle" data-toggle="collapse" aria-expanded="false" aria-controls="productSubFeatures2"></a>
                                                                    </div>
                                                                    <p><strong>Word</strong><br>(упорядочьте электронную почту, скоординируйте расписание и оставайтесь на связи с контактами)</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-5 product-features__td">
                                                                <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                            </div>
                                                        </div>
                                                        <div id="productSubFeatures2" class="collapse">
                                                            <div class="product-features__divider"></div>
                                                            <div class="row">
                                                                <div class="col-7 product-features__td">
                                                                    <div class="product-features__desc">
                                                                        <span>2.2</span>
                                                                        <p><strong>Outlook</strong><br>(упорядочьте электронную почту, скоординируйте расписание и оставайтесь на связи с контактами)</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-5 product-features__td">
                                                                    <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-features__item">
                                            <a href="#productFeaturesMobile2" class="product-features__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="productFeaturesMobile2">
                                                <div class="product-features__title"><span>1.</span> Покрытие лицензии </div>
                                            </a>
                                            <div id="productFeaturesMobile2" class="collapse" data-parent="#product-features-mobile">
                                                <div class="container">
                                                    <div class="product-features__body">
                                                        <div class="row">
                                                            <div class="col-7 product-features__td">
                                                                <div class="product-features__desc">
                                                                    <span>1.1</span>
                                                                    Возможность установить на ПК и Mac. Вы можете пользоваться полноценным интерфейсом Office на компютерах, Mac, планшетах Windows, Android и iPad, а также на большинстве мобильных устроиств. Каждый пользователь может установить Office на 5 компютерах или устройствах Mac, 5 планшетах (Windows, iPad и Android) и 5 телефонах.
                                                                </div>
                                                            </div>
                                                            <div class="col-5 product-features__td">
                                                                <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                            </div>
                                                        </div>
                                                        <div class="product-features__divider"></div>
                                                        <div class="row">
                                                            <div class="col-7 product-features__td">
                                                                <div class="product-features__desc">
                                                                    <span>2.2</span>
                                                                    <div class="product-features__icon" style="background-image: url('%=static=%img/content/word.png')"></div>
                                                                    <p><strong>Word</strong><br>(упорядочьте электронную почту, скоординируйте расписание и оставайтесь на связи с контактами)</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-5 product-features__td">
                                                                <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-features__item">
                                            <a href="#productFeaturesMobile3" class="product-features__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="productFeaturesMobile3">
                                                <div class="product-features__title"><span>1.</span> Покрытие лицензии </div>
                                            </a>
                                            <div id="productFeaturesMobile3" class="collapse" data-parent="#product-features-mobile">
                                                <div class="container">
                                                    <div class="product-features__body">
                                                        <div class="row">
                                                            <div class="col-7 product-features__td">
                                                                <div class="product-features__desc">
                                                                    <span>1.1</span>
                                                                    Возможность установить на ПК и Mac. Вы можете пользоваться полноценным интерфейсом Office на компютерах, Mac, планшетах Windows, Android и iPad, а также на большинстве мобильных устроиств. Каждый пользователь может установить Office на 5 компютерах или устройствах Mac, 5 планшетах (Windows, iPad и Android) и 5 телефонах.
                                                                </div>
                                                            </div>
                                                            <div class="col-5 product-features__td">
                                                                <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                            </div>
                                                        </div>
                                                        <div class="product-features__divider"></div>
                                                        <div class="row">
                                                            <div class="col-7 product-features__td">
                                                                <div class="product-features__desc">
                                                                    <span>2.2</span>
                                                                    <div class="product-features__icon" style="background-image: url('%=static=%img/content/word.png')"></div>
                                                                    <p><strong>Word</strong><br>(упорядочьте электронную почту, скоординируйте расписание и оставайтесь на связи с контактами)</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-5 product-features__td">
                                                                <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product-features__item">
                                            <a href="#productFeaturesMobile4" class="product-features__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="productFeaturesMobile4">
                                                <div class="product-features__title"><span>1.</span> Покрытие лицензии </div>
                                            </a>
                                            <div id="productFeaturesMobile4" class="collapse" data-parent="#product-features-mobile">
                                                <div class="container">
                                                    <div class="product-features__body">
                                                        <div class="row">
                                                            <div class="col-7 product-features__td">
                                                                <div class="product-features__desc">
                                                                    <span>1.1</span>
                                                                    Возможность установить на ПК и Mac. Вы можете пользоваться полноценным интерфейсом Office на компютерах, Mac, планшетах Windows, Android и iPad, а также на большинстве мобильных устроиств. Каждый пользователь может установить Office на 5 компютерах или устройствах Mac, 5 планшетах (Windows, iPad и Android) и 5 телефонах.
                                                                </div>
                                                            </div>
                                                            <div class="col-5 product-features__td">
                                                                <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                            </div>
                                                        </div>
                                                        <div class="product-features__divider"></div>
                                                        <div class="row">
                                                            <div class="col-7 product-features__td">
                                                                <div class="product-features__desc">
                                                                    <span>2.2</span>
                                                                    <div class="product-features__icon" style="background-image: url('%=static=%img/content/word.png')"></div>
                                                                    <p><strong>Word</strong><br>(упорядочьте электронную почту, скоординируйте расписание и оставайтесь на связи с контактами)</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-5 product-features__td">
                                                                <div class="product-features__availability" style="background-image: url('%=static=%img/general/ic-close_red.svg')"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section><!--/. Products End -->

            </main><!--/. App Main End -->

            {{> footer/footer}}

		</div><!--/. App Wrapper End -->

	</div><!--/. App End -->

    {{> bottom/bottom}}

</body>
</html>
