<!doctype html>
<html class="no-js" lang="ru">
<head>
    {{> head/head}}
</head>
<body>

    {{> m-menu/m-menu}}

	<!-- App Begin -->
	<div class="app">

		<!-- App Wrapper Begin -->
		<div class="app__wrapper">

            {{> header/header}}

            <!-- App Main Begin -->
            <main role="main" class="app__main">

                <!-- App Header Begin -->
                <div class="app__header" style="background-image: url('%=static=%img/content/pattern2.jpg')">
                    <div class="container">
                        <ul class="breadcrumbs">
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Главная</a>
                            </li>
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Серверы</a>
                            </li>
                        </ul>
                        <h1 class="app__header-title">
                            <img src="%=static=%img/general/mini-server.svg" class="mr-2" alt="">
                            Серверы
                        </h1>
                    </div>
                </div><!--/. App Header End -->

                <!-- Servers Begin -->
                <section class="pt-4 pb-10">
                    <div class="container">
                        <div class="product-tabs">
                            <div class="row" vertical-gutter="10">
                                <div class="col-md-6">
                                    <a href="#" class="button --lg w-100 flex-row product-tabs__item">
                                        <img class="button__icon" src="%=static=%img/general/ic-servers.svg" alt="">
                                        Б/У серверы
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="button --lg w-100 flex-row --active product-tabs__item">
                                        <img class="button__icon" src="%=static=%img/general/ic-accessories.svg" alt="">
                                        Комплектующие
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="server-components">
                        <div class="server-components__header">
                            <div class="container">
                                <div class="server-components__row">
                                    <div class="server-components__th">ID</div>
                                    <div class="server-components__th">Наименование</div>
                                    <div class="server-components__th">Цена за единицу</div>
                                    <div class="server-components__th">
                                        <div class="switch">
                                            <input id="serverComponentsCheckbox" type="checkbox" class="switch__checkbox" checked />
                                            <label for="serverComponentsCheckbox" class="switch__label">
                                                <span class="switch__circle"></span>
                                                <span class="switch__left"></span>
                                                <span class="switch__right"></span>
                                            </label>
                                            <label for="serverComponentsCheckbox" class="switch__title">
                                                <span>Развернуть всё</span>
                                                <span>Свернуть всё</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="components">
                            <div class="server-components__item">
                                <a href="#component1" class="server-components__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="component1">
                                    <div class="server-components__title" style="background-image: url('%=static=%img/general/ic-ram.svg')">RAM (оперативная память)</div>
                                </a>
                                <div id="component1" class="collapse" data-parent="#components">
                                    <div class="server-components__body">
                                        <div class="container">
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 32Gb PC3L-10600R</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 4Gb PC3-10600R</div>
                                                <div class="server-components__price">4 200 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR4 16GB PC4-2133P</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="server-components__item">
                                <a href="#component2" class="server-components__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="component2">
                                    <div class="server-components__title" style="background-image: url('%=static=%img/general/ic-chip.svg')">RAM (оперативная память)</div>
                                </a>
                                <div id="component2" class="collapse" data-parent="#components">
                                    <div class="server-components__body">
                                        <div class="container">
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 32Gb PC3L-10600R</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 4Gb PC3-10600R</div>
                                                <div class="server-components__price">4 200 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR4 16GB PC4-2133P</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="server-components__item">
                                <a href="#component3" class="server-components__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="component3">
                                    <div class="server-components__title" style="background-image: url('%=static=%img/general/ic-raid.svg')">RAM (оперативная память)</div>
                                </a>
                                <div id="component3" class="collapse" data-parent="#components">
                                    <div class="server-components__body">
                                        <div class="container">
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 32Gb PC3L-10600R</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 4Gb PC3-10600R</div>
                                                <div class="server-components__price">4 200 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR4 16GB PC4-2133P</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="server-components__item">
                                <a href="#component4" class="server-components__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="component4">
                                    <div class="server-components__title" style="background-image: url('%=static=%img/general/ic-ram.svg')">RAM (оперативная память)</div>
                                </a>
                                <div id="component4" class="collapse" data-parent="#components">
                                    <div class="server-components__body">
                                        <div class="container">
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 32Gb PC3L-10600R</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 4Gb PC3-10600R</div>
                                                <div class="server-components__price">4 200 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR4 16GB PC4-2133P</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="server-components__item">
                                <a href="#component5" class="server-components__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="component5">
                                    <div class="server-components__title" style="background-image: url('%=static=%img/general/ic-chip.svg')">RAM (оперативная память)</div>
                                </a>
                                <div id="component5" class="collapse" data-parent="#components">
                                    <div class="server-components__body">
                                        <div class="container">
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 32Gb PC3L-10600R</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 4Gb PC3-10600R</div>
                                                <div class="server-components__price">4 200 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR4 16GB PC4-2133P</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="server-components__item">
                                <a href="#component6" class="server-components__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="component6">
                                    <div class="server-components__title" style="background-image: url('%=static=%img/general/ic-hdd.svg')">RAM (оперативная память)</div>
                                </a>
                                <div id="component6" class="collapse" data-parent="#components">
                                    <div class="server-components__body">
                                        <div class="container">
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 32Gb PC3L-10600R</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR3 4Gb PC3-10600R</div>
                                                <div class="server-components__price">4 200 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                            <div class="server-components__desc">
                                                <div class="server-components__number">4896</div>
                                                <div class="server-components__name">Модуль памяти DDR4 16GB PC4-2133P</div>
                                                <div class="server-components__price">71 400 руб.</div>
                                                <a href="#modal-cta" class="button --primary server-components__button">Заказать</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><!--/. Servers End -->

            </main><!--/. App Main End -->

            {{> footer/footer}}

		</div><!--/. App Wrapper End -->

	</div><!--/. App End -->

    {{> bottom/bottom}}

</body>
</html>
