<!doctype html>
<html class="no-js" lang="ru">
<head>
    {{> head/head}}
</head>
<body>

    {{> m-menu/m-menu}}

	<!-- App Begin -->
	<div class="app">

		<!-- App Wrapper Begin -->
		<div class="app__wrapper">

            {{> header/header}}

            <!-- App Main Begin -->
            <main role="main" class="app__main">

                <!-- App Header Begin -->
                <div class="app__header" style="background-image: url('%=static=%img/content/pattern2.jpg')">
                    <div class="container">
                        <ul class="breadcrumbs">
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Главная</a>
                            </li>
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Серверы</a>
                            </li>
                        </ul>
                        <h1 class="app__header-title">
                            <img src="%=static=%img/general/mini-server.svg" class="mr-2" alt="">
                            Серверы
                        </h1>
                    </div>
                </div><!--/. App Header End -->

                <!-- Servers Begin -->
                <section class="pt-4 pb-10">
                    <div class="container">
                        <div class="product-tabs">
                            <div class="row" vertical-gutter="10">
                                <div class="col-md-6">
                                    <a href="#" class="button --lg w-100 flex-row --active product-tabs__item">
                                        <img class="button__icon" src="%=static=%img/general/ic-servers.svg" alt="">
                                        Б/У серверы
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="button --lg w-100 flex-row product-tabs__item">
                                        <img class="button__icon" src="%=static=%img/general/ic-accessories.svg" alt="">
                                        Комплектующие
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="filters mt-4 mb-3">
                            <a href="#filters" class="filters__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="filters">Фильтр</a>
                            <div class="filters__header">Фильтр</div>
                            <div id="filters" class="filters__collapse collapse">
                                <div class="filters__content">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="control">
                                            <select class="control__select">
                                                <option selected>Тип сервера</option>
                                                <option value="WEB server">WEB server 2</option>
                                                <option value="WEB server">WEB server 3</option>
                                                <option value="WEB server">WEB server 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="control">
                                            <select class="control__select">
                                                <option selected>Брэнд</option>
                                                <option value="WEB server">WEB server 2</option>
                                                <option value="WEB server">WEB server 3</option>
                                                <option value="WEB server">WEB server 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="control">
                                            <select class="control__select">
                                                <option selected>Форм фактор</option>
                                                <option value="WEB server">WEB server 2</option>
                                                <option value="WEB server">WEB server 3</option>
                                                <option value="WEB server">WEB server 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="control">
                                            <select class="control__select">
                                                <option selected>Цена</option>
                                                <option value="WEB server">WEB server 2</option>
                                                <option value="WEB server">WEB server 3</option>
                                                <option value="WEB server">WEB server 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row" vertical-gutter="30">
                            <div class="col-lg-6">
                                <div class="server">
                                    <div class="server__ribbon-wrapper">
                                        <div class="server__ribbon --promo">Скидка</div>
                                        <div class="server__ribbon --new">Новинка</div>
                                    </div>
                                    <div class="server__header">
                                        <div class="server__name">Сервер для интернет магазина </div>
                                        <div class="server__id">ID:4896</div>
                                        <div class="server__img">
                                            <img src="%=static=%img/content/p2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="server__content">
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-money.svg')">Цена</div>
                                            <div class="server__subtitle"><s>1 500 000 тг. </s><strong>1 000 000 тг.</strong></div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-size.svg')">Размер</div>
                                            <div class="server__subtitle">1 Unit</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-insurance.svg')">Производитель</div>
                                            <div class="server__subtitle">HP</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-design.svg')">Модель</div>
                                            <div class="server__subtitle">HP DL360 G7</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-chip.svg')">Процессор</div>
                                            <div class="server__subtitle">2 x  Intel Xeon E5620, 2.4 Ghz
                                                (8 ядер, 16 потоков)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-ram.svg')">Оперативная память</div>
                                            <div class="server__subtitle">64 GB (DDR3)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-hdd.svg')">Жесткие диски</div>
                                            <div class="server__subtitle">2 x 250 GB SSD, 2'5 (Raid 1)<br>
                                                2 x 1 TB HDD 7.2K, 3'5 (Raid 1)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-raid.svg')">Raid контроллер</div>
                                            <div class="server__subtitle">6 Gbit/s</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-power-supply.svg')">Блок питания</div>
                                            <div class="server__subtitle">2 шт. по 500W</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-connector.svg')">Ethernet порт</div>
                                            <div class="server__subtitle">2 порта</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-plate.svg')">Салазки (крепления в стойку)</div>
                                            <div class="server__subtitle">в комплекте</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-warranty.svg')">Гарантия</div>
                                            <div class="server__subtitle">1 год.</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-servers.svg')">Примерная стоимость размещения в дата-центре (Colocation)</div>
                                            <div class="server__subtitle">PS: от 25 000 тг/мес<br>
                                                Кахтелеком: от 35 000 тг/мес<br>
                                                Транстелеком: от 30 000 тг/мес</div>
                                        </div>
                                    </div>
                                    <div class="server__footer">
                                        <a href="#modal-cta" class="button --primary server__button" data-toggle="modal">Заказать</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="server">
                                    <div class="server__ribbon-wrapper">
                                        <div class="server__ribbon --new">Новинка</div>
                                        <div class="server__ribbon --promo">Скидка</div>
                                        <div class="server__ribbon --hit">Хит продаж</div>
                                    </div>
                                    <div class="server__header">
                                        <div class="server__name">Сервер для крупных проектов</div>
                                        <div class="server__id">ID:4896</div>
                                        <div class="server__img">
                                            <img src="%=static=%img/content/p3.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="server__content">
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-money.svg')">Цена</div>
                                            <div class="server__subtitle"><strong>1 000 000 тг.</strong></div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-size.svg')">Размер</div>
                                            <div class="server__subtitle">1 Unit</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-insurance.svg')">Производитель</div>
                                            <div class="server__subtitle">HP</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-design.svg')">Модель</div>
                                            <div class="server__subtitle">HP DL360 G7</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-chip.svg')">Процессор</div>
                                            <div class="server__subtitle">2 x  Intel Xeon E5620, 2.4 Ghz
                                                (8 ядер, 16 потоков)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-ram.svg')">Оперативная память</div>
                                            <div class="server__subtitle">64 GB (DDR3)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-hdd.svg')">Жесткие диски</div>
                                            <div class="server__subtitle">2 x 250 GB SSD, 2'5 (Raid 1)<br>
                                                2 x 1 TB HDD 7.2K, 3'5 (Raid 1)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-raid.svg')">Raid контроллер</div>
                                            <div class="server__subtitle">6 Gbit/s</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-power-supply.svg')">Блок питания</div>
                                            <div class="server__subtitle">2 шт. по 500W</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-connector.svg')">Ethernet порт</div>
                                            <div class="server__subtitle">2 порта</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-plate.svg')">Салазки (крепления в стойку)</div>
                                            <div class="server__subtitle">в комплекте</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-warranty.svg')">Гарантия</div>
                                            <div class="server__subtitle">1 год.</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-servers.svg')">Примерная стоимость размещения в дата-центре (Colocation)</div>
                                            <div class="server__subtitle">PS: от 25 000 тг/мес<br>
                                                Кахтелеком: от 35 000 тг/мес<br>
                                                Транстелеком: от 30 000 тг/мес</div>
                                        </div>
                                    </div>
                                    <div class="server__footer">
                                        <a href="#modal-cta" class="button --primary server__button" data-toggle="modal">Заказать</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="server">
                                    <div class="server__ribbon-wrapper">
                                        <div class="server__ribbon --new">Новинка</div>
                                    </div>
                                    <div class="server__header">
                                        <div class="server__name">Сервер для интернет магазина </div>
                                        <div class="server__id">ID:4896</div>
                                        <div class="server__img">
                                            <img src="%=static=%img/content/p2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="server__content">
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-money.svg')">Цена</div>
                                            <div class="server__subtitle"><strong>1 000 000 тг.</strong></div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-size.svg')">Размер</div>
                                            <div class="server__subtitle">1 Unit</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-insurance.svg')">Производитель</div>
                                            <div class="server__subtitle">HP</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-design.svg')">Модель</div>
                                            <div class="server__subtitle">HP DL360 G7</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-chip.svg')">Процессор</div>
                                            <div class="server__subtitle">2 x  Intel Xeon E5620, 2.4 Ghz
                                                (8 ядер, 16 потоков)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-ram.svg')">Оперативная память</div>
                                            <div class="server__subtitle">64 GB (DDR3)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-hdd.svg')">Жесткие диски</div>
                                            <div class="server__subtitle">2 x 250 GB SSD, 2'5 (Raid 1)<br>
                                                2 x 1 TB HDD 7.2K, 3'5 (Raid 1)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-raid.svg')">Raid контроллер</div>
                                            <div class="server__subtitle">6 Gbit/s</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-power-supply.svg')">Блок питания</div>
                                            <div class="server__subtitle">2 шт. по 500W</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-connector.svg')">Ethernet порт</div>
                                            <div class="server__subtitle">2 порта</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-plate.svg')">Салазки (крепления в стойку)</div>
                                            <div class="server__subtitle">в комплекте</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-warranty.svg')">Гарантия</div>
                                            <div class="server__subtitle">1 год.</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-servers.svg')">Примерная стоимость размещения в дата-центре (Colocation)</div>
                                            <div class="server__subtitle">PS: от 25 000 тг/мес<br>
                                                Кахтелеком: от 35 000 тг/мес<br>
                                                Транстелеком: от 30 000 тг/мес</div>
                                        </div>
                                    </div>
                                    <div class="server__footer">
                                        <a href="#modal-cta" class="button --primary server__button" data-toggle="modal">Заказать</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="server">
                                    <div class="server__ribbon-wrapper">
                                        <div class="server__ribbon --hit">Хит продаж</div>
                                    </div>
                                    <div class="server__header">
                                        <div class="server__name">Сервер для Базы данных и приложений</div>
                                        <div class="server__id">ID:4896</div>
                                        <div class="server__img">
                                            <img src="%=static=%img/content/p4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="server__content">
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-money.svg')">Цена</div>
                                            <div class="server__subtitle"><strong>1 000 000 тг.</strong></div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-size.svg')">Размер</div>
                                            <div class="server__subtitle">1 Unit</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-insurance.svg')">Производитель</div>
                                            <div class="server__subtitle">HP</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-design.svg')">Модель</div>
                                            <div class="server__subtitle">HP DL360 G7</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-chip.svg')">Процессор</div>
                                            <div class="server__subtitle">2 x  Intel Xeon E5620, 2.4 Ghz
                                                (8 ядер, 16 потоков)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-ram.svg')">Оперативная память</div>
                                            <div class="server__subtitle">64 GB (DDR3)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-hdd.svg')">Жесткие диски</div>
                                            <div class="server__subtitle">2 x 250 GB SSD, 2'5 (Raid 1)<br>
                                                2 x 1 TB HDD 7.2K, 3'5 (Raid 1)</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-raid.svg')">Raid контроллер</div>
                                            <div class="server__subtitle">6 Gbit/s</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-power-supply.svg')">Блок питания</div>
                                            <div class="server__subtitle">2 шт. по 500W</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-connector.svg')">Ethernet порт</div>
                                            <div class="server__subtitle">2 порта</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-plate.svg')">Салазки (крепления в стойку)</div>
                                            <div class="server__subtitle">в комплекте</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-warranty.svg')">Гарантия</div>
                                            <div class="server__subtitle">1 год.</div>
                                        </div>
                                        <div class="server__desc">
                                            <div class="server__title" style="background-image: url('%=static=%img/general/ic-servers.svg')">Примерная стоимость размещения в дата-центре (Colocation)</div>
                                            <div class="server__subtitle">PS: от 25 000 тг/мес<br>
                                                Кахтелеком: от 35 000 тг/мес<br>
                                                Транстелеком: от 30 000 тг/мес</div>
                                        </div>
                                    </div>
                                    <div class="server__footer">
                                        <a href="#modal-cta" class="button --primary server__button" data-toggle="modal">Заказать</a>
                                    </div>
                                </div>
                            </div>
                        </div><!--/. Servers End -->

                        <!-- Paginator Begin -->
                        <ul class="paginator mt-4">
                            <li class="paginator__item --disabled">
                                <a href="#" class="paginator__link" rel="prev"></a>
                            </li>
                            <li class="paginator__item --active">
                                <a href="#" class="paginator__link">1</a>
                            </li>
                            <li class="paginator__item">
                                <a href="#" class="paginator__link">2</a>
                            </li>
                            <li class="paginator__item">
                                <a href="#" class="paginator__link">3</a>
                            </li>
                            <li class="paginator__item">
                                <a href="#" class="paginator__link">...</a>
                            </li>
                            <li class="paginator__item">
                                <a href="#" class="paginator__link">12</a>
                            </li>
                            <li class="paginator__item">
                                <a href="#" class="paginator__link" rel="next"></a>
                            </li>
                        </ul><!--/. Paginator End -->

                    </div>
                </section><!--/. Servers End -->

            </main><!--/. App Main End -->

            {{> footer/footer}}

		</div><!--/. App Wrapper End -->

	</div><!--/. App End -->

    {{> bottom/bottom}}

</body>
</html>
