<!doctype html>
<html class="no-js" lang="ru">
<head>
    {{> head/head}}
</head>
<body>

    {{> m-menu/m-menu}}

	<!-- App Begin -->
	<div class="app">

		<!-- App Wrapper Begin -->
		<div class="app__wrapper">

            {{> header/header}}

            <!-- App Main Begin -->
            <main role="main" class="app__main">

                <!-- App Header Begin -->
                <div class="app__header" style="background-image: url('%=static=%img/content/pattern.jpg')">
                    <div class="container">
                        <ul class="breadcrumbs">
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Главная</a>
                            </li>
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">SSL сертификаты</a>
                            </li>
                        </ul>
                        <h1 class="app__header-title">
                            <img src="%=static=%img/general/ssl.svg" class="mr-2" alt="">
                            SSL сертификаты
                        </h1>
                    </div>
                </div><!--/. App Header End -->

                <!-- SSL Begin -->
                <section class="pt-4 pb-10">
                    <div class="container">
                        <div class="filters mt-4 mb-3">
                            <a href="#filters" class="filters__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="filters">Фильтр</a>
                            <div class="filters__header">Фильтр</div>
                            <div id="filters" class="filters__collapse collapse">
                                <div class="filters__content">
                                    <div class="filters__brands">
                                        <div class="filters__brand">
                                            <input id="brandAll" type="checkbox" name="brand" class="filters__brand-input">
                                            <label for="brandAll" class="filters__brand-label">Выбрать все бренды</label>
                                        </div>
                                        <div class="filters__brand">
                                            <input id="brand1" type="checkbox" name="brand" class="filters__brand-input">
                                            <label for="brand1" class="filters__brand-label">
                                                <img src="%=static=%img/content/img1.png" alt="">
                                            </label>
                                        </div>
                                        <div class="filters__brand">
                                            <input id="brand2" type="checkbox" name="brand" class="filters__brand-input">
                                            <label for="brand2" class="filters__brand-label">
                                                <img src="%=static=%img/content/img2.png" alt="">
                                            </label>
                                        </div>
                                        <div class="filters__brand">
                                            <input id="brand3" type="checkbox" name="brand" class="filters__brand-input">
                                            <label for="brand3" class="filters__brand-label">
                                                <img src="%=static=%img/content/img1.png" alt="">
                                            </label>
                                        </div>
                                        <div class="filters__brand">
                                            <input id="brand4" type="checkbox" name="brand" class="filters__brand-input">
                                            <label for="brand4" class="filters__brand-label">
                                                <img src="%=static=%img/content/img2.png" alt="">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="filters__options">
                                        <div class="filters__option">
                                            <div class="switch">
                                                <input id="ov" type="checkbox" class="switch__checkbox" />
                                                <label for="ov" class="switch__label">
                                                    <span class="switch__circle"></span>
                                                    <span class="switch__left"></span>
                                                    <span class="switch__right"></span>
                                                </label>
                                                <label for="ov" class="switch__title">OV(компания)</label>
                                            </div>
                                            <div class="filters__hint" data-toggle="tooltip" data-placement="top" title="Актуальная подсказка в несколько строк. Что означает фильтр.">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.5 8.5C0.5 4.08905 4.08905 0.5 8.5 0.5C12.9109 0.5 16.5 4.08905 16.5 8.5C16.5 12.9109 12.9109 16.5 8.5 16.5C4.08905 16.5 0.5 12.9109 0.5 8.5Z" fill="#F1F7FA" stroke="#B9CAD4"/>
                                                    <path d="M9.2076 12.7493C9.2076 13.1405 8.89048 13.4576 8.49931 13.4576C8.10813 13.4576 7.79102 13.1405 7.79102 12.7493C7.79102 12.3581 8.10813 12.041 8.49931 12.041C8.89048 12.041 9.2076 12.3581 9.2076 12.7493Z" fill="#B9CAD4"/>
                                                    <path d="M9.62125 8.95542C9.37054 9.07085 9.20829 9.32377 9.20829 9.59938V9.9174C9.20829 10.3083 8.89169 10.6257 8.5 10.6257C8.10831 10.6257 7.79171 10.3083 7.79171 9.9174V9.59938C7.79171 8.77267 8.27757 8.01484 9.02775 7.66841C9.74953 7.33625 10.2708 6.45429 10.2708 6.02148C10.2708 5.04549 9.47677 4.25069 8.5 4.25069C7.52323 4.25069 6.72921 5.04549 6.72921 6.02148C6.72921 6.41253 6.41248 6.7299 6.02079 6.7299C5.6291 6.7299 5.3125 6.41253 5.3125 6.02148C5.3125 4.26418 6.74257 2.83398 8.5 2.83398C10.2574 2.83398 11.6875 4.26418 11.6875 6.02148C11.6875 6.97854 10.8573 8.38526 9.62125 8.95542V8.95542Z" fill="#B9CAD4"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filters__option">
                                            <div class="switch">
                                                <input id="ev" type="checkbox" class="switch__checkbox" />
                                                <label for="ev" class="switch__label">
                                                    <span class="switch__circle"></span>
                                                    <span class="switch__left"></span>
                                                    <span class="switch__right"></span>
                                                </label>
                                                <label for="ev" class="switch__title">EV</label>
                                            </div>
                                            <div class="filters__hint" data-toggle="tooltip" data-placement="top" title="Актуальная подсказка в несколько строк. Что означает фильтр.">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.5 8.5C0.5 4.08905 4.08905 0.5 8.5 0.5C12.9109 0.5 16.5 4.08905 16.5 8.5C16.5 12.9109 12.9109 16.5 8.5 16.5C4.08905 16.5 0.5 12.9109 0.5 8.5Z" fill="#F1F7FA" stroke="#B9CAD4"/>
                                                    <path d="M9.2076 12.7493C9.2076 13.1405 8.89048 13.4576 8.49931 13.4576C8.10813 13.4576 7.79102 13.1405 7.79102 12.7493C7.79102 12.3581 8.10813 12.041 8.49931 12.041C8.89048 12.041 9.2076 12.3581 9.2076 12.7493Z" fill="#B9CAD4"/>
                                                    <path d="M9.62125 8.95542C9.37054 9.07085 9.20829 9.32377 9.20829 9.59938V9.9174C9.20829 10.3083 8.89169 10.6257 8.5 10.6257C8.10831 10.6257 7.79171 10.3083 7.79171 9.9174V9.59938C7.79171 8.77267 8.27757 8.01484 9.02775 7.66841C9.74953 7.33625 10.2708 6.45429 10.2708 6.02148C10.2708 5.04549 9.47677 4.25069 8.5 4.25069C7.52323 4.25069 6.72921 5.04549 6.72921 6.02148C6.72921 6.41253 6.41248 6.7299 6.02079 6.7299C5.6291 6.7299 5.3125 6.41253 5.3125 6.02148C5.3125 4.26418 6.74257 2.83398 8.5 2.83398C10.2574 2.83398 11.6875 4.26418 11.6875 6.02148C11.6875 6.97854 10.8573 8.38526 9.62125 8.95542V8.95542Z" fill="#B9CAD4"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filters__option">
                                            <div class="switch">
                                                <input id="wildcard" type="checkbox" class="switch__checkbox" />
                                                <label for="wildcard" class="switch__label">
                                                    <span class="switch__circle"></span>
                                                    <span class="switch__left"></span>
                                                    <span class="switch__right"></span>
                                                </label>
                                                <label for="wildcard" class="switch__title">Wildcard</label>
                                            </div>
                                            <div class="filters__hint" data-toggle="tooltip" data-placement="top" title="Актуальная подсказка в несколько строк. Что означает фильтр.">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.5 8.5C0.5 4.08905 4.08905 0.5 8.5 0.5C12.9109 0.5 16.5 4.08905 16.5 8.5C16.5 12.9109 12.9109 16.5 8.5 16.5C4.08905 16.5 0.5 12.9109 0.5 8.5Z" fill="#F1F7FA" stroke="#B9CAD4"/>
                                                    <path d="M9.2076 12.7493C9.2076 13.1405 8.89048 13.4576 8.49931 13.4576C8.10813 13.4576 7.79102 13.1405 7.79102 12.7493C7.79102 12.3581 8.10813 12.041 8.49931 12.041C8.89048 12.041 9.2076 12.3581 9.2076 12.7493Z" fill="#B9CAD4"/>
                                                    <path d="M9.62125 8.95542C9.37054 9.07085 9.20829 9.32377 9.20829 9.59938V9.9174C9.20829 10.3083 8.89169 10.6257 8.5 10.6257C8.10831 10.6257 7.79171 10.3083 7.79171 9.9174V9.59938C7.79171 8.77267 8.27757 8.01484 9.02775 7.66841C9.74953 7.33625 10.2708 6.45429 10.2708 6.02148C10.2708 5.04549 9.47677 4.25069 8.5 4.25069C7.52323 4.25069 6.72921 5.04549 6.72921 6.02148C6.72921 6.41253 6.41248 6.7299 6.02079 6.7299C5.6291 6.7299 5.3125 6.41253 5.3125 6.02148C5.3125 4.26418 6.74257 2.83398 8.5 2.83398C10.2574 2.83398 11.6875 4.26418 11.6875 6.02148C11.6875 6.97854 10.8573 8.38526 9.62125 8.95542V8.95542Z" fill="#B9CAD4"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filters__option">
                                            <div class="switch">
                                                <input id="multiDomain" type="checkbox" class="switch__checkbox" />
                                                <label for="multiDomain" class="switch__label">
                                                    <span class="switch__circle"></span>
                                                    <span class="switch__left"></span>
                                                    <span class="switch__right"></span>
                                                </label>
                                                <label for="multiDomain" class="switch__title">Multi domain</label>
                                            </div>
                                            <div class="filters__hint" data-toggle="tooltip" data-placement="top" title="Актуальная подсказка в несколько строк. Что означает фильтр.">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.5 8.5C0.5 4.08905 4.08905 0.5 8.5 0.5C12.9109 0.5 16.5 4.08905 16.5 8.5C16.5 12.9109 12.9109 16.5 8.5 16.5C4.08905 16.5 0.5 12.9109 0.5 8.5Z" fill="#F1F7FA" stroke="#B9CAD4"/>
                                                    <path d="M9.2076 12.7493C9.2076 13.1405 8.89048 13.4576 8.49931 13.4576C8.10813 13.4576 7.79102 13.1405 7.79102 12.7493C7.79102 12.3581 8.10813 12.041 8.49931 12.041C8.89048 12.041 9.2076 12.3581 9.2076 12.7493Z" fill="#B9CAD4"/>
                                                    <path d="M9.62125 8.95542C9.37054 9.07085 9.20829 9.32377 9.20829 9.59938V9.9174C9.20829 10.3083 8.89169 10.6257 8.5 10.6257C8.10831 10.6257 7.79171 10.3083 7.79171 9.9174V9.59938C7.79171 8.77267 8.27757 8.01484 9.02775 7.66841C9.74953 7.33625 10.2708 6.45429 10.2708 6.02148C10.2708 5.04549 9.47677 4.25069 8.5 4.25069C7.52323 4.25069 6.72921 5.04549 6.72921 6.02148C6.72921 6.41253 6.41248 6.7299 6.02079 6.7299C5.6291 6.7299 5.3125 6.41253 5.3125 6.02148C5.3125 4.26418 6.74257 2.83398 8.5 2.83398C10.2574 2.83398 11.6875 4.26418 11.6875 6.02148C11.6875 6.97854 10.8573 8.38526 9.62125 8.95542V8.95542Z" fill="#B9CAD4"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filters__option">
                                            <div class="switch">
                                                <input id="codeSigning" type="checkbox" class="switch__checkbox" />
                                                <label for="codeSigning" class="switch__label">
                                                    <span class="switch__circle"></span>
                                                    <span class="switch__left"></span>
                                                    <span class="switch__right"></span>
                                                </label>
                                                <label for="codeSigning" class="switch__title">Code Signing</label>
                                            </div>
                                            <div class="filters__hint" data-toggle="tooltip" data-placement="top" title="Актуальная подсказка в несколько строк. Что означает фильтр.">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.5 8.5C0.5 4.08905 4.08905 0.5 8.5 0.5C12.9109 0.5 16.5 4.08905 16.5 8.5C16.5 12.9109 12.9109 16.5 8.5 16.5C4.08905 16.5 0.5 12.9109 0.5 8.5Z" fill="#F1F7FA" stroke="#B9CAD4"/>
                                                    <path d="M9.2076 12.7493C9.2076 13.1405 8.89048 13.4576 8.49931 13.4576C8.10813 13.4576 7.79102 13.1405 7.79102 12.7493C7.79102 12.3581 8.10813 12.041 8.49931 12.041C8.89048 12.041 9.2076 12.3581 9.2076 12.7493Z" fill="#B9CAD4"/>
                                                    <path d="M9.62125 8.95542C9.37054 9.07085 9.20829 9.32377 9.20829 9.59938V9.9174C9.20829 10.3083 8.89169 10.6257 8.5 10.6257C8.10831 10.6257 7.79171 10.3083 7.79171 9.9174V9.59938C7.79171 8.77267 8.27757 8.01484 9.02775 7.66841C9.74953 7.33625 10.2708 6.45429 10.2708 6.02148C10.2708 5.04549 9.47677 4.25069 8.5 4.25069C7.52323 4.25069 6.72921 5.04549 6.72921 6.02148C6.72921 6.41253 6.41248 6.7299 6.02079 6.7299C5.6291 6.7299 5.3125 6.41253 5.3125 6.02148C5.3125 4.26418 6.74257 2.83398 8.5 2.83398C10.2574 2.83398 11.6875 4.26418 11.6875 6.02148C11.6875 6.97854 10.8573 8.38526 9.62125 8.95542V8.95542Z" fill="#B9CAD4"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filters__option">
                                            <div class="switch">
                                                <input id="san" type="checkbox" class="switch__checkbox" />
                                                <label for="san" class="switch__label">
                                                    <span class="switch__circle"></span>
                                                    <span class="switch__left"></span>
                                                    <span class="switch__right"></span>
                                                </label>
                                                <label for="san" class="switch__title">SAN (доп.домены)</label>
                                            </div>
                                            <div class="filters__hint" data-toggle="tooltip" data-placement="top" title="Актуальная подсказка в несколько строк. Что означает фильтр.">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.5 8.5C0.5 4.08905 4.08905 0.5 8.5 0.5C12.9109 0.5 16.5 4.08905 16.5 8.5C16.5 12.9109 12.9109 16.5 8.5 16.5C4.08905 16.5 0.5 12.9109 0.5 8.5Z" fill="#F1F7FA" stroke="#B9CAD4"/>
                                                    <path d="M9.2076 12.7493C9.2076 13.1405 8.89048 13.4576 8.49931 13.4576C8.10813 13.4576 7.79102 13.1405 7.79102 12.7493C7.79102 12.3581 8.10813 12.041 8.49931 12.041C8.89048 12.041 9.2076 12.3581 9.2076 12.7493Z" fill="#B9CAD4"/>
                                                    <path d="M9.62125 8.95542C9.37054 9.07085 9.20829 9.32377 9.20829 9.59938V9.9174C9.20829 10.3083 8.89169 10.6257 8.5 10.6257C8.10831 10.6257 7.79171 10.3083 7.79171 9.9174V9.59938C7.79171 8.77267 8.27757 8.01484 9.02775 7.66841C9.74953 7.33625 10.2708 6.45429 10.2708 6.02148C10.2708 5.04549 9.47677 4.25069 8.5 4.25069C7.52323 4.25069 6.72921 5.04549 6.72921 6.02148C6.72921 6.41253 6.41248 6.7299 6.02079 6.7299C5.6291 6.7299 5.3125 6.41253 5.3125 6.02148C5.3125 4.26418 6.74257 2.83398 8.5 2.83398C10.2574 2.83398 11.6875 4.26418 11.6875 6.02148C11.6875 6.97854 10.8573 8.38526 9.62125 8.95542V8.95542Z" fill="#B9CAD4"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="filters__option">
                                            <div class="switch">
                                                <input id="dv"" type="checkbox" class="switch__checkbox" />
                                                <label for="dv" class="switch__label">
                                                    <span class="switch__circle"></span>
                                                    <span class="switch__left"></span>
                                                    <span class="switch__right"></span>
                                                </label>
                                                <label for="dv" class="switch__title">DV (домен)</label>
                                            </div>
                                            <div class="filters__hint" data-toggle="tooltip" data-placement="top" title="Актуальная подсказка в несколько строк. Что означает фильтр.">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.5 8.5C0.5 4.08905 4.08905 0.5 8.5 0.5C12.9109 0.5 16.5 4.08905 16.5 8.5C16.5 12.9109 12.9109 16.5 8.5 16.5C4.08905 16.5 0.5 12.9109 0.5 8.5Z" fill="#F1F7FA" stroke="#B9CAD4"/>
                                                    <path d="M9.2076 12.7493C9.2076 13.1405 8.89048 13.4576 8.49931 13.4576C8.10813 13.4576 7.79102 13.1405 7.79102 12.7493C7.79102 12.3581 8.10813 12.041 8.49931 12.041C8.89048 12.041 9.2076 12.3581 9.2076 12.7493Z" fill="#B9CAD4"/>
                                                    <path d="M9.62125 8.95542C9.37054 9.07085 9.20829 9.32377 9.20829 9.59938V9.9174C9.20829 10.3083 8.89169 10.6257 8.5 10.6257C8.10831 10.6257 7.79171 10.3083 7.79171 9.9174V9.59938C7.79171 8.77267 8.27757 8.01484 9.02775 7.66841C9.74953 7.33625 10.2708 6.45429 10.2708 6.02148C10.2708 5.04549 9.47677 4.25069 8.5 4.25069C7.52323 4.25069 6.72921 5.04549 6.72921 6.02148C6.72921 6.41253 6.41248 6.7299 6.02079 6.7299C5.6291 6.7299 5.3125 6.41253 5.3125 6.02148C5.3125 4.26418 6.74257 2.83398 8.5 2.83398C10.2574 2.83398 11.6875 4.26418 11.6875 6.02148C11.6875 6.97854 10.8573 8.38526 9.62125 8.95542V8.95542Z" fill="#B9CAD4"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control filters__sort">
                                        <select class="control__select">
                                            <option selected>Самые дешевые</option>
                                            <option value="WEB server">WEB server 2</option>
                                            <option value="WEB server">WEB server 3</option>
                                            <option value="WEB server">WEB server 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ssl">
                        <div class="ssl__header js-sticky-menu">
                            <div class="container">
                                <div class="ssl__header-row">
                                    <div class="ssl__th">Наименова-ние</div>
                                    <div class="ssl__th">Центр сертифика-ции</div>
                                    <div class="ssl__th">Тип проверки</div>
                                    <div class="ssl__th">Подходит для</div>
                                    <div class="ssl__th">Кол-во доменов</div>
                                    <div class="ssl__th">Время выпуска</div>
                                    <div class="ssl__th">Цена</div>
                                    <div class="ssl__th">
                                        SAN (дополнительные домены)
                                        <div class="row ssl__sub-th" data-gutter="10">
                                            <div class="col-4">Макс. кол-во доп. доменов</div>
                                            <div class="col-4">Цена за доп. домен в год</div>
                                            <div class="col-4">Цена за доп. домен за 2 года</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ssl__body">
                            <div class="container">
                                <div class="ssl__item">
                                    <div class="ssl__id">ID:4896</div>
                                    <div class="ssl__row">
                                        <div class="ssl__td">Wildcard SSL</div>
                                        <div class="ssl__td">
                                            <img src="%=static=%img/content/img.png" alt="">
                                        </div>
                                        <div class="ssl__td" data-title="Тип проверки">Компания</div>
                                        <div class="ssl__td" data-title="Подходит для:">Корпоративный сайт, почтовый сервер, интернет-магазин</div>
                                        <div class="ssl__td" data-title="Кол-во доменов:">1</div>
                                        <div class="ssl__td" data-title="Время выпуска:">2-10 дней</div>
                                        <div class="ssl__td" data-title="Цена:">
                                            <div>1 год:<strong> 1000 руб</strong></div>
                                            <div>2 год: <strong>2000 руб</strong></div>
                                            <div>3 год: <strong>3000 руб</strong></div>
                                            <div>4год: <strong>4000 руб</strong></div>
                                        </div>
                                        <div class="ssl__td">
                                            <div class="ssl__sub-row" data-gutter="10" vertical-gutter="20">
                                                <div class="ssl__sub-td" data-title="Макс. кол-во доп. доменов">-</div>
                                                <div class="ssl__sub-td" data-title="Цена за доп. домен в год">-</div>
                                                <div class="ssl__sub-td" data-title="Цена за доп. домен за 2 года">-</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ssl__footer">
                                        <a href="#ssl1" class="ssl__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="ssl1">Детали</a>
                                        <a href="#modal-order" class="button --primary ssl__button" data-toggle="modal">Заказать</a>
                                    </div>
                                    <div id="ssl1" class="collapse">
                                        <div class="ssl__desc">
                                            <div class="ssl__title">Общее описание:</div>
                                            <p>
                                                SSL DigiCert Secure Site Wildcard поддерживает 256-битное шифрование и хэш-алгоритм SHA-256. Wildcard - означает, что он может защитить неограниченное количество поддоменов в вашем основном домене.
                                                Требуется зарегистрированная компания.
                                                Процесс потребует прохождения бизнес-проверки, подтверждения права собственности на домен и прохождения контрольного звонка, чтобы вас идентифицировали по телефону.
                                            </p>
                                            <div class="row" vertical-gutter="20">
                                                <div class="col-lg-4">
                                                    <div class="ssl__title">Характеристики</div>
                                                    <p>
                                                        Уровень шифрования: до <strong>256 бит</strong><br>
                                                        Распознаваемость браузерами: <strong>99.3 %</strong>
                                                    </p>
                                                </div>
                                                <div class="col-lg-4">
                                                    Защита субдоменов (Wildcard): <img class="ml-1" src="%=static=%img/general/ic-success_circled.svg" alt=""><br>
                                                    Зеленая строка браузера: <img class="ml-1" src="%=static=%img/general/ic-close_circled.svg" alt=""><br>
                                                    Поддержка мобильным браузерами: <img class="ml-1" src="%=static=%img/general/ic-success_circled.svg" alt="">
                                                </div>
                                                <div class="col-lg-4">
                                                    Гарантия: <strong>$1 250 000</strong><br>
                                                    Гарантия возврата денег: <strong>20 дней с момента выпуска</strong><br>
                                                    Печать доверия: <strong>Динамическая</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ssl__footer-xs">
                                        <a href="#modal-order" class="button --primary ssl__button" data-toggle="modal">Заказать</a>
                                    </div>
                                </div>
                                <div class="ssl__item">
                                    <div class="ssl__id">ID:4896</div>
                                    <div class="ssl__row">
                                        <div class="ssl__td">Wildcard SSL</div>
                                        <div class="ssl__td">
                                            <img src="%=static=%img/content/img.png" alt="">
                                        </div>
                                        <div class="ssl__td" data-title="Тип проверки">Компания</div>
                                        <div class="ssl__td" data-title="Подходит для:">Корпоративный сайт, почтовый сервер, интернет-магазин</div>
                                        <div class="ssl__td" data-title="Кол-во доменов:">1</div>
                                        <div class="ssl__td" data-title="Время выпуска:">2-10 дней</div>
                                        <div class="ssl__td" data-title="Цена:">
                                            <div>1 год:<strong> 1000 руб</strong></div>
                                            <div>2 год: <strong>2000 руб</strong></div>
                                            <div>3 год: <strong>3000 руб</strong></div>
                                            <div>4год: <strong>4000 руб</strong></div>
                                        </div>
                                        <div class="ssl__td">
                                            <div class="ssl__sub-row" data-gutter="10" vertical-gutter="20">
                                                <div class="ssl__sub-td" data-title="Макс. кол-во доп. доменов">-</div>
                                                <div class="ssl__sub-td" data-title="Цена за доп. домен в год">-</div>
                                                <div class="ssl__sub-td" data-title="Цена за доп. домен за 2 года">-</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ssl__footer">
                                        <a href="#ssl2" class="ssl__toggle" data-toggle="collapse" aria-expanded="false" aria-controls="ssl2">Детали</a>
                                        <a href="#modal-order" class="button --primary ssl__button" data-toggle="modal">Заказать</a>
                                    </div>
                                    <div id="ssl2" class="collapse">
                                        <div class="ssl__desc">
                                            <div class="ssl__title">Общее описание:</div>
                                            <p>
                                                SSL DigiCert Secure Site Wildcard поддерживает 256-битное шифрование и хэш-алгоритм SHA-256. Wildcard - означает, что он может защитить неограниченное количество поддоменов в вашем основном домене.
                                                Требуется зарегистрированная компания.
                                                Процесс потребует прохождения бизнес-проверки, подтверждения права собственности на домен и прохождения контрольного звонка, чтобы вас идентифицировали по телефону.
                                            </p>
                                            <div class="row" vertical-gutter="20">
                                                <div class="col-lg-4">
                                                    <div class="ssl__title">Характеристики</div>
                                                    <p>
                                                        Уровень шифрования: до <strong>256 бит</strong><br>
                                                        Распознаваемость браузерами: <strong>99.3 %</strong>
                                                    </p>
                                                </div>
                                                <div class="col-lg-4">
                                                    Защита субдоменов (Wildcard): <img class="ml-1" src="%=static=%img/general/ic-success_circled.svg" alt=""><br>
                                                    Зеленая строка браузера: <img class="ml-1" src="%=static=%img/general/ic-close_circled.svg" alt=""><br>
                                                    Поддержка мобильным браузерами: <img class="ml-1" src="%=static=%img/general/ic-success_circled.svg" alt="">
                                                </div>
                                                <div class="col-lg-4">
                                                    Гарантия: <strong>$1 250 000</strong><br>
                                                    Гарантия возврата денег: <strong>20 дней с момента выпуска</strong><br>
                                                    Печать доверия: <strong>Динамическая</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ssl__footer-xs">
                                        <a href="#modal-order" class="button --primary ssl__button" data-toggle="modal">Заказать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><!--/. SSL End -->

            </main><!--/. App Main End -->

            {{> footer/footer}}

		</div><!--/. App Wrapper End -->

	</div><!--/. App End -->

    {{> bottom/bottom}}

</body>
</html>
