<!doctype html>
<html class="no-js" lang="ru">
<head>
    {{> head/head}}
</head>
<body class="ui-kit">

    {{> m-menu/m-menu}}

	<!-- App Begin -->
	<div class="app">

		<!-- App Wrapper Begin -->
		<div class="app__wrapper">

            <!-- App Main Begin -->
            <main role="main" class="app__main py-4">

                <!-- Demo Begin -->
                <section class="container">

                    <div class="d-flex justify-content-between mb-4">
                        <div class="text-muted">Projectname - Components</div>
                        <div class="text-muted">Developed by Alibek Kulseitov</div>
                    </div>

                    <h1 class="mb-4">Layouts</h1>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">Base Layout</h3>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#base-layout-tab" role="tab" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                            </ul>

                            <!-- Prism Precode -->
                            <figure class="highlight clip-widget" id="base-layout-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
<!-- App Begin -->
<div class="app">

    <!-- App Wrapper Begin -->
    <div class="app__wrapper">

        <!-- Header Begin -->
        <header class="header">
            ...
        </header><!-- Header End -->

        <!-- App Main Begin -->
        <main role="main" class="app__main">

            ...

        </main><!--/. App Main End -->

        <!-- Footer Begin -->
        <footer class="footer">
            ...
        </footer><!-- Footer End -->

    </div><!--/. App Wrapper End -->

</div><!--/. App End -->

</script></code></pre>
                                <div class="clipboard-icon" data-clipboard-target="#base-layout-tab"><i class="fas fa-copy"></i></div>
                            </figure>
                            <!-- End Prism Precode -->

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">Header</h3>
                            <div class="example">
                                {{> header/header}}
                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#header-tab" role="tab" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                            </ul>

                            <!-- Prism Precode -->
                            <figure class="highlight clip-widget" id="header-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
{{> header/header}}

</script></code></pre>
                                <div class="clipboard-icon" data-clipboard-target="#header-tab"><i class="fas fa-copy"></i></div>
                            </figure>
                            <!-- End Prism Precode -->

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">Footer</h3>
                            <div class="example">
                                {{> footer/footer}}
                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#footer-tab" role="tab" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                            </ul>

                            <!-- Prism Precode -->
                            <figure class="highlight clip-widget" id="footer-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
{{> footer/footer}}

</script></code></pre>
                                <div class="clipboard-icon" data-clipboard-target="#footer-tab"><i class="fas fa-copy"></i></div>
                            </figure>
                            <!-- End Prism Precode -->

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">Sidebar</h3>
                            <div class="example">
                                {{> sidebar/sidebar}}
                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#sidebar-tab" role="tab" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                            </ul>

                            <!-- Prism Precode -->
                            <figure class="highlight clip-widget" id="sidebar-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
{{> sidebar/sidebar}}

</script></code></pre>
                                <div class="clipboard-icon" data-clipboard-target="#sidebar-tab"><i class="fas fa-copy"></i></div>
                            </figure>
                            <!-- End Prism Precode -->

                        </div>
                    </div>

                    <h1 class="mb-4 mt-5">UI Components</h1>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">Headers</h3>
                            <div class="example">
                                <h1>Заголовок уровня 1</h1>
                                <h2>Заголовок уровня 2</h2>
                                <h3>Заголовок уровня 3</h3>
                                <h4>Заголовок уровня 4</h4>
                                <h5>Заголовок уровня 5</h5>
                                <h6>Заголовок уровня 6</h6>
                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#headers-tab" role="tab" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                            </ul>

                            <!-- Prism Precode -->
                            <figure class="highlight clip-widget" id="headers-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
<h1>Заголовок уровня 1</h1>
<h2>Заголовок уровня 2</h2>
<h3>Заголовок уровня 3</h3>
<h4>Заголовок уровня 4</h4>
<h5>Заголовок уровня 5</h5>
<h6>Заголовок уровня 6</h6>

</script></code></pre>
                                <div class="clipboard-icon" data-clipboard-target="#headers-tab"><i class="fas fa-copy"></i></div>
                            </figure>
                            <!-- End Prism Precode -->

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">Font Size</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="bg-gray-100"><b>Название класса</b></td>
                                        <td><code>.tx-[размер]</code></td>
                                    </tr>
                                    <tr>
                                        <td class="bg-gray-100"><b>Значения</b></td>
                                        <td>8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 18 | 20 | 22 | 24 | ... | 30</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">Font Styles</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="bg-gray-100"><b>Название класса</b></td>
                                        <td><code>.tx-[тип]</code></td>
                                    </tr>
                                    <tr>
                                        <td class="bg-gray-100"><b>Значения</b></td>
                                        <td>bold | semibold | medium | normal | light | thin | xthin</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">Modals</h3>
                            <div class="example">
                                <div class="row wd-xl-80p" vertical-gutter="15">
                                    <div class="col-sm-6 col-md-3">
                                        <a href="#modal-success" class="button -default w-100 js-modal-effect" data-effect="effect-scale" data-toggle="modal">Modal Success</a>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <a href="#modal-failed" class="button -default w-100 js-modal-effect" data-toggle="modal">Modal Failed</a>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <a href="https://www.youtube.com/watch?v=HVft-Va6tR0" class="button -default w-100 js-video-modal" data-youtube-id="HVft-Va6tR0">Modal Video</a>
                                    </div>
                                </div>
                            </div>
                            <h6 class="card-title mt-4 mb-3">Modal Animation Effects</h6>
                            <div class="row" vertical-gutter="10">
                                <div class="col-sm-6 col-md-4 col-xl-3">
                                    <a href="#modal-success" class="button -default js-modal-effect w-100" data-effect="effect-scale" data-toggle="modal">Scale</a>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-3 mg-t-20 mg-sm-t-0">
                                    <a href="#modal-success" class="button -default js-modal-effect w-100" data-effect="effect-slide-in-right" data-toggle="modal">Slide In Right</a>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-3 mg-t-20 mg-md-t-0">
                                    <a href="#modal-success" class="button -default js-modal-effect w-100" data-effect="effect-slide-in-bottom" data-toggle="modal">Slide In Bottom</a>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-3 mg-t-20 mg-xl-t-0">
                                    <a href="#modal-success" class="button -default js-modal-effect w-100" data-effect="effect-newspaper" data-toggle="modal">Newspaper</a>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-3 mg-t-20">
                                    <a href="#modal-success" class="button -default js-modal-effect w-100" data-effect="effect-fall" data-toggle="modal">Fall</a>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-3 mg-t-20">
                                    <a href="#modal-success" class="button -default js-modal-effect w-100" data-effect="effect-flip-horizontal" data-toggle="modal">Flip Horizontal</a>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-3 mg-t-20">
                                    <a href="#modal-success" class="button -default js-modal-effect w-100" data-effect="effect-flip-vertical" data-toggle="modal">Flip Vertical</a>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-3 mg-t-20">
                                    <a href="#modal-success" class="button -default js-modal-effect w-100" data-effect="effect-super-scaled" data-toggle="modal">Super Scaled</a>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-3 mg-t-20">
                                    <a href="#modal-success" class="button -default js-modal-effect w-100" data-effect="effect-sign" data-toggle="modal">Sign</a>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-3 mg-t-20">
                                    <a href="#modal-success" class="button -default js-modal-effect w-100" data-effect="effect-rotate-bottom" data-toggle="modal">Rotate Bottom</a>
                                </div>
                                <div class="col-sm-6 col-md-4 col-xl-3 mg-t-20">
                                    <a href="#modal-success" class="button -default js-modal-effect w-100" data-effect="effect-rotate-left" data-toggle="modal">Rotate Left</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">Spoiler</h3>
                            <div class="example">

                                {{> spoiler/spoiler}}

                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#spoiler-html" role="tab" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mr-1 html-code" data-toggle="tab" href="#spoiler-js" role="tab" aria-selected="true"><i class="fab fa-js tx-yellow mr-2"></i>JS</a>
                                </li>
                            </ul>

                            <div class="tab-content">

<!-- Prism Precode -->
<figure class="highlight clip-widget tab-pane active" id="spoiler-html">
<pre><code class="language-markup"><script type="html-dashlead/script">
 {{> spoiler/spoiler}}

</script></code></pre>
<div class="clipboard-icon" data-clipboard-target="#spoiler-html"><i class="fas fa-copy"></i></div>
</figure>
<!-- End Prism Precode -->


<!-- Prism Precode -->
<figure class="highlight clip-widget tab-pane" id="spoiler-js">
<pre><code class="language-markup"><script type="html-dashlead/script">
    var containerHeight = document.querySelectorAll(".js-spoiler-inner");
    var uncoverLink = document.querySelectorAll(".js-spoiler-more");

    for(let i = 0; i < containerHeight.length; i++){
        let openData = uncoverLink[i].dataset.open;
        let closeData = uncoverLink[i].dataset.close;
        let curHeight = containerHeight[i].dataset.height;

        uncoverLink[i].innerHTML = openData;
        containerHeight[i].style.maxHeight = curHeight + "px";

        uncoverLink[i].addEventListener("click", function(){
            if(containerHeight[i].classList.contains("is-open")){

                containerHeight[i].classList.remove("is-open");

                uncoverLink[i].innerHTML = openData;

                containerHeight[i].style.maxHeight = curHeight + "px";

            } else {
                containerHeight[i].removeAttribute("style");

                containerHeight[i].classList.add("is-open");

                uncoverLink[i].innerHTML = closeData;

            }
        });
    }

</script></code></pre>
<div class="clipboard-icon" data-clipboard-target="#spoiler-js"><i class="fas fa-copy"></i></div>
</figure>
<!-- End Prism Precode -->


                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">Breadcrumbs</h3>
                            <div class="example">

                                {{> breadcrumbs/breadcrumbs}}

                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#breadcrumbs-tab" role="tab" aria-controls="html-code" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                            </ul>

                            <!-- Prism Precode -->
                            <figure class="highlight clip-widget" id="breadcrumbs-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
 {{> breadcrumbs/breadcrumbs}}

</script></code></pre>
                                <div class="clipboard-icon" data-clipboard-target="#breadcrumbs-tab"><i class="fas fa-copy"></i></div>
                            </figure>
                            <!-- End Prism Precode -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">Pagination</h3>
                            <div class="example">

                                {{> paginator/paginator}}

                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#paginator-tab" role="tab" aria-controls="html-code" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                            </ul>

                            <!-- Prism Precode -->
                            <figure class="highlight clip-widget" id="paginator-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
 {{> paginator/paginator}}

</script></code></pre>
                                <div class="clipboard-icon" data-clipboard-target="#paginator-tab"><i class="fas fa-copy"></i></div>
                            </figure>
                            <!-- End Prism Precode -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">FORM INPUT SIZES</h3>
                            <div class="example">
                                <div class="control">
                                    <input type="text" class="control__input -sm" placeholder="Маленькое поле для ввода...">
                                </div>
                                <div class="control">
                                    <input type="text" class="control__input" placeholder="Поле для ввода...">
                                </div>
                                <div class="control">
                                    <input type="text" class="control__input -lg" placeholder="Большое поле для ввода...">
                                </div>
                                <div class="control">
                                    <textarea class="control__textarea" placeholder="Поле для ввода..."></textarea>
                                </div>
                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#inputs-tab" role="tab" aria-controls="html-code" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                            </ul>

<!-- Prism Precode -->
<figure class="highlight clip-widget" id="inputs-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
<div class="control">
    <input type="text" class="control__input -sm" placeholder="Маленькое поле для ввода...">
</div>
<div class="control">
    <input type="text" class="control__input" placeholder="Поле для ввода...">
</div>
<div class="control">
    <input type="text" class="control__input -lg" placeholder="Большое поле для ввода...">
</div>
<div class="control">
    <textarea class="control__textarea" placeholder="Поле для ввода..."></textarea>
</div>

</script></code></pre>
<div class="clipboard-icon" data-clipboard-target="#inputs-tab"><i class="fas fa-copy"></i></div>
</figure>
 <!-- End Prism Precode -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">CUSTOM CHECKBOXES & RADIOS</h3>
                            <div class="example">
                                <div class="row mb-2">
                                    <div class="col-lg-4">
                                        <label class="custom-checkbox">
                                            <input type="checkbox">
                                            <span>Checkbox Unchecked</span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="custom-checkbox">
                                            <input type="checkbox" checked>
                                            <span>Checkbox Checked</span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="custom-checkbox">
                                            <input type="checkbox" disabled>
                                            <span>Checkbox Disabled</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label class="custom-radio">
                                            <input name="radio" type="radio">
                                            <span>Radio Unchecked</span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="custom-radio"><input name="radio" type="radio" checked>
                                            <span>Radio Checked</span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="custom-radio">
                                            <input name="radio" type="radio" disabled>
                                            <span>Radio Disabled</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#input-buttons-tab" role="tab" aria-controls="html-code" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                            </ul>

                            <!-- Prism Precode -->
                            <figure class="highlight clip-widget" id="input-buttons-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
<label class="custom-checkbox">
    <input type="checkbox">
    <span>Checkbox Unchecked</span>
</label>

<label class="custom-checkbox">
    <input type="checkbox" checked>
    <span>Checkbox Checked</span>
</label>

<label class="custom-checkbox">
    <input type="checkbox" disabled>
    <span>Checkbox Disabled</span>
</label>

<label class="custom-radio">
    <input name="radio" type="radio">
    <span>Radio Unchecked</span>
</label>

<label class="custom-radio"><input name="radio" type="radio" checked>
    <span>Radio Checked</span>
</label>

<label class="custom-radio">
    <input name="radio" type="radio" disabled>
    <span>Radio Disabled</span>
</label>

</script></code></pre>
                                <div class="clipboard-icon" data-clipboard-target="#input-buttons-tab"><i class="fas fa-copy"></i></div>
                            </figure>
                            <!-- End Prism Precode -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">FILE BROWSER</h3>
                            <div class="example">
                                <div class="row">
                                    <div class="col-sm-7 col-md-6 col-lg-4">
                                        <div class="custom-file">
                                            <input class="custom-file-input" id="customFile" type="file">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#custom-file-tab" role="tab" aria-controls="html-code" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                            </ul>

                            <!-- Prism Precode -->
                            <figure class="highlight clip-widget" id="custom-file-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
<div class="custom-file">
    <input class="custom-file-input" id="customFile" type="file">
    <label class="custom-file-label" for="customFile">Choose file</label>
</div>

</script></code></pre>
                                <div class="clipboard-icon" data-clipboard-target="#custom-file-tab"><i class="fas fa-copy"></i></div>
                            </figure>
                            <!-- End Prism Precode -->
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">SELECT2</h3>
                            <div class="example">
                                <div class="row mb-3" vertical-gutter="30">
                                    <div class="col-lg-4">
                                        <p class="mb-2">Single Select</p>
                                        <select class="select2" data-placeholder="Placeholder...">
                                            <option></option>
                                            <option value="Firefox">
                                                Firefox
                                            </option>
                                            <option value="Chrome">
                                                Chrome
                                            </option>
                                            <option value="Safari">
                                                Safari
                                            </option>
                                            <option value="Opera">
                                                Opera
                                            </option>
                                            <option value="Internet Explorer">
                                                Internet Explorer
                                            </option>
                                        </select>
                                    </div><!-- col-4 -->
                                    <div class="col-lg-4">
                                        <p class="mb-2">Single Select with Search</p>
                                        <select class="select2-search" data-placeholder="Placeholder...">
                                            <option></option>
                                            <option value="Firefox">
                                                Firefox
                                            </option>
                                            <option value="Chrome">
                                                Chrome
                                            </option>
                                            <option value="Safari">
                                                Safari
                                            </option>
                                            <option value="Opera">
                                                Opera
                                            </option>
                                            <option value="Internet Explorer">
                                                Internet Explorer
                                            </option>
                                        </select>
                                    </div><!-- col-4 -->
                                    <div class="col-lg-4">
                                        <p class="mb-2">Single Select (Disabled)</p>
                                        <select class="select2" data-placeholder="Placeholder..." disabled>
                                            <option></option>
                                            <option value="Firefox">
                                                Firefox
                                            </option>
                                            <option value="Chrome">
                                                Chrome
                                            </option>
                                            <option value="Safari">
                                                Safari
                                            </option>
                                            <option value="Opera">
                                                Opera
                                            </option>
                                            <option value="Internet Explorer">
                                                Internet Explorer
                                            </option>
                                        </select>
                                    </div><!-- col-4 -->
                                </div>
                                <div class="row row-sm">
                                    <div class="col-lg-4">
                                        <p class="mb-2">Multiple Select</p>
                                        <select class="select2-search" data-placeholder="Placeholder..." multiple="multiple">
                                            <option></option>
                                            <option value="Firefox">
                                                Firefox
                                            </option>
                                            <option value="Chrome">
                                                Chrome
                                            </option>
                                            <option value="Safari">
                                                Safari
                                            </option>
                                            <option value="Opera">
                                                Opera
                                            </option>
                                            <option value="Internet Explorer">
                                                Internet Explorer
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="mb-2">Multiple Select with Pre-Filled Input</p>
                                        <select class="select2-search" multiple="multiple">
                                            <option selected value="Firefox">
                                                Firefox
                                            </option>
                                            <option value="Chrome">
                                                Chrome
                                            </option>
                                            <option value="Safari">
                                                Safari
                                            </option>
                                            <option value="Opera">
                                                Opera
                                            </option>
                                            <option value="Internet Explorer">
                                                Internet Explorer
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <p class="mb-2">Multiple Select (Disabled)</p>
                                        <select class="select2-search" disabled multiple="multiple">
                                            <option selected value="Firefox">
                                                Firefox
                                            </option>
                                            <option value="Chrome">
                                                Chrome
                                            </option>
                                            <option value="Safari">
                                                Safari
                                            </option>
                                            <option value="Opera">
                                                Opera
                                            </option>
                                            <option value="Internet Explorer">
                                                Internet Explorer
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#select2-html-tab" role="tab" aria-controls="html-code" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link -1 html-code" data-toggle="tab" href="#select2-js-tab" role="tab" aria-controls="html-code" aria-selected="true"><i class="fab fa-js tx-orange mr-2"></i>JS</a>
                                </li>
                            </ul>

                            <div class="tab-content">

                                <!-- Prism Precode -->
                                <figure class="highlight clip-widget tab-pane active" id="select2-html-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
<!-- Default Select Begin -->
<select class="select2-no-search">
    <option label="Choose one"></option>
    <option value="Firefox">Firefox</option>
    <option value="Chrome">Chrome</option>
    <option value="Safari">Safari</option>
    <option value="Opera">Opera</option>
    <option value="Internet Explorer">Internet Explorer</option>
</select><!--/. Default Select End -->

<!-- Select With Search Begin -->
<select class="select2">
    <option label="Choose one"></option>
    <option value="Firefox">Firefox</option>
    <option value="Chrome">Chrome</option>
    <option value="Safari">Safari</option>
    <option value="Opera">Opera</option>
    <option value="Internet Explorer">Internet Explorer</option>
</select><!--/. Select With Search End -->

<!-- Multiply Search Begin -->
<select class="select2" multiple="multiple">
    <option selected value="Firefox">Firefox</option>
    <option value="Chrome">Chrome</option>
    <option value="Safari">Safari</option>
    <option value="Opera">Opera</option>
    <option value="Internet Explorer">Internet Explorer</option>
</select><!--/. Multiply Search End -->
</script></code></pre>
                                    <div class="clipboard-icon" data-clipboard-target="#select2-html-tab"><i class="fas fa-copy"></i></div>
                                </figure>
                                <!-- End Prism Precode -->

                                <!-- Prism Precode -->
                                <figure class="highlight clip-widget tab-pane" id="select2-js-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
$('.select2').select2({
    placeholder: 'Choose one',
    searchInputPlaceholder: 'Search',
    width: '100%'
});

$('.select2-no-search').select2({
    minimumResultsForSearch: Infinity,
    placeholder: 'Choose one',
    width: '100%'
});

</script></code></pre>
                                    <div class="clipboard-icon" data-clipboard-target="#select2-html-tab"><i class="fas fa-copy"></i></div>
                                </figure>
                                <!-- End Prism Precode -->

                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-3">DATETIMEPICKER</h3>
                            <div class="example">
                                <div class="row">
                                    <div class="col-sm-7 col-md-6 col-lg-4">
                                        <div class="control mb-0">
                                            <input class="control__input js-datetimepicker" type="text" value="2018-12-20 21:05">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="nav nav-tabs html-source" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active mr-1 html-code" data-toggle="tab" href="#datepicker-tab" role="tab" aria-controls="html-code" aria-selected="true"><i class="fab fa-html5 tx-orange mr-2"></i>HTML</a>
                                </li>
                            </ul>

                            <!-- Prism Precode -->
                            <figure class="highlight clip-widget" id="datepicker-tab">
<pre><code class="language-markup"><script type="html-dashlead/script">
<input class="control__input js-datetimepicker" type="text" value="2018-12-20 21:05">

</script></code></pre>
                                <div class="clipboard-icon" data-clipboard-target="#datepicker-tab"><i class="fas fa-copy"></i></div>
                            </figure>
                            <!-- End Prism Precode -->
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <div class="text-muted">Projectname - Components</div>
                        <div class="text-muted">Developed by Alibek Kulseitov</div>
                    </div>

                </section><!--/. Demo End -->

            </main><!--/. App Main End -->

		</div><!--/. App Wrapper End -->

	</div><!--/. App End -->

    {{> bottom/bottom}}

</body>
</html>
