/*
|--------------------------------------------------------------------------
| paginator
|--------------------------------------------------------------------------
*/

.paginator {
    @include nl();
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
        display: inline-block;
        vertical-align: top;
        @include rem('margin', 0 2px);

        &.--disabled {
            cursor: not-allowed;
            pointer-events: none;
            opacity: .5;
        }

		&.--active {

			.paginator__link {
				color: $blue;
                font-weight: 600;

				&:hover,
				&:focus {
                    color: $blue;
				}
			}
		}
    }

    &__link {
        color: $black;
        font-weight: 500;
        display: block;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $blue;
        }

        &[rel=prev] {
            @include rem('width', 40px);
            @include rem('height', 40px);
            border-radius: 50%;
            background: #fff url("../img/general/ic-angle_left.svg") center no-repeat;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            @include rem('margin-right', 30px);

            &:hover,
            &:focus {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
        }

        &[rel=next] {
            @include rem('width', 40px);
            @include rem('height', 40px);
            border-radius: 50%;
            background: #fff url("../img/general/ic-angle_right.svg") center no-repeat;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            @include rem('margin-left', 30px);

            &:hover,
            &:focus {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
        }
    }
}
