<!-- Paginator Begin -->
<ul class="paginator">
    <li class="paginator__item is-disabled">
        <a href="#" class="paginator__link" rel="prev">«</a>
    </li>
    <li class="paginator__item is-active">
        <a href="#" class="paginator__link">1</a>
    </li>
    <li class="paginator__item">
        <a href="#" class="paginator__link">2</a>
    </li>
    <li class="paginator__item">
        <a href="#" class="paginator__link">3</a>
    </li>
    <li class="paginator__item">
        <a href="#" class="paginator__link" rel="next">»</a>
    </li>
</ul><!--/. Paginator End -->
