.back-to-top {
    position: fixed;
    @include rem('bottom', 20px);
    @include rem('left', 20px);
    z-index: 99;
    display: none;
    text-align: center;
    @include rem('border-radius', 4px);
    @include rem('width', 30px);
    @include rem('height', 30px);
    background-repeat: no-repeat;
    background-color: $blue;
    background-position: center;
    transition: background-color 0.1s linear;
    @include rem('line-height', 30px);

    &:hover,
    &:focus {
        color: #fff;
    }

    i {
        padding-top: 0;
        @include rem('font-size', 14px);
        color: #fff;
    }
}
