/*
|--------------------------------------------------------------------------
| sidebar
|--------------------------------------------------------------------------
*/

$sidebarWidth: 280px;

.sidebar {
    width: $sidebarWidth;
    margin-left: -$sidebarWidth;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    @include transition(.3s);
    z-index: 999;
    visibility: hidden;
    height: 100%;
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.9);

    &__body {
        overflow: auto;
        height: 100vh;
        @include rem('padding', 20px 0);
        //border-right: 1px solid #EDEDED;
        position: relative;

        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }
        &::-webkit-scrollbar-track {
            background-color: #e4e8f5;
            border-radius: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #b0bec5;
            border-radius: 3px;
            width: 2px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #5c5c5c;
        }
    }

    &__menu {
        @include nl();
        @include rem('padding', 0 15px);
    }

    &__item {
        position: relative;
        @include rem('padding-bottom', 5px);

        &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: -15px;
            height: 35px;
            width: 4px;
            background: $orange;
            display: none;
            border-radius: 0 3px 3px 0;
        }

        &.is-active {

            .sidebar__link {
                color: $blue;

                &:before {
                    filter: grayscale(0);
                }
            }

            &:before {
                display: block;
            }
        }
    }

    &__submenu {
        position: relative;
    }

    &__sublink {
        @include rem('font-size', 14px);
        color: #000;
        display: block;
        @include rem('margin-bottom', 10px);
        @include rem('padding', 0 15px 0 40px);
        position: relative;
        line-height: 1.2;

        &.is-active {
            color: $blue;
        }
    }

    &__divider {
        border-top: 1px solid #EDEDED;
        @include rem('margin', 25px 0)
    }
}

.sidebar-open {
    overflow: hidden;

    .sidebar {
        margin-left: 0;
        visibility: visible;
    }

    .app:before {
        visibility: visible;
        opacity: 1;
    }
}
