/*
|--------------------------------------------------------------------------
| Common styles
|--------------------------------------------------------------------------
*/

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: $black;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-rendering: optimizeLegibility;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/*
|--------------------------------------------------------------------------
| inputs reset
|--------------------------------------------------------------------------
*/

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]{
    box-sizing: border-box;
    background-clip: padding-box;
    -webkit-appearance: none;
    outline: 0;
    margin: 0;
}

/*
|--------------------------------------------------------------------------
| Responsive default Images & Other Objects
|--------------------------------------------------------------------------
*/

img, object, embed {
    max-width: 100%;
}

/*
|--------------------------------------------------------------------------
| Scrollbar styling
|--------------------------------------------------------------------------
*/

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background-color: #e4e8f5;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #b0bec5;
    border-radius: 10px;
    width: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #5c5c5c;
}
