/*@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/CustomFont.eot');
    src: url('../fonts/CustomFont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CustomFont.woff') format('woff'),
    url('../fonts/CustomFont.svg#CustomFont') format('svg');
    font-weight: normal;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}*/
