/*
|--------------------------------------------------------------------------
| server
|--------------------------------------------------------------------------
*/

.server {
    box-shadow: 0 0 25px rgba(120, 120, 120, 0.15);
    @include transition(.3s);
    @include rem('border-radius', 4px);
    background-color: #fff;
    position: relative;

    &:hover,
    &:focus {
        box-shadow: 0 0 40px rgba(120, 120, 120, 0.4);
    }

    &__header {
        @include rem('padding', 30px 15px 0);
        position: relative;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            @include rem('padding', 30px 30px 0);
        }
    }

    &__name {
        @include rem('font-size', 17px);
        font-weight: 700;
        @include rem('max-width', 240px);
        position: relative;
        z-index: 1;

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 19px);
        }
    }

    &__id {
        @include rem('font-size', 18px);
        @include rem('margin-top', 5px);
        position: relative;
        z-index: 1;
    }

    &__img {
        text-align: center;
        @include rem('margin', -20px 0 -10px);

        @include media-breakpoint-up(lg) {
            @include rem('margin', -35px 0 -10px);
        }

        img {
            @include rem('height', 190px);

            @include media-breakpoint-up(lg) {
                @include rem('height', 225px);
            }
        }
    }

    &__title {
        @include rem('font-size', 14px);
        max-width: 40%;
        flex: 0 0 40%;
        background-size: 20px;
        background-position: left top;
        background-repeat: no-repeat;
        @include rem('padding-left', 32px);
    }

    &__desc {
        display: flex;
        @include rem('padding', 10px 15px);

        @include media-breakpoint-up(lg) {
            @include rem('padding', 10px 30px);
        }

        &:nth-child(odd) {
            background-color: $silver;
        }
    }

    &__subtitle {
        @include rem('font-size', 14px);
        max-width: 60%;
        flex: 0 0 60%;
        text-align: right;

        s {
            color: #FF0000;
            @include rem('margin-right', 15px)
        }
    }

    &__footer {
        @include rem('padding', 32px);
        text-align: center;

        @include media-breakpoint-up(lg) {
            @include rem('padding', 40px);
        }
    }

    &__button {
        @include rem('width', 200px);
    }

    &__ribbon-wrapper {
        width: 210px;
        height: 210px;;
        overflow: hidden;
        position: absolute;
        top: -6px;
        right: -6px;
        z-index: 3;
    }

    &__ribbon {
        @include rem('font-size', 11px);
        font-weight: 600;
        color: #fff;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        transform: rotate(45deg);
        position: relative;
        padding: 7px 0;
        left: -1px;
        top: 27px;
        width: 135px;
        background-color: #6daaab;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        letter-spacing: 0.5px;

        &:before,
        &:after {
            content: "";
            border-top: 4px solid transparent;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            position: absolute;
            bottom: -4px;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }

        &:nth-child(1) {
            left: 103px;
            top: 27px;
            width: 135px;
        }

        &:nth-child(2) {
            left: 49px;
            top: 25px;
            width: 199px;
        }

        &:nth-child(3) {
            left: -7px;
            top: 23px;
            width: 264px;
        }

        &.--new {
            background: linear-gradient(204.37deg, #2074C2 -20.59%, #1861A5 219%);

            &:before,
            &:after {
                border-top-color: #145DA2;
            }
        }

        &.--promo {
            background: linear-gradient(204.37deg, #EA2626 -20.59%, #640B0B 219%);

            &:before,
            &:after {
                border-top-color: #941414;
            }
        }

        &.--hit {
            background: linear-gradient(204.37deg, #69B21B -20.59%, #1D664A 219%);

            &:before,
            &:after {
                border-top-color: #488521;
            }
        }
    }
}
