/*
|--------------------------------------------------------------------------
| section-header
|--------------------------------------------------------------------------
*/

.section-header {
	@include rem('padding-bottom', 40px);
	text-align: center;

    &__title {
		@include rem('font-size', 32px);
        font-weight: 600;
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 42px);
        }

        span {
            color: $blue;
        }
    }

	&__text {
		@include rem('margin', 15px auto 0);
        @include rem('max-width', 870px);
        width: 100%;
	}
}
