/*
|--------------------------------------------------------------------------
| footer
|--------------------------------------------------------------------------
*/

.footer {
    background: $black;

    &__main {
        @include rem('padding', 45px 0 25px);
    }

    &__social {
        @include rem('margin-top', 20px);

        .social__link {
            background-color: rgba(#F1F7FA, .2);

            &:hover,
            &:focus {
                background-color: rgba($blue, .2);
            }
        }
    }

    &__title {
        color: #fff;
        font-weight: 500;
        @include rem('margin-bottom', 20px);
        text-transform: uppercase;
    }

    &__menu {
        @include nl();
    }

    &__link {
        color: #fff;
        font-weight: 300;
        display: block;
        @include rem('margin-top', 5px);

        &:hover,
        &:focus {
            color: #fff;
            opacity: .8;
        }
    }

    &__developer {
        border-top: 1px solid rgba(255, 255, 255, .2);
        font-weight: 500;
        color: rgba(255, 255, 255, .6);
        text-align: center;
        @include rem('padding', 15px 0)
    }

    &__payments {
        display: flex;
        flex-wrap: wrap;
    }

    &__payments-item {
        @include rem('width', 54px);
        @include rem('height', 32px);
        background-color: rgba(255, 255, 255, .8);
        @include rem('border-radius', 3px);
        @include rem('margin', 0 15px 15px 0);
        @include rem('padding', 5px);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 22px;
        }
    }
}
