/*
|--------------------------------------------------------------------------
| ssl
|--------------------------------------------------------------------------
*/

.ssl {

    &__header {
        background: #F1F7FA;
        position: relative;
        z-index: 10;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__header-row {
        display: flex;
        @include rem('padding', 6px 0)
    }

    &__th {
        font-weight: 500;
        @include rem('font-size', 12px);
        line-height: 1.1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-right: 1px solid #D2E3F2;
        @include rem('padding', 5px 10px);
        min-height: 70px;

        &:nth-child(1) {

            @include media-breakpoint-up(lg) {
                max-width: 10%;
                flex: 0 0 10%;
            }
        }

        &:nth-child(2) {

            @include media-breakpoint-up(lg) {
                max-width: 13%;
                flex: 0 0 13%;
            }
        }

        &:nth-child(3) {

            @include media-breakpoint-up(lg) {
                max-width: 10%;
                flex: 0 0 10%;
            }
        }

        &:nth-child(4) {

            @include media-breakpoint-up(lg) {
                max-width: 13%;
                flex: 0 0 13%;
            }
        }

        &:nth-child(5) {

            @include media-breakpoint-up(lg) {
                max-width: 10%;
                flex: 0 0 10%;
            }
        }

        &:nth-child(6) {

            @include media-breakpoint-up(lg) {
                max-width: 10%;
                flex: 0 0 10%;
            }
        }

        &:nth-child(7) {

            @include media-breakpoint-up(lg) {
                max-width: 10%;
                flex: 0 0 10%;
            }
        }

        &:nth-child(8) {

            @include media-breakpoint-up(lg) {
                max-width: 24%;
                flex: 0 0 24%;
            }
        }

        &:last-child {
            border-right: none;
        }
    }

    &__sub-th {
        @include rem('font-size', 10px);
        border-top: 1px solid #D2E3F2;
        @include rem('padding', 10px 15px 0);
        @include rem('margin-top', 10px);
    }

    &__item {
        @include rem('margin-top', 30px);
        background: #fff;
        box-shadow: 0 0 25px rgba(120, 120, 120, 0.15);
        position: relative;
    }

    &__id {
        @include rem('font-size', 12px);
        color: rgba($black, .5);
        @include rem('padding', 8px 7px 2px)
    }

    &__row {


        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }

    &__td {
        @include rem('font-size', 13px);
        font-weight: 500;
        line-height: 1.3;
        @include rem('padding', 10px 15px);
        padding-left: 50%;
        position: relative;

        @include media-breakpoint-up(lg) {
            line-height: 1.1;
            @include rem('font-size', 11px);
            min-height: 70px;
            border-top: none !important;
            border-right: 1px solid rgba($black, .15);
            @include rem('padding', 5px 10px);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &:nth-child(1) {
            padding-left: 0;
            text-align: center;

            @include media-breakpoint-up(lg) {
                max-width: 10%;
                flex: 0 0 10%;
            }
        }

        &:nth-child(2) {
            padding-left: 0;
            text-align: center;
            @include rem('padding-bottom', 20px);

            @include media-breakpoint-up(lg) {
                max-width: 13%;
                flex: 0 0 13%;
            }
        }

        &:nth-child(3) {
            @include rem('padding-top', 20px);
            border-top: 1px solid rgba($black, .15);

            @include media-breakpoint-up(lg) {
                max-width: 10%;
                flex: 0 0 10%;
            }

            &:before {
                @include rem('top', 20px);
            }
        }

        &:nth-child(4) {

            @include media-breakpoint-up(lg) {
                max-width: 13%;
                flex: 0 0 13%;
            }
        }

        &:nth-child(5) {

            @include media-breakpoint-up(lg) {
                max-width: 10%;
                flex: 0 0 10%;
            }
        }

        &:nth-child(6) {

            @include media-breakpoint-up(lg) {
                max-width: 10%;
                flex: 0 0 10%;
            }
        }

        &:nth-child(7) {
            @include rem('padding-bottom', 20px);

            @include media-breakpoint-up(lg) {
                max-width: 10%;
                flex: 0 0 10%;
            }
        }

        &:nth-child(8) {
            border-top: 1px solid rgba($black, .15);
            padding-left: 0;

            @include media-breakpoint-up(lg) {
                max-width: 24%;
                flex: 0 0 24%;
            }
        }

        &:last-child {
            border-right: none;
        }

        &:before {
            content: attr(data-title);
            position: absolute;
            @include rem('top', 9px);
            @include rem('left', 15px);
            width: 50%;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }

    &__sub-row {
        width: 100%;

        @include media-breakpoint-up(lg) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    &__sub-td {
        @include rem('padding-top', 15px);
        @include rem('padding-bottom', 15px);
        padding-left: 53%;
        position: relative;

        @include media-breakpoint-up(lg) {
            flex: 0 0 33.333%;
            max-width: 33.333%;
            padding-left: 0;
            @include rem('padding-top', 10px);
            @include rem('padding-bottom', 10px);
        }

        &:nth-child(1) {
            @include rem('padding-top', 10px);

            @include media-breakpoint-up(lg) {

            }
        }

        &:before {
            @include rem('font-size', 12px);
            content: attr(data-title);
            position: absolute;
            @include rem('top', 9px);
            @include rem('left', 15px);
            width: 35%;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include rem('padding', 25px 15px 20px);

        @include media-breakpoint-up(lg) {
            @include rem('padding', 15px 25px 25px);
        }
    }

    &__button {
        @include rem('width', 200px);

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__footer-xs {
        @include rem('padding', 0 40px 30px);
        text-align: center;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        .ssl__button {
            display: flex;
            margin: 0 auto;
        }
    }

    &__toggle {
        @include rem('font-size', 14px);
        display: flex;
        align-items: center;

        &:hover,
        &:focus {
            color: $blue;
        }

        &:after {
            content: '';
            @include rem('width', 10px);
            @include rem('height', 10px);
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../img/general/ic-angle_up_sm.svg");
            @include rem('margin-left', 10px);
            transform: rotate(180deg);
        }

        &[aria-expanded="false"] {

            &:after {

            }
        }

        &[aria-expanded="true"] {

            &:after {
                transform: rotate(0deg);
            }
        }
    }

    &__desc {
        @include rem('font-size', 14px);
        font-weight: 300;
        @include rem('padding', 20px 15px);
        background-color: #F1F7FA;
        border-bottom: 30px solid #fff;

        @include media-breakpoint-up(lg) {
            @include rem('padding', 20px 25px);
            border-bottom: none;
        }

        p:last-child {
            margin-bottom: 0;
        }

        strong {
            font-weight: 600;
        }
    }

    &__title {
        @include rem('font-size', 16px);
        font-weight: 500;
        @include rem('margin-bottom', 7px);
        color: #000;
    }
}
