/*
|--------------------------------------------------------------------------
| logo
|--------------------------------------------------------------------------
*/

.logo {
    display: block;
    text-indent: -9999px;
    @include rem('width', 137px);
    @include rem('height', 37px);
    background: url("../img/general/logo.svg") center/100% no-repeat;

    @include media-breakpoint-up(md) {
        @include rem('width', 175px);
        @include rem('height', 50px);
    }
}
