/*
|--------------------------------------------------------------------------
| benefits
|--------------------------------------------------------------------------
*/

.benefits {

    &__item {
        position: relative;
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: left;
        }

        &:hover,
        &:focus {

            .benefits__number {
                transform: translateY(-5px);
            }

            .benefits__icon {
                transform: translateX(5px);
            }
        }
    }

    &__number {
        @include rem('font-size', 80px);
        font-weight: 600;
        line-height: 1;
        color: rgba($black, .07);
        margin-bottom: -40px;
        @include transition(.4s);
        z-index: -1;
        position: relative;
        @include rem('left', -36px);

        @include media-breakpoint-up(lg) {
            left: 0;
        }
    }

    &__icon {
        @include rem('margin-bottom', 15px);
        @include transition(.3s);

        @include media-breakpoint-up(lg) {
            @include rem('margin-left', 55px);
        }

        svg {
            @include rem('height', 60px)
        }
    }

    &__title {
        @include rem('font-size', 20px);
        font-weight: 700;
        @include rem('margin-bottom', 10px)
    }
}
