/*
|--------------------------------------------------------------------------
| social
|--------------------------------------------------------------------------
*/

.social {
    @include nl();
    display: flex;
    align-items: center;

    &__item {
        @include rem('margin', 0 4px);
    }

    &__link {
        color: #fff;
        background-color: $gray;
        @include rem('width', 26px);
        @include rem('height', 26px);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $blue;
        }

        svg {
            @include rem('width', 12px);
        }
    }
}
