/*
|--------------------------------------------------------------------------
| entry
|--------------------------------------------------------------------------
*/

.entry {
    background-color: #F1F7FA;
    overflow: hidden;
    position: relative;

    .swiper-container {
        @include rem('padding', 25px);
        @include rem('margin', -25px);
    }

    &__services {
        @include rem('padding', 60px 0 90px);
        text-align: center;

        @include media-breakpoint-up(lg) {
            @include rem('padding', 75px 0);
            text-align: left;
            @include rem('height', 600px);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &.--windows {
            text-align: center;
            overflow: hidden;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-image: url("../img/content/pattern2.png");
                background-repeat: no-repeat;
                animation: bg-animation 30s ease-in-out infinite;
                background-size: cover;
            }

            .entry__title {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                &:before {
                    @include rem('width', 41px);
                    @include rem('max-width', 41px);
                    @include rem('flex', 0 0 41px);
                    @include rem('height', 41px);
                    background-image: url("../img/general/win-logo.svg");
                    @include rem('margin-right', 15px)
                }
            }

            .entry__button {
                margin: 0 auto;
            }

            .entry__desc {
                @include rem('max-width', 970px);
                width: 100%;
                margin: 0 auto;
            }
        }

        &.--server {
            overflow: hidden;

            .entry__title {

                @include media-breakpoint-up(lg) {
                    max-width: 85%;
                }
            }
        }

        &.--servers {
            overflow: hidden;

            .entry__title {
                display: inline-flex;
                align-items: center;

                &:before {
                    @include rem('width', 44px);
                    @include rem('max-width', 44px);
                    @include rem('flex', 0 0 44px);
                    @include rem('height', 60px);
                    background-image: url("../img/general/mini-server.svg");
                    @include rem('margin-right', 15px)
                }
            }
        }

        &.--ssl {
            position: relative;
            overflow: hidden;

            .entry__title {
                display: inline-flex;
                align-items: center;

                &:before {
                    @include rem('width', 51px);
                    @include rem('max-width', 51px);
                    @include rem('flex', 0 0 51px);
                    @include rem('height', 60px);
                    background-image: url("../img/general/ssl.svg");
                    @include rem('margin-right', 15px)
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-image: url("../img/content/pattern.png");
                background-repeat: no-repeat;
                animation: bg-animation 30s ease-in-out infinite;
                background-size: cover;
            }
        }
    }

    &__content {

    }

    &__header {
        @include rem('padding-bottom', 30px);
    }

    &__title {
        @include rem('font-size', 32px);
        font-weight: 700;
        color: #000;
        line-height: 1.2;
        @include rem('padding-bottom', 15px);

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 50px);
            @include rem('padding-bottom', 30px);
        }

        &:before {
            content: '';
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }

        svg {

        }
    }

    &__desc {

        @include media-breakpoint-up(xl) {
            @include rem('font-size', 18px);
        }
    }

    &__products {
        @include rem('padding-bottom', 35px);
    }

    &__product {
        @include rem('padding', 18px 22px);
        line-height: 1;
        background-color: #fff;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition(.3s);

        &:hover,
        &:focus {
            filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.05));
        }

        svg {
            @include rem('margin-right', 12px)
        }
    }

    &__product-title {
        font-weight: 600;
        color: #333;
    }

    &__img {
        max-width: none;
        @include rem('height', 170px);

        @include media-breakpoint-up(lg) {
            max-width: 100%;
            height: auto;
        }
    }

    &__button {
        filter: drop-shadow(0px 5px 15px rgba(11, 106, 246, 0.3));
        @include rem('width', 250px);
        @include rem('height', 45px);

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 18px);
            @include rem('height', 55px);
        }

        &:hover,
        &:focus {
            filter: drop-shadow(0px 5px 4px rgba(11, 106, 246, 0.2));
        }
    }

    &__logo {
        @include rem('width', 270px);
        @include rem('margin-bottom', 25px);

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__callback-text {
        @include rem('font-size', 12px);
        font-weight: 500;
        display: inline-flex;
        position: relative;
        @include rem('top', -10px);
        @include rem('left', 22px);

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__slider {
        position: relative;
    }

    &__controls {

    }

    &__control {
        @include center(vertical);
        @include rem('width', 40px);
        @include rem('height', 40px);
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        @include transition(.1s);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        outline: none !important;
        z-index: 100;
        border-radius: 50%;


        &:hover,
        &:focus {
            background-color: $blue;
        }

        &.--prev {
            left: 24vh;
            background-image: url("../img/general/ic-angle_left.svg");

            @include media-breakpoint-down(lg) {
                left: 5px;
            }
        }

        &.--next {
            right: 24vh;
            background-image: url("../img/general/ic-angle_right.svg");

            @include media-breakpoint-down(lg) {
                right: 5px;
            }
        }
    }

    &__pagination {
        @include center(horizontal);
        @include rem('bottom', 45px);
        z-index: 9;

        .swiper-pagination-bullet {
            @include rem('width', 6px);
            @include rem('height', 6px);
            opacity: 1;
            background-color: $gray;
            @include rem('margin', 0 5px);
        }

        .swiper-pagination-bullet-active {
            @include rem('width', 30px);
            @include rem('border-radius', 32px);
        }
    }
}

@keyframes bg-animation {
    0% {
        transform: scale(1);
        background-position: top;
    }

    50% {
        transform: scale(1.3);
        background-position: bottom;
    }
    100% {
        transform: scale(1);
        background-position: top;
    }
}
