/*
|--------------------------------------------------------------------------
| Particles
|--------------------------------------------------------------------------
*/

.particles {
    position: absolute;
    top: 0;
    height: 100%;;
    width: 100%;
    z-index: -1;
    opacity: .3;
}
