/*
|--------------------------------------------------------------------------
| navigation
|--------------------------------------------------------------------------
*/

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        color: $black;
        position: relative;
        line-height: 1;
        @include rem('margin', 0 22px);
        outline: none;
        @include rem('padding', 12px 0);

        @include media-breakpoint-up(xl) {
            @include rem('margin', 0 33px);
        }

        &:hover,
        &:focus {
            color: $blue;
            text-decoration: none;
        }

        &.is-active {
            color: $blue;
            font-weight: 600;
        }
    }
}
