<nav class="navigation">
    <a href="#" class="navigation__link">О нас</a>
    <a href="#" class="navigation__link is-active">Команда</a>
    <a href="#" class="navigation__link">Практики</a>
    <a href="#" class="navigation__link">Пресс-центр</a>
    <a href="#" class="navigation__link">Контакты</a>
</nav>
