/*
|--------------------------------------------------------------------------
| about
|--------------------------------------------------------------------------
*/

.about {

    ul {
        @include nl();

        li {
            position: relative;
            @include rem('padding-left', 22px);
            @include rem('margin-bottom', 12px);

            &:before {
                content: '';
                @include center(vertical);
                left: 0;
                @include rem('width', 8px);
                @include rem('height', 8px);
                border-radius: 50%;
                background: $blue;
            }
        }
    }

    &__img {
        @include rem('margin', 0 -15px);

        @include media-breakpoint-up(md) {
            margin: 0;
        }
    }
}
