/*
|--------------------------------------------------------------------------
| header
|--------------------------------------------------------------------------
*/

.header {
    background: $white;
    width: 100%;
    @include transition(.3s);
    z-index: 999;
    @include rem('height', 103px);

    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
        height: auto;
        @include rem('padding', 10px 0);
    }

    &__row {
        display: flex;
        align-items: center;

        @include media-breakpoint-up(lg) {
            border-bottom: 1px solid $gray;
            @include rem('padding', 7px 0);
        }
    }

    &__main {
        background-color: #fff;
        position: relative;
        z-index: 999;
    }

    &__contacts {
        display: flex;
        align-items: flex-start;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__info {
        @include rem('margin', 6px 0 0 30px);
        @include rem('padding-left', 25px);
        position: relative;

        @include media-breakpoint-up(xl) {
            @include rem('margin', 6px 0 0 40px);
        }
    }

    &__info-icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        color: $black;
    }

    &__info-subtitle {
        @include rem('font-size', 14px);
        color: $gray;
    }

    &__social {
        @include rem('margin', 0 10px 0 30px !important);

        @include media-breakpoint-up(xl) {
            @include rem('margin', 0 10px 0 50px !important);
        }

        @include media-breakpoint-down(md) {
            display: none !important;
        }
    }

    &__button {
        margin-left: auto;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__menu {
        background: #fff;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);

        @include media-breakpoint-down(md) {
            display: none;
        }

        .logo {
            @include center(vertical);
            @include rem('left', 15px);
            @include rem('height', 40px);
            width: 82px;
            height: 23px;
            background-size: 100%;
            opacity: 0;
        }

        .header__button {
            @include rem('font-size', 12px);
            @include rem('height', 28px);
            @include center(vertical);
            @include rem('right', 15px);
            opacity: 0;
            transition: none;
            @include rem('width', 126px);
        }

        &.is-fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 888;

            .logo,
            .header__button {
                opacity: 1;
            }
        }
    }

    &__menu-row {
        position: relative;
    }
}
