<!-- Header Begin -->
<header class="header">
    <div class="header__main">
        <div class="container">
            <div class="header__row">
                <a href="#" class="logo" title="logo">Logo</a>
                <div class="header__contacts">
                    <div class="header__info">
                        <div class="header__info-icon">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.7964 9.84578C12.878 9.84578 11.9763 9.70215 11.1218 9.41977C10.7031 9.27695 10.1884 9.40797 9.93285 9.67043L8.24625 10.9436C6.29027 9.89953 5.08543 8.69508 4.05559 6.75379L5.29133 5.11113C5.61238 4.79051 5.72754 4.32215 5.58957 3.8827C5.30598 3.02371 5.16191 2.12242 5.16191 1.20367C5.16195 0.539961 4.62199 0 3.95832 0H1.20363C0.539961 0 0 0.539961 0 1.20363C0 8.81105 6.18898 15 13.7964 15C14.4601 15 15 14.46 15 13.7964V11.0494C15 10.3857 14.46 9.84578 13.7964 9.84578Z" fill="#2074C2"/>
                            </svg>
                        </div>
                        <div class="header__info-title">+7 (495) 458-45-45</div>
                        <div class="header__info-subtitle">24/7</div>
                    </div>
                    <div class="header__info">
                        <div class="header__info-icon">
                            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.682 0.787109H1.31872C1.11578 0.787109 0.925791 0.836999 0.753906 0.919239L7.47106 7.6364L8.9766 6.18951L14.247 0.919359C14.0751 0.837059 13.885 0.787109 13.682 0.787109Z" fill="#2074C2"/>
                                <path d="M14.8696 1.54102L9.91016 6.50022L14.8694 11.4595C14.9517 11.2876 15.0016 11.0976 15.0016 10.8947V2.10563C15.0016 1.9028 14.9518 1.71284 14.8696 1.54102Z" fill="#2074C2"/>
                                <path d="M0.132129 1.54102C0.0498926 1.7129 0 1.90289 0 2.10583V10.8949C0 11.0977 0.049834 11.2877 0.132012 11.4596L5.09147 6.50036L0.132129 1.54102Z" fill="#2074C2"/>
                                <path d="M9.28774 7.12115L7.782 8.56821C7.69616 8.65405 7.58372 8.69697 7.47131 8.69697C7.35889 8.69697 7.24642 8.65405 7.16061 8.56821L5.71346 7.12109L0.753906 12.0803C0.925821 12.1626 1.11593 12.2126 1.31893 12.2126H13.6822C13.8852 12.2126 14.0752 12.1627 14.247 12.0804L9.28774 7.12115Z" fill="#2074C2"/>
                            </svg>
                        </div>
                        <div class="header__info-title">info@olp.kz</div>
                    </div>
                </div>
                <ul class="social header__social">
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.75169 0H3.24828C1.45715 0 0 1.45715 0 3.24828V8.75178C0 10.5428 1.45715 12 3.24828 12H8.75178C10.5428 12 12 10.5428 12 8.75178V3.24828C12 1.45715 10.5428 0 8.75169 0ZM11.2965 8.75178C11.2965 10.1549 10.1549 11.2965 8.75169 11.2965H3.24828C1.84506 11.2965 0.70349 10.1549 0.70349 8.75178V3.24828C0.70349 1.84506 1.84506 0.70349 3.24828 0.70349H8.75178C10.1549 0.70349 11.2965 1.84506 11.2965 3.24828V8.75178Z" fill="white"/>
                                <path d="M5.9999 2.71875C4.19064 2.71875 2.71875 4.19064 2.71875 5.9999C2.71875 7.80916 4.19064 9.28106 5.9999 9.28106C7.80916 9.28106 9.28105 7.80916 9.28105 5.9999C9.28105 4.19064 7.80916 2.71875 5.9999 2.71875ZM5.9999 8.57757C4.57864 8.57757 3.42224 7.42126 3.42224 5.9999C3.42224 4.57864 4.57864 3.42224 5.9999 3.42224C7.42126 3.42224 8.57756 4.57864 8.57756 5.9999C8.57756 7.42126 7.42126 8.57757 5.9999 8.57757Z" fill="white"/>
                                <path d="M9.36017 1.55273C8.8255 1.55273 8.39062 1.9877 8.39062 2.52228C8.39062 3.05694 8.8255 3.49191 9.36017 3.49191C9.89483 3.49191 10.3298 3.05694 10.3298 2.52228C10.3298 1.98761 9.89483 1.55273 9.36017 1.55273ZM9.36017 2.78833C9.2135 2.78833 9.09411 2.66894 9.09411 2.52228C9.09411 2.37552 9.2135 2.25622 9.36017 2.25622C9.50692 2.25622 9.62631 2.37552 9.62631 2.52228C9.62631 2.66894 9.50692 2.78833 9.36017 2.78833Z" fill="white"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.99875 1.9925H9.09425V0.0845C8.90525 0.0585 8.25525 0 7.49825 0C5.91875 0 4.83675 0.9935 4.83675 2.8195V4.5H3.09375V6.633H4.83675V12H6.97375V6.6335H8.64625L8.91175 4.5005H6.97325V3.031C6.97375 2.4145 7.13975 1.9925 7.99875 1.9925Z" fill="white"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.09134 0.0917969H6.08834C2.78009 0.0917969 0.0898438 2.7828 0.0898438 6.0918C0.0898438 7.4043 0.512844 8.6208 1.23209 9.60855L0.484344 11.8375L2.79059 11.1003C3.73934 11.7288 4.87109 12.0918 6.09134 12.0918C9.39959 12.0918 12.0898 9.40005 12.0898 6.0918C12.0898 2.78355 9.39959 0.0917969 6.09134 0.0917969ZM9.58259 8.56455C9.43784 8.9733 8.86334 9.3123 8.40509 9.4113C8.09159 9.47805 7.68209 9.5313 6.30359 8.9598C4.54034 8.2293 3.40484 6.43755 3.31634 6.3213C3.23159 6.20505 2.60384 5.37255 2.60384 4.51155C2.60384 3.65055 3.04109 3.2313 3.21734 3.0513C3.36209 2.90355 3.60134 2.83605 3.83084 2.83605C3.90509 2.83605 3.97184 2.8398 4.03184 2.8428C4.20809 2.8503 4.29659 2.8608 4.41284 3.13905C4.55759 3.4878 4.91009 4.3488 4.95209 4.4373C4.99484 4.5258 5.03759 4.6458 4.97759 4.76205C4.92134 4.88205 4.87184 4.9353 4.78334 5.0373C4.69484 5.1393 4.61084 5.2173 4.52234 5.3268C4.44134 5.42205 4.34984 5.52405 4.45184 5.7003C4.55384 5.8728 4.90634 6.44805 5.42534 6.91005C6.09509 7.5063 6.63809 7.6968 6.83234 7.7778C6.97709 7.8378 7.14959 7.82355 7.25534 7.71105C7.38959 7.5663 7.55534 7.3263 7.72409 7.09005C7.84409 6.92055 7.99559 6.89955 8.15459 6.95955C8.31659 7.0158 9.17384 7.43955 9.35009 7.5273C9.52634 7.6158 9.64259 7.6578 9.68534 7.73205C9.72734 7.8063 9.72734 8.15505 9.58259 8.56455Z" fill="white"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.211955 5.78517L2.977 6.81717L4.04724 10.2591C4.11572 10.4795 4.38528 10.561 4.5642 10.4147L6.10548 9.15821C6.26704 9.02657 6.49716 9.02001 6.666 9.14257L9.44592 11.1609C9.63732 11.3 9.90848 11.1951 9.95648 10.9638L11.9929 1.16817C12.0453 0.915529 11.7971 0.704769 11.5565 0.797809L0.208715 5.17545C-0.0713245 5.28345 -0.0688845 5.67993 0.211955 5.78517ZM3.87476 6.26781L9.27868 2.93953C9.3758 2.87989 9.47572 3.01121 9.39232 3.08857L4.93252 7.23417C4.77576 7.38009 4.67464 7.57537 4.646 7.78733L4.49408 8.91317C4.47396 9.06349 4.2628 9.07841 4.22132 8.93293L3.63704 6.87993C3.57012 6.64577 3.66764 6.39565 3.87476 6.26781Z" fill="white"/>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.6545 8.27271C12.5235 4.36771 9.1025 0.82021 5.085 1.50121C2.904 0.14771 0 1.67721 0 4.27221C0 4.87571 0.1665 5.44071 0.456 5.92771C-0.3515 9.84171 3.0975 13.3382 7.1115 12.6107C9.949 14.1112 13.0845 11.1187 11.6545 8.27271ZM7.8355 10.6277C6.7815 11.0612 5.047 11.0637 3.9975 10.5142C2.501 9.71621 2.235 7.91971 3.526 7.91971C4.499 7.91971 4.191 9.05421 5.1735 9.51671C5.6245 9.72521 6.594 9.74671 7.1575 9.36671C7.714 8.99421 7.663 8.40821 7.3605 8.12821C6.559 7.38821 4.2655 7.68221 3.217 6.38671C2.7615 5.82471 2.6755 4.83321 3.2355 4.11421C4.2115 2.85821 7.0755 2.78171 8.307 3.73021C9.444 4.61021 9.137 5.77821 8.2195 5.77821C7.116 5.77821 7.696 4.33421 5.9145 4.33421C4.623 4.33421 4.115 5.25271 5.0245 5.69971C6.2575 6.31221 9.3995 6.10771 9.3995 8.50121C9.397 9.49721 8.7865 10.2397 7.8355 10.6277Z" fill="white"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a href="#modal-cta" class="button --primary header__button" data-toggle="modal">Консультация</a>
                <button type="button" class="burger js-menu-trigger">
                    <span class="burger__item"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="header__menu">
        <div class="container">
            <div class="header__menu-row">
                <a href="#" class="logo" title="logo">Logo</a>
                <nav class="navigation">
                    <a href="#" class="navigation__link is-active">Главная</a>
                    <a href="#" class="navigation__link">Microsoft</a>
                    <a href="#" class="navigation__link">SSL</a>
                    <a href="#" class="navigation__link">Сервисы</a>
                    <a href="#" class="navigation__link">О нас</a>
                    <a href="#" class="navigation__link">Контакты</a>
                </nav>
                <a href="#modal-cta" class="button --primary header__button" data-toggle="modal">Консультация</a>
            </div>
        </div>
    </div>
</header><!--/. Header end -->
