﻿/*
|--------------------------------------------------------------------------
| button
|--------------------------------------------------------------------------
*/

.button {
	@include rem('padding', 10px 25px);
	@include rem('border-radius', 5px);
	border: 1px solid transparent;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    outline: none;
	background-color: transparent;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    user-select: none;
    @include transition(.1s);
    text-overflow: ellipsis;
    white-space: nowrap;

    &:active,
    &.is-active {
        &:focus,
        &.-focus {
            // WebKit-specific. Other browsers will keep their default outline style.
            // (Initially tried to also force default via `outline: initial`,
            // but that seems to erroneously remove the outline in Firefox altogether.)
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
    }

    &:hover,
    &:focus,
    &.is-focus {
        text-decoration: none;
    }

    &:active,
    &.is-active {
        outline: 0;
        background-image: none;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    &.is-disabled,
    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .65;
        box-shadow: none;
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    // Alternate buttons
    &.--primary {
        color: #fff;
        background-color: $blue;

        &:hover,
        &:focus {
            color: #fff;
            background: darken($blue, 10%);
        }
    }

    &.--bordered {
        color: $blue;
        background-color: transparent;
        border: 1px solid $blue;

        &:hover,
        &:focus {
            color: #fff;
            background: $blue;
        }
    }

    &.--lg {
        @include rem('height', 55px);
    }
}
