/*
|--------------------------------------------------------------------------
| server-components
|--------------------------------------------------------------------------
*/

.server-components {
    @include rem('margin-top', 35px);

    &__header {
        background-color: $silver;
        @include rem('padding', 15px 0);

        @include media-breakpoint-up(lg) {
            @include rem('padding', 8px 0);
        }
    }

    &__row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__th {
        font-weight: 500;
        @include rem('padding', 10px 0);

        @include media-breakpoint-up(lg) {
            @include rem('padding', 23px 0);
        }

        &:nth-child(1) {
            max-width: 15%;
            flex: 0 0 15%;
            text-align: center;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &:nth-child(2) {

            @include media-breakpoint-down(md) {
                display: none;
            }

            @include media-breakpoint-up(lg) {
                max-width: 45%;
                flex: 0 0 45%;
            }

            @include media-breakpoint-up(xl) {
                max-width: 50%;
                flex: 0 0 50%;
            }
        }

        &:nth-child(3) {
            max-width: 100%;
            flex: 0 0 100%;

            @include media-breakpoint-up(lg) {
                max-width: 24%;
                flex: 0 0 24%;
                border-left: 1px solid #D2E3F2;
                @include rem('padding-left', 25px);
                @include rem('padding-right', 25px);
            }

            @include media-breakpoint-up(xl) {
                max-width: 20%;
                flex: 0 0 20%;
            }
        }

        &:nth-child(4) {
            max-width: 100%;
            flex: 0 0 100%;

            @include media-breakpoint-up(lg) {
                max-width: 15%;
                flex: 0 0 15%;
            }
        }
    }

    &__body {

    }

    &__item {
        @include rem('margin-top', 25px);
    }

    &__toggle {
        background-color: $silver;
        display: block;
        @include rem('padding', 0 15px);

        &:hover,
        &:focus {
            color: $blue;
        }

        &[aria-expanded="false"] {

            .server-components__title {

                &:after {
                    background-image: url("../img/general/ic-plus.svg");
                }
            }
        }

        &[aria-expanded="true"] {

            .server-components__title {
                color: $blue;

                &:after {
                    background-image: url("../img/general/ic-minus.svg");
                }
            }
        }
    }

    &__title {
        @include rem('font-size', 14px);
        font-weight: 500;
        color: $black;
        display: flex;
        align-items: center;
        background-size: 30px;
        background-position: left center;
        background-repeat: no-repeat;
        position: relative;
        max-width: 1110px;
        width: 100%;;
        margin: 0 auto;
        @include rem('padding', 17px 32px 17px 45px);

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 18px);
        }

        &:after {
            content: '';
            @include center(vertical);
            @include rem('width', 20px);
            @include rem('height', 20px);
            right: 0;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__desc {
        @include rem('margin-top', 20px);
        background-color: #fff;
        box-shadow: 0 0 25px rgba(120, 120, 120, 0.15);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        @include rem('padding', 0 0 30px);

        @include media-breakpoint-up(lg) {
            @include rem('padding', 0 30px 0 0);
            flex-direction: row;
        }
    }

    &__number {
        @include rem('font-size', 18px);
        font-weight: 500;
        background-color: $silver;
        @include rem('flex', 0 0 130px);
        @include rem('max-width', 130px);
        @include rem('width', 130px);
        @include rem('height', 90px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;

        @include media-breakpoint-up(lg) {
            max-width: 10%;
            flex: 0 0 10%;
            width: 10%;
            margin: 0;
        }
    }

    &__name {
        @include rem('font-size', 18px);
        text-align: center;
        @include rem('padding', 20px 0);
        border-bottom: 1px solid #D2E3F2;
        @include rem('margin', 0 55px);

        @include media-breakpoint-up(lg) {
            text-align: left;
            max-width: 50%;
            flex: 0 0 50%;
            border-right: 1px solid #D2E3F2;
            border-bottom: none;
            @include rem('padding', 15px 25px);
            margin: 0;
        }
    }

    &__price {
        font-weight: 500;
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
        @include rem('padding', 20px 25px 30px);

        @include media-breakpoint-up(lg) {
            text-align: left;
            @include rem('padding', 15px 25px);
            max-width: 18%;
            flex: 0 0 18%;
        }
    }

    &__button {
        @include rem('max-width', 200px);
        @include rem('width', 200px);

        @include media-breakpoint-up(lg) {
            max-width: 22%;
            flex: 0 0 22%;
            margin: 0;
        }
    }
}
