/*
|--------------------------------------------------------------------------
| product-tabs
|--------------------------------------------------------------------------
*/

.product-tabs {

    &__item {
        flex-direction: column;
        font-weight: 500;
        color: #00529F;
        background-color: transparent;
        border: 1px solid #00529F;

        &:hover,
        &:focus {
            color: #fff;
            background: #00529F;

            img {
                filter: brightness(0) invert(1);
            }
        }

        &.--active {
            background-color: #00529F;
            color: #fff;
            border-color: #00529F;

            img {
                filter: brightness(0) invert(1);
            }
        }

        small {
            @include rem('font-size', 12px);
        }

        img {
            @include rem('margin-right', 10px);
        }
    }
}
