/*
|--------------------------------------------------------------------------
| App
|--------------------------------------------------------------------------
*/

.app {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;

    &:before {
        content: '';
        position: fixed;
        z-index: 998;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .7);
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        @include transition(.3s)
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
    }

    &__main {
        flex: 1 0 auto;  /* flex: 1; would be enough but it looks bad in IE */;
        display: flex;
        flex-direction: column;
        @include rem('padding-top', 67px);

        @include media-breakpoint-up(lg) {
            //@include rem('padding-top', 105px);
            padding: 0;
        }
    }

    &__header {
        @include rem('padding', 22px 0 30px);
        background-color: $silver;

        @include media-breakpoint-up(lg) {
            @include rem('padding', 25px 0 45px);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__header-title {
        color: $black;
        @include rem('font-size', 32px);
        text-align: center;
        @include rem('margin-top', 25px);

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 45px);
        }
    }
}
