/*
|--------------------------------------------------------------------------
| services
|--------------------------------------------------------------------------
*/

.services {
    position: relative;
    display: block;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.13));
    height: 100%;

    @include media-breakpoint-up(xl) {
        filter: none;
        height: auto;
        @include rem('margin-bottom', 45px);
        background: none;
    }

    &:hover,
    &:focus {

        .services__img {

            img {
                transform: scale(1.1) rotate(3deg);
            }
        }
    }

    &__img {
        @include rem('height', 240px);
        background-color: #F1F7FA;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @include media-breakpoint-up(lg) {

        }

        @include media-breakpoint-up(xl) {
            @include rem('width', 300px);
            box-shadow: 0 9px 28px rgba(0,0,0,0.10), 0 5px 12px rgba(0,0,0,0.12);
            @include rem('height', 300px);
        }

        img {
            @include transition(2s);
        }
    }

    &__content {
        background-color: #fff;
        @include rem('padding', 20px 15px);

        @include media-breakpoint-up(lg) {
            @include rem('padding', 20px);
        }

        @include media-breakpoint-up(xl) {
            @include rem('width', 300px);
            position: absolute;
            right: 0;
            @include rem('bottom', -40px);
            filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.13));
        }
    }

    &__title {
        @include rem('font-size', 18px);
        font-weight: 700;
        color: $blue;
        line-height: 1.3;
        text-transform: uppercase;
        @include rem('margin-bottom', 7px);

        @include media-breakpoint-up(lg) {
            line-height: 1.1;
        }
    }

    &__desc {
        color: $black;
        @include rem('font-size', 14px);

        @include media-breakpoint-up(xl) {
            @include rem('font-size', 16px);
        }
    }
}
