/*
|--------------------------------------------------------------------------
| contacts
|--------------------------------------------------------------------------
*/

.contacts {

    &__info {
        @include rem('font-size', 16px);
        display: flex;
        align-items: center;
        @include rem('margin-bottom', 15px);

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 18px);
        }
    }

    &__icon {
        @include rem('width', 20px);
        @include rem('margin-right', 10px)
    }

    &__social {
        @include rem('margin-top', 30px)
    }

    &__form {
        background-color: #fff;
        box-shadow: 0 0 25px rgba(120, 120, 120, 0.15);
        @include rem('padding', 30px 15px);
        text-align: center;

        @include media-breakpoint-up(lg) {
            @include rem('padding', 40px);
            @include rem('margin-left', 80px);
        }
    }

    &__form-title {
        @include rem('font-size', 20px);
        font-weight: 700;
        @include rem('margin-bottom', 10px)
    }

    &__form-subtitle {
        @include rem('margin-bottom', 25px)
    }

    &__form-button {
        @include rem('width', 200px);
        @include rem('margin-top', 15px);

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 17px);
        }
    }

    &__map {
        @include rem('height', 250px);
        @include rem('margin-top', 40px);

        @include media-breakpoint-up(lg) {
            @include rem('height', 500px);
            @include rem('margin-top', 90px)
        }
    }
}
