/*
|--------------------------------------------------------------------------
| product-features
|--------------------------------------------------------------------------
*/

.product-features {
    @include rem('margin-top', 35px);

    &__header {
        background-color: $silver;
        @include rem('padding', 15px 0);
        position: relative;
        z-index: 10;

        @include media-breakpoint-up(lg) {
            @include rem('padding', 8px 0);
        }
    }

    &__th {
        @include rem('font-size', 13px);
        font-weight: 500;
        text-align: center;
        border-right: 1px solid #D2E3F2;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(lg) {
            min-height: 70px;
        }

        &:not(:first-child) {

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &:first-child {
            justify-content: flex-start;
        }

        &:last-child {
            border: none;
        }
    }

    &__list {

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__xs-list {

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &__item {
        @include rem('margin-top', 25px);
    }

    &__toggle {
        background-color: $silver;
        display: block;
        @include rem('padding', 0 15px);

        &:hover,
        &:focus {
            color: $blue;
        }

        &[aria-expanded="false"] {

            .product-features__title {

                &:after {
                    background-image: url("../img/general/ic-plus.svg");
                }
            }
        }

        &[aria-expanded="true"] {

            .product-features__title {
                color: $blue;

                &:after {
                    background-image: url("../img/general/ic-minus.svg");
                }
            }
        }
    }

    &__title {
        @include rem('font-size', 14px);
        font-weight: 500;
        color: $black;
        display: flex;
        align-items: center;
        background-size: 30px;
        background-position: left center;
        background-repeat: no-repeat;
        position: relative;
        max-width: 1110px;
        width: 100%;;
        margin: 0 auto;
        @include rem('padding', 17px 32px 17px 0);

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 18px);
        }

        &:after {
            content: '';
            @include center(vertical);
            @include rem('width', 20px);
            @include rem('height', 20px);
            right: 0;
            background-position: center;
            background-repeat: no-repeat;
        }

        span {
            color: $blue;
            @include rem('margin-right', 7px)
        }
    }

    &__body {
        @include rem('padding-top', 15px);
    }

    &__td {
        font-weight: 300;
        border-left: 1px solid #C4C4C4;
        text-align: center;
        @include rem('padding', 10px);

        @include media-breakpoint-down(md) {
            @include rem('padding', 10px 15px);
        }

        &:not(:first-child) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:first-child {
            text-align: left;
            border-left: none;
        }

        &:last-child {
        }
    }

    &__availability {
        @include rem('width', 22px);
        @include rem('height', 22px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: inline-flex;
    }

    &__desc {
        display: flex;

        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
        }

        span {
            @include rem('font-size', 18px);
            font-weight: 500;
            color: $blue;
            @include rem('flex', 0 0 35px);
            @include rem('max-width', 35px);

            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    &__divider {
        height: 1px;
        background-color: #C4C4C4;
    }

    &__icon {
        @include rem('max-width', 40px);
        @include rem('flex', 0 0 40px);
        @include rem('height', 40px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: inline-flex;
        @include rem('margin-right', 17px);
    }

    &__sub-toggle {
        @include rem('width', 20px);
        @include rem('height', 12px);
        @include rem('margin', 50px auto 0);
        background: url("../img/general/ic-angle_down_black.svg") center no-repeat;

        @include media-breakpoint-down(md) {
            position: relative;
            top: 15px;
            left: 50px;
            margin: 0;
        }

        &[aria-expanded="false"] {

        }

        &[aria-expanded="true"] {
            transform: rotate(180deg);
        }
    }
}
