// Replacement for default html colors
$aqua:    #F1F7FA;
$blue:    #2074C2;
$navy:    #01152C;
$teal:    #39CCCC;
$green:   #2ECC40;
$olive:   #128C7E;
$lime:    #01FF70;
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #F05454;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;
$white:   #ffffff;
$silver:  #F1F7FA;
$gray:    #B9CAD4;
$black:   #333333;
