<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Default Title</title>
<meta content="" name="description">
<meta content="" name="keywords">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="format-detection" content="telephone=no">
<!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
<meta name="HandheldFriendly" content="true">

<!-- Stylesheet -->
<link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css">
<link href="%=static=%css/separate-css/custom.css" rel="stylesheet" type="text/css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- Favicons -->
<link rel="icon" type="image/png" href="favicon.ico">

<script>
    (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
</script>

