/*
|--------------------------------------------------------------------------
| filters
|--------------------------------------------------------------------------
*/

.filters {

    &__header {
        @include rem('font-size', 18px);
        font-weight: 600;
        display: flex;
        align-items: center;
        @include rem('padding-bottom', 20px);

        @include media-breakpoint-down(md) {
            display: none;
        }

        &:before {
            content: '';
            @include rem('width', 30px);
            @include rem('height', 30px);
            background: url("../img/general/ic-filter.svg") center no-repeat;
            @include rem('margin-right', 15px);
        }
    }

    &__toggle {
        @include rem('font-size', 18px);
        color: $black;
        font-weight: 600;
        display: flex;
        align-items: center;
        @include rem('margin-bottom', 20px);
        position: relative;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        &:before {
            content: '';
            @include rem('width', 30px);
            @include rem('height', 30px);
            background: url("../img/general/ic-filter.svg") center no-repeat;
            @include rem('margin-right', 15px);
        }

        &:after {
            content: '';
            @include center(vertical);
            @include rem('width', 20px);
            @include rem('height', 20px);
            right: 0;
            background-position: center;
            background-repeat: no-repeat;
        }

        &:hover,
        &:focus {
            color: $blue;
        }

        &[aria-expanded="false"] {

            &:after {
                background-image: url("../img/general/ic-plus.svg");
            }
        }

        &[aria-expanded="true"] {

            &:after {
                background-image: url("../img/general/ic-minus.svg");
            }
        }
    }

    &__collapse {

        @include media-breakpoint-up(lg) {
             display: block !important;
        }
    }

    &__brands {
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }

    &__brand {
        position: relative;
        display: inline-block;
        vertical-align: top;
        @include rem('margin', 0 20px 20px 0)
    }

    &__brand-input {
        position: absolute;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;

        &:checked ~ label {
            border: 2px solid $blue;
            box-shadow: 0 2px 15px rgba(24, 124, 216, 0.28);

            &:before {
                background-color: $blue;
                box-shadow: 0 0 6px rgba(24, 124, 216, 0.6);
            }
        }
    }

    &__brand-label {
        font-weight: 500;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @include rem('width', 150px);
        @include rem('height', 108px);
        background-color: #F7F7F7;
        box-shadow: 0 2px 5px rgba(0, 38, 74, 0.11);
        margin: 0;
        border: 2px solid #F7F7F7;
        position: relative;
        @include rem('padding', 10px);

        &:before {
            content: '';
            position: absolute;
            @include rem('top', 10px);
            @include rem('right', 10px);
            @include rem('width', 17px);
            @include rem('height', 17px);
            box-shadow: inset 0 0 3px rgba(0, 38, 74, 0.2);
            background-color: #fff;
            border-radius: 50%;
        }

        &:after {
            content: '';
            position: absolute;
            @include rem('top', 10px);
            @include rem('right', 10px);
            background: url("../img/general/ic-check.svg") center no-repeat;
            @include rem('width', 17px);
            @include rem('height', 17px);
        }
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        @include rem('margin', 10px 0)
    }

    &__option {
        display: flex;
        align-items: center;
        @include rem('margin', 0 40px 20px 0)
    }

    &__hint {
        display: inline-flex;
        @include rem('margin-left', 7px);

        &:hover,
        &:focus {


            svg {

                path:nth-child(1) {
                    stroke: $blue;
                    fill: $blue;
                }

                path:nth-child(2) {
                    fill: #fff;
                }

                path:nth-child(3) {
                    fill: #fff;
                }
            }
        }
    }

    &__sort {
        max-width: 180px;

        select {
            @include rem('height', 42px);
        }
    }
}
