/*
|--------------------------------------------------------------------------
| plans
|--------------------------------------------------------------------------
*/

.plans {

    &__slider {

        .swiper-container {
            @include rem('padding', 45px);
            @include rem('margin', -45px)
        }

        .swiper-slide {
            height: auto;

            @include media-breakpoint-down(md) {
                height: 100% !important;
            }
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        @include rem('margin-bottom', 25px);

        @include media-breakpoint-up(xl) {
            display: none;
        }
    }

    &__controls-header {
        text-align: center;
        @include rem('padding', 0 15px)
    }

    &__controls-title {
        @include rem('font-size', 12px);
        font-weight: 500;
        @include rem('margin-bottom', 5px)
    }

    &__control {
        background-repeat: no-repeat;
        background-position: center;
        @include rem('max-width', 42px);
        @include rem('flex', 0 0 42px);
        @include rem('height', 42px);
        @include rem('background-size', 10px);
        outline: none !important;
        border-radius: 50%;
        padding: 0;
        z-index: 4;
        background-color: $blue;
        border: none;

        &:hover,
        &:focus {
            filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0));
        }

        &.--prev {
            background-image: url("../img/general/ic-angle_left_white.svg");
        }

        &.--next {
            background-image: url("../img/general/ic-angle_right_white.svg");
        }
    }

    &__pagination {
        position: static;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: 3;

        .swiper-pagination-bullet {
            @include rem('margin', 0 4px);
            @include rem('width', 10px);
            @include rem('height', 10px);
            opacity: 1;
            background: #fff;
            border: 1px solid #000;
        }

        .swiper-pagination-bullet-active {
            background: $blue;
            border-color: $blue;
        }
    }

    &__item {
        filter: drop-shadow(0px 0px 25px rgba(120, 120, 120, 0.15));
        background-color: #fff;
        @include rem('border-radius', 0 0 6px 6px);
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            height: 100%;
        }
    }

    &__header {
        background-color: $blue;
        text-align: center;
        position: relative;
        @include rem('border-radius', 6px 6px 0 0);
        @include rem('padding', 15px 7px);
        @include rem('height', 134px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__header-title {
        @include rem('font-size', 18px);
        font-weight: 600;
        color: #fff;
        line-height: 1.2;
    }

    &__header-desc {
        @include rem('font-size', 12px);
        color: rgba(255, 255, 255, .8);
        @include rem('margin-top', 10px);
    }

    &__id {
        @include rem('font-size', 12px);
        color: #fff;
        position: absolute;
        @include rem('top', 10px);
        @include rem('left', 10px);
    }

    &__body {
        @include rem('font-size', 13px);
        @include rem('padding', 15px);
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        p {
            margin: 0;
        }

        p:nth-child(2) {
            margin-top: 15px;
        }
    }

    &__divider {
        height: 1px;
        background-color: rgba($blue, .2);
        @include rem('margin', 20px 0)
    }

    &__products {
        @include rem('margin-top', 15px)
    }

    &__product-img {
        text-align: center;

        img {
            @include rem('height', 40px)
        }
    }

    &__product-title {
        @include rem('font-size', 12px);
        font-weight: 500;
        @include rem('margin-top', 5px)
    }

    &__footer {
        margin-top: auto;
    }

    &__price {
        @include rem('font-size', 20px);
        font-weight: 500;
        @include rem('margin-bottom', 10px);
        color: $blue;
    }

    &__button {
        @include rem('font-size', 16px);
        @include rem('width', 210px);
        @include rem('height', 50px);
        @include rem('margin-top', 15px);
    }

    &__icon {
        @include rem('width', 22px);
        @include rem('height', 22px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: inline-flex;
    }
}
