/*
|--------------------------------------------------------------------------
| ui-kit
|--------------------------------------------------------------------------
*/

.ui-kit {
    font-size: 13px;
    background-color: #ecf0fa;

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background: #fff !important;
        background-clip: border-box;
        border-radius: 5px;
        border: 1px solid #deebfd;
        margin-bottom: 1.3rem;
        box-shadow: -8px 12px 18px 0 #dadee8;
    }

    .card-title {
        text-transform: uppercase;
    }

    .example {
        padding: 1rem;
        border: 1px solid #e7ebf5;
    }

    .html-source.nav-tabs .nav-item {
        margin-bottom: -1px;
    }

    .nav-tabs {
        align-items: flex-end;
        margin-top: 20px;
    }

    .nav-tabs .nav-link {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 0;
        padding: 10px 15px;
        line-height: 1.428;
        color: #4d5875;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: none;
    }

    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-link:focus {
        background-color: rgba(255, 255, 255, 0.5);
        color: #242f48;
    }

    .nav-tabs .nav-link:hover,
    .nav-tabs .nav-link:focus {
        border-color: #dde2ef #dde2ef #d0d7e8;
    }

    .nav-link.html-code {
        background: #ecf0fa;
        display: inline-flex;
        -webkit-box-align: center;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        align-items: center;
    }

    .nav-link.html-code.active {
        background-color: #23241f;
        color: white;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .highlight {
        margin: 0 0 2rem;
        border: none;
        border-radius: 0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        font-size: 0.9375rem;
        background: #edeff7;
        border-top-right-radius: 8px;
        position: relative !important;
    }

    pre {
        color: #3d3f4e;
        padding: 1rem;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        background-color: #edeff7;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        border-top-right-radius: 7px;
    }

    .highlight pre {
        margin-bottom: 0;
        background-color: #23241f;
        max-height: 20rem;
    }

    .clipboard-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 25px;
        background: #fff;
        border: 1px solid #e7ebf5;
        border-radius: 8px;
        cursor: pointer;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 33px;
    }

    pre code {
        font-size: inherit;
        color: #2d91fb;
        word-break: normal;
    }
}

/*
|--------------------------------------------------------------------------
| Display Size
|--------------------------------------------------------------------------
*/

.display-size {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 21px;
    color: #fff;
    background: #000;
    padding: 5px 10px;
    z-index: 99999;

    &:after {

        @include media-breakpoint-up(lg) {
            content: 'min-width: 992px (lg)';
        }

        @include media-breakpoint-up(xl) {
            content: 'min-width: 1200px (xl)';
        }


        @include media-breakpoint-up(xxl) {
            content: 'min-width: 1366px (xxl)';
        }

        @include media-breakpoint-up(xxl2) {
            content: 'min-width: 1440px (xxl2)';
        }

        @include media-breakpoint-up(xxl3) {
            content: 'min-width: 1680px (xxl3)';
        }

        @include media-breakpoint-up(xxl4) {
            content: 'min-width: 1920px (xxl4)';
        }

        @include media-breakpoint-down(xxl4) {
            //content: 'aaaaaa';
        }

        @include media-breakpoint-down(xxl3) {
            //content: 'aaa';
        }
    }
}
