/*
|--------------------------------------------------------------------------
| partners
|--------------------------------------------------------------------------
*/

.partners {
    @include rem('max-width', 1000px);
    width: 100%;
    margin: 0 auto;
    position: relative;

    &__item {
        @include rem('width', 160px);
        margin: 0 auto;
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
        @include transition(.3s);
        opacity: .5;

        &:hover,
        &:focus {
            filter: none;
            opacity: 1;
        }
    }

    &__controls {

    }

    &__control {
        @include center(vertical);
        @include rem('width', 40px);
        @include rem('height', 40px);
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        @include transition(.1s);
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        outline: none !important;
        border-radius: 50%;

        @include media-breakpoint-down(md) {
            display: none;
        }

        &:hover,
        &:focus {
            background-color: $blue;
        }

        &.--prev {
            @include rem('left', -70px);
            background-image: url("../img/general/ic-angle_left.svg");
        }

        &.--next {
            @include rem('right', -70px);
            background-image: url("../img/general/ic-angle_right.svg");
        }
    }

    &__pagination {
        position: static;
        display: flex;
        justify-content: center;
        @include rem('margin-top', 45px);

        .swiper-pagination-bullet {
            @include rem('width', 6px);
            @include rem('height', 6px);
            opacity: 1;
            background-color: $gray;
            @include rem('margin', 0 5px);
        }

        .swiper-pagination-bullet-active {
            @include rem('width', 30px);
            @include rem('border-radius', 32px);
        }
    }
}
