/*
|--------------------------------------------------------------------------
| custom-radio
|--------------------------------------------------------------------------
*/

.custom-radio {
    font-weight: normal;
    position: relative;
    display: block;
    line-height: 1.2;

    span {
        @include rem('padding-left', 30px);

        &:before, &:after {
            line-height: 20px;
            position: absolute;
        }

        &:before {
            content: '';
            @include rem('width', 18px);
            @include rem('height', 18px);
            background-color: #F6F6F6;
            border: 1px solid #DDE0E5;
            border-radius: 50%;
            top: 0;
            left: 0;
        }

        &:after {
            content: '';
            @include rem('height', 10px);
            @include rem('width', 10px);
            background-color: $white;
            border-radius: 50%;
            @include rem('top', 4px);
            @include rem('left', 4px);
            display: none;
        }

        &:empty {
            padding-left: 0;
            width: 16px;
            display: block;
        }
    }

    input[type='radio'] {
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &:checked + span {
            
            &:before {
                border-color: transparent;
                background-color: $blue
            }

            &:after {
                display: block;
            }
        }

        &[disabled] + span {
            opacity: .75;

            &:before, &:after {
                opacity: .75;
            }
        }
    }
}
