/*
|--------------------------------------------------------------------------
| custom-checkbox
|--------------------------------------------------------------------------
*/

.custom-checkbox {
    font-weight: normal;
    position: relative;
    display: flex;
    line-height: 1.2;

    span {
        @include rem('padding-left', 30px);

        &:empty {
            float: left;
        }

        &:before, &:after {
            line-height: 20px;
            position: absolute;
        }

        &:before {
            content: '';
            @include rem('width', 18px);
            @include rem('height', 18px);
            background-color: #F6F6F6;
            border: 1px solid #DDE0E5;
            @include rem('border-radius', 5px);
            top: 0;
            left: 0;
        }

        &:after {
            top: 0;
            left: 0;
            @include rem('width', 18px);
            @include rem('height', 18px);
            content: '';
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.45453 5.45456L4.63635 8.63638L11.9091 1.36365' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
            background-size: 65%;
            background-repeat: no-repeat;
            background-position: 55% 45%;
            background-color: $blue;
            line-height: 17px;
            display: none;
            @include rem('border-radius', 3px);
        }

        &:empty {
            padding-left: 0;
            width: 3px;
        }
    }

    input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &:checked + span:after {
            display: block;
        }

        &[disabled] + span {
            opacity: .75;

            &:before, &:after {
                opacity: .75;
            }
        }
    }
}
