/*
|--------------------------------------------------------------------------
| forms
|--------------------------------------------------------------------------
*/

@import 'custom-radio';
@import 'custom-file';
@import 'custom-checkbox';
@import 'switches';

.control {
    @include rem('margin-bottom', 15px);
    text-align: left;

    &.has-error {

        input,
        textarea {
            border-color: $red !important;
        }

        .control__help {
            display: block;
        }
    }

    &__label {
        @include rem('font-size', 12px);
        @include rem('margin-bottom', 5px);
    }

    &__input {
        line-height: 1.5;
        color: #000;
        display: block;
        width: 100%;
        @include rem('padding', 5px 15px);
        @include rem('height', 45px);
        background-color: #fff;
        background-image: none;
        border: 1px solid #B9CAD4;
        transition: all .1s ease-in;
        -webkit-appearance: none;
        @include rem('border-radius', 5px);

        &:focus {
            background-color: #fff;
            outline: none;
            border-color: $blue;
            outline: 0;
        }

        &::placeholder {
            color: rgba(0, 0, 0, .5)
        }
    }

    &__textarea {
        line-height: 1.5;
        color: #000;
        display: block;
        width: 100%;
        @include rem('padding', 15px 15px);
        @include rem('min-height', 145px);
        background-color: #fff;
        background-image: none;
        border: 1px solid #B9CAD4;
        transition: all .1s ease-in;
        -webkit-appearance: none;
        @include rem('border-radius', 5px);
        resize: none;

        &:focus {
            background-color: #fff;
            outline: none;
            border-color: $blue;
            outline: 0;
        }

        &::placeholder {
            color: rgba(0, 0, 0, .5)
        }
    }

    &__select {
        @include rem('font-size', 14px);
        @include rem('height', 45px);
        @include rem('border-radius', 5px);
        border: 1px solid $gray;
        @include rem('padding', 5px 15px);
        width: 100%;
        background: #fff url("../img/general/ic-angle_down.svg") center right 15px no-repeat;
        @include transition(.1s);

        &:focus {
            background: url("../img/general/ic-angle_up.svg") center right 15px no-repeat;
        }

        option:first-child {
            color: $gray;
        }
    }

    &__help {
        @include rem('font-size', 12px);
        color: $red;
        @include rem('margin-top', 5px);
        text-align: left;
        display: none;
    }
}
