.switch {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &__label {
        align-items: center;
        background-color: #F7F7F7;
        @include rem('border-radius', 32px);
        cursor: pointer;
        display: flex;
        @include rem('height', 25px);
        justify-content: space-between;
        user-select: none;
        @include rem('width', 48px);
        @include rem('flex', 0 0 48px);
        @include rem('max-width', 48px);
        position: relative;
        border: 1px solid #B9CAD4;
        margin-bottom: 0;
    }

    &__checkbox {
        pointer-events: none;
        opacity: 0;
        position: absolute;
        visibility: hidden;
    }

    &__title {
        @include rem('font-size', 14px);
        font-weight: 500;
        color: $black;
        @include rem('padding-left', 15px);
        margin-bottom: 0;
        cursor: pointer;
    }
}

.switch__checkbox:checked ~ .switch__label {
    background-color: $blue;
}

.switch__checkbox:checked ~.switch__label + .switch__title {

    span:last-child {
        display: none;
    }

    span:first-child {
        display: block;
    }
}

.switch__checkbox:not(:checked) ~ .switch__label {
    background-color: #F7F7F7;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.switch__checkbox:not(:checked) ~ .switch__label + .switch__title {

    span:first-child {
        display: none;
    }

    span:last-child {
        display: block;
    }
}

.switch__checkbox:checked ~ .switch__label span + .switch__title {
    color: $blue;
}

.switch__left,
.switch__right {
    background-repeat: no-repeat;
    background-position: center;
    @include rem('width', 10px);
    @include rem('height', 10px)
}

.switch__left {
    @include rem('margin-left', 7px);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.66204 1.96966L6.63208 4.99993L9.66204 8.03006C10.1127 8.48093 10.1127 9.21127 9.66204 9.66213C9.43686 9.88732 9.14162 10 8.84653 10C8.55095 10 8.25568 9.88749 8.03067 9.66213L5.00005 6.63165L1.96966 9.6621C1.7445 9.88729 1.44923 9.99997 1.15388 9.99997C0.858615 9.99997 0.563551 9.88746 0.338191 9.6621C-0.112501 9.21144 -0.112501 8.48107 0.338191 8.03004L3.36807 4.9999L0.338019 1.96966C-0.112673 1.51896 -0.112673 0.788452 0.338019 0.33776C0.788624 -0.112587 1.51871 -0.112587 1.96948 0.33776L5.00002 3.36804L8.03032 0.33776C8.48119 -0.112587 9.21135 -0.112587 9.66187 0.33776C10.1127 0.788452 10.1127 1.51896 9.66204 1.96966Z' fill='%23B9CAD4'/%3E%3C/svg%3E%0A");
}

.switch__right {
    @include rem('margin-right', 7px);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.7071 1.70841L4.43168 6.98347C4.04103 7.37419 3.40733 7.37419 3.01631 6.98347L0.293099 4.26006C-0.0976998 3.86933 -0.0976998 3.23556 0.293099 2.84476C0.683973 2.45389 1.31762 2.45389 1.70832 2.84461L3.7242 4.86052L8.29165 0.293044C8.68253 -0.0978293 9.31622 -0.0975333 9.70695 0.293044C10.0977 0.683843 10.0977 1.31739 9.7071 1.70841Z' fill='white'/%3E%3C/svg%3E%0A");
}

.switch__checkbox:checked ~ .switch__label .switch__left {
    visibility: hidden;
}

.switch__checkbox:not(:checked) ~ .switch__label .switch__right {
    visibility: hidden;
}

.switch__circle {
    @include rem('width', 20px);
    @include rem('height', 20px);
    background-color: #B9CAD4;
    position: absolute;
    @include transition(.1s);
    border-radius: 50%;
}

.switch__checkbox:checked ~ .switch__label .switch__circle {
    @include rem('left', 2px);
    background-color: #fff;
}

.switch__checkbox:not(:checked) ~ .switch__label .switch__circle {
    @include rem('left', 23px);
}
