<label class="custom-radio">
    <input name="radio" type="radio">
    <span>Radio Unchecked</span>
</label>

<label class="custom-radio"><input name="radio" type="radio" checked>
    <span>Radio Checked</span>
</label>

<label class="custom-radio">
    <input name="radio" type="radio" disabled>
    <span>Radio Disabled</span>
</label>
