<label class="custom-checkbox">
    <input type="checkbox">
    <span>Checkbox Unchecked</span>
</label>

<label class="custom-checkbox">
    <input type="checkbox" checked>
    <span>Checkbox Checked</span>
</label>

<label class="custom-checkbox">
    <input type="checkbox" disabled>
    <span>Checkbox Disabled</span>
</label>
