/*
|--------------------------------------------------------------------------
| currency-switcher
|--------------------------------------------------------------------------
*/

.currency-switcher {
    position: fixed;
    right: 35%;
    bottom: 18%;
    z-index: 100;

    @include media-breakpoint-up(lg) {
        right: 15%;
        bottom: 15%;
    }
}

.currency-switcher__toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: #2074C2;
    z-index: 2;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    outline: none !important;

    .currency-switcher__text {

        @include media-breakpoint-down(md) {
            display: block;
        }
    }
}

.currency-switcher__list {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    top: -5px;
    left: 0;
    z-index: 1;
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

.currency-switcher__list li {
    position: absolute;
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: 0;
    background: #3899F6;
    color: #fff;
    transition: all 0.3s;
    transform: scale(0);
}

.currency-switcher__list li:nth-child(1) {
    background: #3899F6;
}

.currency-switcher__list li:nth-child(2) {
    background: #2074C2;
}

.currency-switcher__list li:nth-child(3) {
    background: #0870D3;
}

.currency-switcher__list li:nth-child(4) {
    background: #085EAF;
}

.currency-switcher__list li a {
    background: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
}

.currency-switcher__list li:hover,
.currency-switcher__list li:active {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.currency-switcher__toggle.--active {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.currency-switcher__toggle.--active ~ .currency-switcher__list li {
    transition: all 0.3s;
    transform: scale(1);
}
.currency-switcher__toggle.--active ~ .currency-switcher__list li:nth-child(1) {
    margin-top: -58px;
}
.currency-switcher__toggle.--active ~ .currency-switcher__list li:nth-child(2) {
    margin-top: -121px;
}
.currency-switcher__toggle.--active ~ .currency-switcher__list li:nth-child(3) {
    margin-top: -183px;
}
.currency-switcher__toggle.--active ~ .currency-switcher__list li:nth-child(4) {
    margin-top: -245px;
}

.currency-switcher__toggle span {
    transition: all 0.3s;
}

.currency-switcher__toggle.--active {
    background: #fff url('../img/general/ic-close.svg') center no-repeat;
}

.currency-switcher__toggle.--active img {
    opacity: 0;
}

.currency-switcher__text {
    @include rem('font-size', 14px);
    color: #000;
    position: absolute;
    white-space: nowrap;
    transform: translateY(100%);
    @include rem('margin-top', 50px);

    @include media-breakpoint-down(md) {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        left: 62px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0;
    }
}

.currency-switcher__value {
    color: #0A83F6;
}


