/*
|--------------------------------------------------------------------------
| breadcrumb
|--------------------------------------------------------------------------
*/

.breadcrumbs {
    @include nl();
    position: relative;
    background: none;
    display: block;

    &__item {
        color: $gray;
        display: inline-block;
        position: relative;
        @include rem('margin-right', 5px);

        &:before {
            color: $gray;
            content: '/';
            display: inline-block;
            vertical-align: middle;
            margin: -2px 3px 0 0;
        }

        &:first-child:before {
            display: none
        }

        &:last-child {

            .breadcrumbs__link {
                color: $blue;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }

    &__link {
        @include rem('font-size', 14px);
        color: $gray;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}
