<!-- Breadcrumbs Begin -->
<ul class="breadcrumbs">
    <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Новости</a>
    </li>
    <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Страница новости</a>
    </li>
</ul><!--/. Breadcrumbs End -->
