/*
|--------------------------------------------------------------------------
| method
|--------------------------------------------------------------------------
*/

.method {
    position: relative;
    z-index: 0;

    &__content {

        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }

    &__item {
        text-align: center;
        position: relative;
        @include rem('width', 290px);
        @include rem('margin', 0 auto 75px);
        z-index: 2;

        @include media-breakpoint-up(lg) {
            max-width: 25%;
            flex: 0 0 25%;
            width: 25%;
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(odd) {
            @include rem('padding-right', 35px);

            @include media-breakpoint-up(lg) {
                padding: 0;
            }
        }

        &:nth-child(even) {
            @include rem('padding-left', 35px);

            @include media-breakpoint-up(lg) {
                @include rem('margin-top', 80px);
                padding: 0;
            }
        }

        &:nth-child(1) {

            &:after {
                content: '';
                position: absolute;
                background: url("../img/general/steps-arrow.svg") center/100% no-repeat;
                @include rem('left', 116px);
                @include rem('top', 87px);
                @include rem('width', 226px);
                @include rem('height', 110px);
                transform: rotate(-300deg);

                @include media-breakpoint-up(lg) {
                    @include rem('left', 165px);
                    @include rem('top', -11px);
                    @include rem('width', 182px);
                    @include rem('height', 78px);
                    transform: none;
                }

                @include media-breakpoint-up(xl) {
                    @include rem('left', 190px);
                    @include rem('top', -12px);
                    @include rem('width', 226px);
                    @include rem('height', 84px);
                }
            }
        }

        &:nth-child(2) {

            &:after {
                content: '';
                position: absolute;
                background: url("../img/general/steps-arrow-2.svg") center/100% no-repeat;
                @include rem('left', -37px);
                @include rem('top', 93px);
                @include rem('width', 210px);
                @include rem('height', 110px);
                transform: rotate(-236deg);

                @include media-breakpoint-up(lg) {
                    @include rem('left', 172px);
                    @include rem('top', 3px);
                    @include rem('width', 141px);
                    @include rem('height', 70px);
                    transform: none;
                }

                @include media-breakpoint-up(xl) {
                    @include rem('left', 192px);
                    @include rem('top', -16px);
                    @include rem('width', 186px);
                    @include rem('height', 122px);
                }
            }
        }

        &:nth-child(3) {

            &:after {
                content: '';
                position: absolute;
                background: url("../img/general/steps-arrow.svg") center/100% no-repeat;
                @include rem('left', 116px);
                @include rem('top', 87px);
                @include rem('width', 226px);
                @include rem('height', 110px);
                transform: rotate(-300deg);

                @include media-breakpoint-up(lg) {
                    @include rem('left', 165px);
                    @include rem('top', -11px);
                    @include rem('width', 182px);
                    @include rem('height', 78px);
                    transform: none;
                }

                @include media-breakpoint-up(xl) {
                    @include rem('left', 190px);
                    @include rem('top', -12px);
                    @include rem('width', 226px);
                    @include rem('height', 84px);
                }
            }
        }
    }

    &__title {
        @include rem('font-size', 18px);
        @include rem('margin', 25px auto 0);
        font-weight: 700;
        @include rem('max-width', 235px);
        width: 100%;

        @include media-breakpoint-up(lg) {
            @include rem('font-size', 18px);
            @include rem('max-width', 270px);
        }

        span {
            @include rem('font-size', 16px);
            font-weight: 300;
        }
    }
}
