// background-color
.bg-aqua {
    background-color: #F1F7FA;;
}

.bg-blue {
    background-color: $blue;
}

.bg-navy {
    background-color: $navy;
}

.bg-teal {
    background-color: $teal;
}

.bg-green {
    background-color: $green;
}

.bg-olive {
    background-color: $olive;
}

.bg-lime {
    background-color: $lime;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-orange {
    background-color: $orange;
}

.bg-red {
    background-color: $red;
}

.bg-fuchsia {
    background-color: $fuchsia;
}

.bg-purple {
    background-color: $purple;
}

.bg-maroon {
    background-color: $maroon;
}

.bg-white {
    background-color: $white;
}

.bg-silver {
    background-color: $silver;
}

.bg-gray {
    background-color: $gray;
}

.bg-black {
    background-color: $black;
}

