



// row gutter
.row.row-no-gutter,
[data-gutter="0"],
.row[data-gutter="none"] {
    margin: 0 !important;
}

.row.row-no-gutter > [class^="col"],
.row[data-gutter="0"] > [class^="col"],
.row[data-gutter="none"] > [class^="col"] {
    padding: 0 !important;
}

.row[data-gutter="10"] {
    margin-left: -5px;
    margin-right: -5px;
}

.row[data-gutter="10"] > [class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
}

.row[data-gutter="15"] {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.row[data-gutter="15"] > [class^="col"] {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.row[data-gutter="20"] {
    margin-left: -10px;
    margin-right: -10px;
}

.row[data-gutter="20"] > [class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
}

.row[data-gutter="30"] {
    margin-left: -15px;
    margin-right: -15px;
}

.row[data-gutter="30"] > [class^="col"] {
    padding-left: 15px;
    padding-right: 15px;
}

.row[data-gutter="40"] {
    margin-left: -20px;
    margin-right: -20px;
}

.row[data-gutter="40"] > [class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
}

.row[data-gutter="50"] {
    margin-left: -25px;
    margin-right: -25px;
}

.row[data-gutter="50"] > [class^="col"] {
    padding-left: 25px;
    padding-right: 25px;
}

.row[data-gutter="60"] {
    margin-left: -30px;
    margin-right: -30px;
}

.row[data-gutter="60"] > [class^="col"] {
    padding-left: 30px;
    padding-right: 30px;
}

.row[data-gutter="70"] {
    margin-left: -35px;
    margin-right: -35px;
}

.row[data-gutter="70"] > [class^="col"] {
    padding-left: 35px;
    padding-right: 35px;
}

.row[data-gutter="80"] {
    margin-left: -40px;
    margin-right: -40px;
}

.row[data-gutter="80"] > [class^="col"] {
    padding-left: 40px;
    padding-right: 40px;
}

@include media-breakpoint-up(lg) {

    .row[data-lg-gutter="10"] {
        margin-left: -5px;
        margin-right: -5px;
    }

    .row[data-lg-gutter="10"] > [class^="col"] {
        padding-left: 5px;
        padding-right: 5px;
    }

    .row[data-lg-gutter="15"] {
        margin-left: -7.5px;
        margin-right: -7.5px;
    }

    .row[data-lg-gutter="15"] > [class^="col"] {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    .row[data-lg-gutter="20"] {
        margin-left: -10px;
        margin-right: -10px;
    }

    .row[data-lg-gutter="20"] > [class^="col"] {
        padding-left: 10px;
        padding-right: 10px;
    }

    .row[data-lg-gutter="30"] {
        margin-left: -15px;
        margin-right: -15px;
    }

    .row[data-lg-gutter="30"] > [class^="col"] {
        padding-left: 15px;
        padding-right: 15px;
    }

	.row[data-lg-gutter="40"] {
		margin-left: -20px;
		margin-right: -20px;
	}

	.row[data-lg-gutter="40"] > [class^="col"] {
		padding-left: 20px;
		padding-right: 20px;
	}

    .row[data-lg-gutter="50"] {
        margin-left: -25px;
        margin-right: -25px;
    }

    .row[data-lg-gutter="50"] > [class^="col"] {
        padding-left: 25px;
        padding-right: 25px;
    }

    .row[data-lg-gutter="60"] {
        margin-left: -30px;
        margin-right: -30px;
    }

    .row[data-lg-gutter="60"] > [class^="col"] {
        padding-left: 30px;
        padding-right: 30px;
    }

    .row[data-lg-gutter="70"] {
        margin-left: -35px;
        margin-right: -35px;
    }

    .row[data-lg-gutter="70"] > [class^="col"] {
        padding-left: 35px;
        padding-right: 35px;
    }

    .row[data-lg-gutter="80"] {
        margin-left: -40px;
        margin-right: -40px;
    }

    .row[data-lg-gutter="80"] > [class^="col"] {
        padding-left: 40px;
        padding-right: 40px;
    }
}

// vertical gutter
.row[vertical-gutter="10"] {
    margin-top: -5px;
    margin-bottom: -5px;
}

.row[vertical-gutter="10"]  > [class^="col"] {
    margin-top: 5px;
    margin-bottom: 5px;
}

.row[vertical-gutter="15"] {
    margin-top: -7.5px;
    margin-bottom: -7.5px;
}

.row[vertical-gutter="15"]  > [class^="col"] {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.row[vertical-gutter="20"] {
    margin-top: -10px;
    margin-bottom: -10px;
}

.row[vertical-gutter="20"]  > [class^="col"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row[vertical-gutter="25"] {
    margin-top: -12.5px;
    margin-bottom: -12.5px;
}

.row[vertical-gutter="25"]  > [class^="col"] {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.row[vertical-gutter="30"] {
    margin-top: -15px;
    margin-bottom: -15px;
}

.row[vertical-gutter="30"]  > [class^="col"] {
    margin-top: 15px;
    margin-bottom: 15px;
}

.row[vertical-gutter="40"] {
    margin-top: -20px;
    margin-bottom: -20px;
}

.row[vertical-gutter="40"]  > [class^="col"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row[vertical-gutter="50"] {
    margin-top: -25px;
    margin-bottom: -25px;
}

.row[vertical-gutter="50"]  > [class^="col"] {
    margin-top: 25px;
    margin-bottom: 25px;
}

.row[vertical-gutter="60"] {
    margin-top: -30px;
    margin-bottom: -30px;
}

.row[vertical-gutter="60"]  > [class^="col"] {
    margin-top: 30px;
    margin-bottom: 30px;
}

.row[vertical-gutter="70"] {
    margin-top: -35px;
    margin-bottom: -35px;
}

.row[vertical-gutter="70"]  > [class^="col"] {
    margin-top: 35px;
    margin-bottom: 35px;
}

.row[vertical-gutter="80"] {
    margin-top: -40px;
    margin-bottom: -40px;
}

.row[vertical-gutter="80"]  > [class^="col"] {
    margin-top: 40px;
    margin-bottom: 40px;
}

@include media-breakpoint-up(lg) {

    .row[vertical-lg-gutter="10"] {
        margin-top: -5px;
        margin-bottom: -5px;
    }

    .row[vertical-lg-gutter="10"]  > [class^="col"] {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .row[vertical-lg-gutter="15"] {
        margin-top: -7.5px;
        margin-bottom: -7.5px;
    }

    .row[vertical-lg-gutter="15"]  > [class^="col"] {
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }

    .row[vertical-lg-gutter="20"] {
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .row[vertical-lg-gutter="20"]  > [class^="col"] {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .row[vertical-lg-gutter="25"] {
        margin-top: -12.5px;
        margin-bottom: -12.5px;
    }

    .row[vertical-lg-gutter="25"]  > [class^="col"] {
        margin-top: 12.5px;
        margin-bottom: 12.5px;
    }

    .row[vertical-lg-gutter="30"] {
        margin-top: -15px;
        margin-bottom: -15px;
    }

    .row[vertical-lg-gutter="30"]  > [class^="col"] {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .row[vertical-lg-gutter="40"] {
        margin-top: -20px;
        margin-bottom: -20px;
    }

    .row[vertical-lg-gutter="40"]  > [class^="col"] {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .row[vertical-lg-gutter="50"] {
        margin-top: -25px;
        margin-bottom: -25px;
    }

    .row[vertical-lg-gutter="50"]  > [class^="col"] {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .row[vertical-lg-gutter="60"] {
        margin-top: -30px;
        margin-bottom: -30px;
    }

    .row[vertical-lg-gutter="60"]  > [class^="col"] {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .row[vertical-lg-gutter="70"] {
        margin-top: -35px;
        margin-bottom: -35px;
    }

    .row[vertical-lg-gutter="70"]  > [class^="col"] {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .row[vertical-lg-gutter="80"] {
        margin-top: -40px;
        margin-bottom: -40px;
    }

    .row[vertical-lg-gutter="80"]  > [class^="col"] {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
