/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @include rem('margin-bottom', 15px);
    font-weight: 600;
    line-height: 1.2;
}

h1, .h1 {
    @include rem('font-size', 36px);
}

h2, .h2 {
    @include rem('font-size', 24px);
}

h3, .h3 {
    @include rem('font-size', 18px);
}

h4, .h4 {
    @include rem('font-size', 17px);
}

h5, .h5 {
    @include rem('font-size', 14px);
}

h6, .h6 {
    @include rem('font-size', 12px);
}

a {
    color: $blue;
    @include transition(.1s);

    &:hover,
    &:focus {
        color: darken($blue, 10%);
        text-decoration: none;
    }
}


// font styles

.tx-black {
    font-weight: 900;
}

.tx-bold {
    font-weight: 700;
}

.tx-semibold {
    font-weight: 600;
}

.tx-medium {
    font-weight: 500;
}

.tx-normal {
    font-weight: 400;
}

.tx-light {
    font-weight: 300;
}

.tx-thin {
    font-weight: 200;
}

.tx-xthin {
    font-weight: 100;
}

// font sizes

.tx-8 {
    font-size: 8px;
}

.tx-8-f {
    font-size: 8px !important;
}

.tx-9 {
    font-size: 9px;
}

.tx-9-f {
    font-size: 9px !important;
}

.tx-10 {
    font-size: 10px;
}

.tx-10-f {
    font-size: 10px !important;
}

.tx-11 {
    font-size: 11px;
}

.tx-11-f {
    font-size: 11px !important;
}

.tx-12 {
    font-size: 12px;
}

.tx-12-f {
    font-size: 12px !important;
}

.tx-13 {
    font-size: 13px;
}

.tx-13-f {
    font-size: 13px !important;
}

.tx-14 {
    font-size: 14px;
}

.tx-14-f {
    font-size: 14px !important;
}

.tx-15 {
    font-size: 15px;
}

.tx-15-f {
    font-size: 15px !important;
}

.tx-16 {
    font-size: 16px;
}

.tx-16-f {
    font-size: 16px !important;
}

.tx-17 {
    font-size: 17px;
}

.tx-18 {
    font-size: 18px;
}

.tx-18-f {
    font-size: 18px !important;
}

.tx-19 {
    font-size: 19px;
}

.tx-19-f {
    font-size: 19px !important;
}

.tx-20 {
    font-size: 20px !important;
}

.tx-20-f {
    font-size: 20px !important;
}

.tx-21 {
    font-size: 21px;
}

.tx-21-f {
    font-size: 21px !important;
}

.tx-22 {
    font-size: 22px;
}

.tx-22-f {
    font-size: 22px !important;
}

.tx-23 {
    font-size: 23px;
}

.tx-23-f {
    font-size: 23px !important;
}

.tx-24 {
    font-size: 24px;
}

.tx-24-f {
    font-size: 24px !important;
}

.tx-25 {
    font-size: 25px;
}

.tx-25-f {
    font-size: 25px !important;
}

.tx-26 {
    font-size: 26px;
}

.tx-26-f {
    font-size: 26px !important;
}

.tx-27 {
    font-size: 27px;
}

.tx-27-f {
    font-size: 27px !important;
}

.tx-28 {
    font-size: 28px;
}

.tx-28-f {
    font-size: 28px !important;
}

.tx-29 {
    font-size: 29px;
}

.tx-29-f {
    font-size: 29px !important;
}

.tx-30 {
    font-size: 30px;
}

.tx-30 {
    font-size: 30px !important;
}

// text colors
.tx-aqua {
    color: $aqua !important;
}

.tx-blue {
    color: $blue !important;
}

.tx-navy {
    color: $navy !important;
}

.tx-teal {
    color: $teal !important;
}

.tx-green {
    color: $green !important;
}

.tx-olive {
    color: $olive !important;
}

.tx-lime {
    color: $lime !important;
}

.tx-yellow {
    color: $yellow !important;
}

.tx-orange {
    color: $orange !important;
}

.tx-red {
    color: $red !important;
}

.tx-fuchsia {
    color: $fuchsia !important;
}

.tx-purple {
    color: $purple !important;
}

.tx-maroon {
    color: $maroon !important;
}

.tx-white {
    color: $white !important;
}

.tx-silver {
    color: $silver !important;
}

.tx-gray {
    color: $gray !important;
}

.tx-black {
    color: $black !important;
}
