/*
|--------------------------------------------------------------------------
| m-menu
|--------------------------------------------------------------------------
*/

.m-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    transform: translateX(-100%);
    @include transition(.5s);
    background: #fff;
    z-index: 105;

    &__body {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;
        @include rem('padding', 75px 15px);
        text-align: center;
    }

    &__list {
        @include nl();
        @include rem('margin-top', 25px)
    }

    &__item {
        @include rem('margin-bottom', 12px);
    }

    &__link {
        @include rem('font-size', 18px);
        font-weight: 500;
        color: $black;
        position: relative;

        &:hover,
        &:focus,
        &:active {
            color: $blue;
            text-decoration: none;
        }

        &.--active {
            font-weight: 600;
        }
    }

    &__contacts {
        display: flex;
        justify-content: center;
        @include rem('margin-top', 25px)
    }

    &__info {
        @include rem('padding-left', 25px);
        position: relative;
        text-align: left;
        @include rem('margin', 0 15px);
    }

    &__info-icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        color: $black;
    }

    &__info-subtitle {
        @include rem('font-size', 14px);
        color: $gray;
    }

    &__button {
        @include rem('margin', 25px auto 0)
    }

    &__social {
        @include rem('margin-top', 25px !important);
        justify-content: center;
    }

    &.is-show {
        transform: translateX(0);
        visibility: visible;
    }
}
